Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

Adds some hint text to backend
  app/admin/companies.rb
Due: bundle exec rubocop

WIP: Adds latest information block
  app/views/tpi/companies/show.html.erb
Due: none

Changes from single sector to multiple sectors for publications and articles
  app/admin/news_article.rb
  app/admin/publication.rb
  app/controllers/tpi/publications_controller.rb
  app/decorators/news_article_decorator.rb
  app/decorators/publication_decorator.rb
  app/models/news_article.rb
  app/models/publication.rb
  app/views/tpi/publications/_promoted.html.erb
  db/migrate/20191217083323_create_join_table_publications_tpi_sectors.rb
  db/migrate/20191217085001_create_join_table_news_articles_tpi_sectors.rb
  db/schema.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
Due: bundle exec rubocop

Annotated models
  app/models/news_article.rb
  app/models/publication.rb
  app/models/target.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
  spec/factories/targets.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
  spec/models/target_spec.rb
Due: bundle exec rubocop

Fixes wrong join
  app/services/queries/tpi/news_publications_query.rb
Due: bundle exec rubocop

Fixes spec
  spec/services/queries/tpi/news_publications_query_spec.rb
Due: bundle exec rubocop

Fixes routing constraints, I think
  config/routes.rb
Due: bundle exec rubocop

Shows INDC block for all countries
  app/views/cclow/geographies/show.html.erb
Due: none

Style latest information section
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Due: none

create ui for time range filter
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_filters.scss
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/LitigationCases.js
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add time range filter to target and ligislation pages
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Style latest information accoding to designs
  app/assets/images/icons/minus.svg
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/LatestInformation.js
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx

Don't show Read more button if there are less or exactly three lines of text
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/LatestInformation.js
Due: eslint --ext .js --ext .jsx

Make investors and supporters clickable on TPI homepage
  app/assets/images/icons/plus-blue.svg
  app/assets/stylesheets/tpi/_hero.scss
  app/views/tpi/home/index.html.erb
Due: none

Includes publications and news on sector page
  app/controllers/tpi/sectors_controller.rb
  app/models/tpi_sector.rb
  app/views/tpi/sectors/show.html.erb
Due: bundle exec rubocop

Show a bit more detail on the events and responses
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: none

add filters by type and statuses
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix typo
  app/assets/stylesheets/cclow/_filters.scss
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix bugs when company has no mq assessments
  app/controllers/concerns/tpi/user_download.rb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

add missing published scopes for TPI
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/search_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/services/api/charts/cp_assessment.rb
Due: bundle exec rubocop

Fix publications layout
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_promoted.html.erb
Due: none

fix filter by date
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: bundle exec rubocop

fix specs, add global traits for visibility statuses
  spec/factories/visibility_statuses.rb
  spec/services/api/charts/cp_assessment_spec.rb
Due: bundle exec rubocop

fix filtering by last event date
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: bundle exec rubocop

remove old code
  app/javascript/shared/controllers/content_list_controller.js
  app/views/cclow/climate_targets/index.html.erb
  app/views/cclow/legislation_and_policies/_list_item.html.erb
  app/views/cclow/legislation_and_policies/index.html.erb
  app/views/cclow/litigation_cases/_list_item.html.erb
  app/views/cclow/litigation_cases/index.html.erb
Due: eslint --ext .js --ext .jsx

add load more button
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add missing filters
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Due: eslint --ext .js --ext .jsx

trying to fix full text filter working with other
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: bundle exec rubocop

remove not needed public icons
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  public/icons/arrow-down.svg
  public/icons/arrow-right.svg
  public/icons/check.svg
  public/icons/country-flag.svg
  public/icons/dark-minus.svg
  public/icons/dark-plus.svg
  public/icons/download.svg
  public/icons/filter-blue.svg
  public/icons/filter-white.svg
  public/icons/laws.svg
  public/icons/legal-scale.svg
  public/icons/legislation_types/executive.svg
  public/icons/legislation_types/legislative.svg
  public/icons/official-building.svg
  public/icons/oval.svg
  public/icons/plus.svg
  public/icons/search-again.svg
  public/icons/search.svg
  public/icons/star.svg
  public/icons/target.svg
  public/icons/trending-down.svg
  public/icons/trending-up.svg
  public/icons/white-chevron-down.svg
  public/icons/world.svg
  public/icons/x.svg
Due: eslint --ext .js --ext .jsx

trying to fix rcslider
  app/assets/stylesheets/cclow.scss
Due: none

add distinct to queries
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: bundle exec rubocop

connect time range filter
  app/javascript/components/pages/cclow/ClimateTargets.js
Due: eslint --ext .js --ext .jsx

hide time range filter for targets
  app/javascript/components/pages/cclow/ClimateTargets.js
Due: eslint --ext .js --ext .jsx

add missing design for climate target
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
Due: none

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
