Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

refactoring: Update of TPI user guides file
  public/tpi/export_support/User guide TPI files.xlsx
Due: none

fix: Typo at CP Matrix column name
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Due: eslint --ext .js --ext .jsx

chore: update of gems
  Gemfile.lock
  package.json
Due: none

feat: Adding events option for NewsArticles
  app/admin/news_article.rb
  app/javascript/components/tpi/Filters.js
  app/models/news_article.rb
  app/services/queries/tpi/news_publications_query.rb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/search/index.html.erb
  db/migrate/20240527100352_add_is_event_to_news_articles.rb
  db/structure.sql
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/factories/news_articles.rb
  spec/models/news_article_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

test: update test-dump
  db/test-dump.psql
Due: none

chore: update gems
  Gemfile.lock
Due: none

fix: move listen gem to all gem section
  Gemfile
Due: none

fix: move listen gem to development section
  Gemfile
Due: none

refactoring: Initial refactoring of Homepage
  app/admin/tpi_sector_clusters.rb
  app/assets/images/tpi/funders/climate-arc.png
  app/assets/images/tpi/funders/climateworks.png
  app/assets/images/tpi/funders/fte-russell.png
  app/assets/images/tpi/funders/laudes-foundation.png
  app/assets/images/tpi/funders/lseg-foundation.png
  app/assets/images/tpi/home/aum.png
  app/assets/images/tpi/home/banks.png
  app/assets/images/tpi/home/corporate-carbon-performance.png
  app/assets/images/tpi/home/corporate-management-quality.png
  app/assets/images/tpi/home/energy.png
  app/assets/images/tpi/home/food.png
  app/assets/images/tpi/home/industry.png
  app/assets/images/tpi/home/supporters.png
  app/assets/images/tpi/home/transport.png
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_filters.scss
  app/assets/stylesheets/tpi/_latest-information.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/_search.scss
  app/assets/stylesheets/tpi/_selector.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/controllers/tpi/home_controller.rb
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/_sector_cluster_stat.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/home/newsletter.html.erb
Due: bundle exec rubocop

chore: updating gems
  Gemfile
  Gemfile.lock
  app/controllers/tpi/home_controller.rb
  spec/system/public/tpi/home_spec.rb
Due: bundle exec rubocop

refactoring: Minor tweaks of homepage based on user feedback
  app/assets/images/newsletter_background/newsletter_img_new.png
  app/assets/images/tpi/home/ascor.png
  app/assets/images/tpi/home/aum.png
  app/assets/images/tpi/home/banks.png
  app/assets/images/tpi/home/corporate-carbon-performance.png
  app/assets/images/tpi/home/corporate-management-quality.png
  app/assets/images/tpi/home/energy.png
  app/assets/images/tpi/home/food.png
  app/assets/images/tpi/home/industry.png
  app/assets/images/tpi/home/supporters.png
  app/assets/images/tpi/home/transport.png
  app/assets/images/tpi/partners/grantham-bigger.png
  app/assets/images/tpi/partners/lse-bigger.png
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/controllers/tpi/home_controller.rb
  app/javascript/components/tpi/Navbar.js
  app/views/layouts/tpi/_footer.html.erb
  app/views/layouts/tpi/_header.html.erb
  app/views/layouts/tpi/_hosted_by.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

refactoring: Text changes at homepage
  app/views/tpi/home/index.html.erb
Due: none

refactoring: Another minor changes of homepage
  app/assets/stylesheets/tpi/pages/home.scss
  app/javascript/components/tpi/MqBetaModal.jsx
  app/javascript/components/tpi/Navbar.js
  app/views/layouts/tpi/_footer.html.erb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/_sector_cluster_stat.html.erb
  app/views/tpi/home/corporate_bond_issuers.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/home/newsletter.html.erb
Due: eslint --ext .js --ext .jsx

fix: Count only published ASCOR countries at homepage
  app/controllers/tpi/home_controller.rb
Due: bundle exec rubocop

refactoring: Renaming sector cluster to consumer-goods
  app/views/tpi/home/index.html.erb
Due: none

refactoring: Minor changes of homepage
  app/assets/images/tpi/funders/ftse-russell-horizontal.png
  app/assets/images/tpi/funders/ftse-russell-new.png
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/home/index.html.erb
Due: none

refactoring: Minor changes of homepage II.
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/home/newsletter.html.erb
Due: none

fix: At Glance values are static content
  app/models/content.rb
Due: bundle exec rubocop

fix: Issues with slider height at homepage
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

refactoring: Removing supporters from homepage
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

chore: upgrade ruby gems
  Gemfile.lock
Due: none

chore: upgrade actions/upload-artifact to newest version
  .github/workflows/tests.yml
Due: none

feat: Adding format to publication links
  app/controllers/tpi/home_controller.rb
  app/helpers/file_helper.rb
  app/models/bank_assessment.rb
  app/views/tpi/home/index.html.erb
  app/views/tpi/publications/_list.html.erb
Due: bundle exec rubocop

feat: Adding format to Download file link at Publication detail
  app/views/tpi/publications/show.html.erb
Due: none

Update sectors pages
  app/assets/images/icons/hover-cursor.svg
  app/assets/images/tpi/sectors-bubble-chart-legend.svg
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/bubble/SingleCell.js
  app/javascript/components/tpi/charts/mq-sector-bar/Bar.js
  app/javascript/components/tpi/charts/mq-sector-bar/Chart.js
  app/javascript/components/tpi/charts/mq-sector-bar/index.js
  app/javascript/components/tpi/charts/mq-sector-pie/Chart.js
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

chore: Update rails
  Gemfile.lock
Due: none

tests: fix BETA MQ tests
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/company_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Due: bundle exec rubocop

refactoring: Removing BETA naming
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/controllers/tpi/tpi_controller.rb
  app/javascript/components/tpi/charts/mq-level/options.js
  app/models/mq/assessment.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/company_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

refactoring: Splitting MQ download option
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
  spec/controllers/tpi/sectors_controller_spec.rb
Due: bundle exec rubocop

feat: Adding default mailer endpoint
  .env.sample
  Gemfile
  Gemfile.lock
  app/controllers/tpi/sectors_controller.rb
  app/mailers/application_mailer.rb
  app/mailers/data_download_mailer.rb
  app/views/data_download_mailer/send_download_file_info_email.html.erb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/initializers/mailjet.rb
  config/routes.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/mailers/data_download_mailer_spec.rb
Due: bundle exec rubocop

fix: rubocop offenses
  app/mailers/application_mailer.rb
  config/initializers/mailjet.rb
  spec/mailers/data_download_mailer_spec.rb
Due: bundle exec rubocop

feat: Turning on emails
  app/mailers/data_download_mailer.rb
  app/views/data_download_mailer/send_download_file_info_email.html.erb
  config/environments/production.rb
  config/environments/staging.rb
  spec/mailers/data_download_mailer_spec.rb
Due: bundle exec rubocop

Fix styles and add download form
  app/assets/images/tpi/icons/download.svg
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_base-tooltip.scss
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/javascript/components/tpi/InfoTooltip.js
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/SingleCell.js
  app/javascript/components/tpi/charts/mq-sector-bar/Bar.js
  app/javascript/components/tpi/charts/mq-sector-pie/Chart.js
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

fix: Adding downloadUrl to DownloadFormModal component
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/data_download_mailer/send_download_file_info_email.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  spec/mailers/data_download_mailer_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

chore: upgrade of rexml gem
  Gemfile.lock
Due: none

refactoring: Adding corporates routes
  app/javascript/components/tpi/DropdownSelector.js
  app/views/layouts/tpi/_header.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix: Methodology download option
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  public/static_files/TPI’s methodology report. Management Quality and Carbon Performance.pdf
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/system/public/cclow/climate_targets_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix: rubocop offenses
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

fix: company select test
  spec/system/public/tpi/company_selector_spec.rb
Due: bundle exec rubocop

fix: download button icon
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx
