Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

Add links to timeline events
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/javascript/components/EventsTimeline.js
  app/services/api/presenters/event.rb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Fix tags display
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: none

Show different tooltip content depending on timeline type
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/services/api/presenters/event.rb
Due: bundle exec rubocop

add friendly_id initializer and history table
  config/initializers/friendly_id.rb
  db/migrate/20200117184302_create_friendly_id_slugs.rb
Due: bundle exec rubocop

change slug when slugged column changed
  app/models/company.rb
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/page.rb
  app/models/tpi_sector.rb
  db/schema.rb
  spec/factories/pages.rb
  spec/models/cclow_page_spec.rb
  spec/models/company_spec.rb
  spec/models/geography_spec.rb
  spec/models/legislation_spec.rb
  spec/models/litigation_spec.rb
  spec/models/pages_spec.rb
  spec/models/tpi_page_spec.rb
  spec/models/tpi_sector_spec.rb
Due: bundle exec rubocop

update schema
  db/schema.rb
Due: bundle exec rubocop

add auth check for data-uploads: editors should not publish resources
  app/models/ability.rb
  app/services/csv_import/base_importer.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
  db/schema.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

On initial load, show the timeline scrolled to the right edge
  app/javascript/components/EventsTimeline.js
Due: eslint --ext .js --ext .jsx

Simplify code
  app/controllers/cclow/geography/legislations_controller.rb
  app/services/api/presenters/event.rb
  app/views/cclow/geography/legislations/show.html.erb
Due: bundle exec rubocop

change images timestamps deafult value to nil
  db/migrate/20200120130555_remove_default_from_images_timestamps.rb
  db/schema.rb
Due: bundle exec rubocop

Change map projection to Equal-Earth
  app/javascript/components/world-map/WorldMap.js
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

Fit the map module in an average viewport height of 700px + hide antarctica
  app/assets/stylesheets/cclow/_world-map.scss
Due: none

Order map bubbles by weight, remove the blending mode
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

tpi companies/sectors redirect for old slugs
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

Map: make the country clickable to reveal the tooltip
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

Map: move map bubble state to the parent to control country borders and markers with the same logic
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.reducer.js
Due: eslint --ext .js --ext .jsx

create history for slugs which will be using history
  app/models/page.rb
  db/migrate/20200120172400_history_slugs_for_companies_and_tpi_sector.rb
  db/schema.rb
Due: bundle exec rubocop

add latest company assessments csv to tpi user downloads
  app/controllers/concerns/tpi/user_download.rb
  app/services/csv_export/user/company_latest_assessments.rb
Due: bundle exec rubocop

fix companies latest assessments csv column order and row order
  app/services/csv_export/user/company_latest_assessments.rb
Due: bundle exec rubocop

fix schema.rb
  db/schema.rb
Due: bundle exec rubocop

add youtube video to content
  app/admin/page.rb
  app/assets/stylesheets/cclow/_pages.scss
  app/controllers/cclow/pages_controller.rb
  app/controllers/tpi/pages_controller.rb
  app/decorators/content_decorator.rb
  app/decorators/page_decorator.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/cclow/pages/show.html.erb
  db/migrate/20200120121038_add_youtube_link_to_content.rb
  db/schema.rb
Due: bundle exec rubocop

bug fix
  db/schema.rb
Due: bundle exec rubocop

add authorization for publish/unpublish to before_save
  app/commands/command/csv_data_upload.rb
  app/models/admin_user.rb
  app/models/concerns/visibility_status.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/factories/admin_users.rb
  spec/factories/companies.rb
  spec/factories/geographies.rb
  spec/factories/legislations.rb
  spec/factories/litigations.rb
  spec/factories/targets.rb
Due: bundle exec rubocop

remove direct permissions check in import
  app/services/csv_import/base_importer.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
Due: bundle exec rubocop

Add option to show EU aggregated data, merge topojson shapes, show marker for EU
  app/assets/stylesheets/cclow/_colors.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/centroids.js
  app/javascript/components/world-map/constants.js
  app/javascript/components/world-map/world-map.hooks.js
  app/javascript/components/world-map/world-map.reducer.js
Due: eslint --ext .js --ext .jsx

remove visibility status select option, change before_save authorize to be a validation
  app/admin/companies.rb
  app/controllers/application_controller.rb
  app/helpers/select_helper.rb
  app/models/concerns/visibility_status.rb
  app/views/admin/geographies/_form.html.erb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/targets/_form.html.erb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

remove not needed rescue
  app/services/csv_import/base_importer.rb
Due: bundle exec rubocop

Map: Aggregate EU data on the backend
  app/javascript/components/world-map/world-map.hooks.js
  app/models/cclow_map_context_data.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add validation for archiving
  app/models/concerns/visibility_status.rb
Due: bundle exec rubocop

Fix issue with filtering timeline by event type
  app/views/cclow/geographies/show.html.erb
Due: none

Add link to other newsletters
  app/views/tpi/home/newsletter.html.erb
Due: none

check if user can upload
  app/services/csv_import/base_importer.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

edit mq assessments answers
  app/admin/mq_assessments.rb
  app/assets/stylesheets/admin/models/mq_assessments.scss
  app/models/mq/assessment.rb
  app/models/mq/question.rb
  app/views/admin/mq_assessments/_form.html.erb
Due: bundle exec rubocop

Don't highlight countries without markers
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

Add margin-top to the map to avoid being hidden by the map controls
  app/assets/stylesheets/cclow/_world-map.scss
Due: none

mq assessment update answers specs
  app/models/mq/assessment.rb
  spec/controllers/admin/mq_assessments_controller_spec.rb
Due: bundle exec rubocop

Format tooltip values
  app/javascript/components/world-map/MapTooltip.js
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

add embed video to trix
  app/assets/images/icon_youtube/logo.svg
  app/assets/stylesheets/active_admin.scss
  app/assets/stylesheets/admin/trix.scss
  app/javascript/admin/controllers/embed_trix_controller.js
  app/views/admin/pages/_content_fields.html.erb
Due: eslint --ext .js --ext .jsx

Distinguish dragging map from clicking; don't show tooltip when dragging
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.reducer.js
Due: eslint --ext .js --ext .jsx
