Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

Adjust the map height to the design
  app/assets/fonts/BrownTT-Regular.eot
  app/assets/stylesheets/bulma.scss
  app/assets/stylesheets/cclow/_world-map.scss
Due: none

remove extra changes
  app/admin/page.rb
  app/assets/stylesheets/cclow/_pages.scss
  app/controllers/cclow/pages_controller.rb
  app/controllers/tpi/pages_controller.rb
  app/decorators/content_decorator.rb
  app/decorators/page_decorator.rb
  app/views/cclow/pages/show.html.erb
  db/migrate/20200120121038_add_youtube_link_to_content.rb
Due: bundle exec rubocop

rename youtube icon
  app/assets/images/icon_youtube/youtube_gray.svg
  app/assets/stylesheets/admin/trix.scss
Due: none

extend trix_input
  app/assets/stylesheets/admin/trix.scss
  app/inputs/trix_input.rb
  app/javascript/admin/controllers/embed_trix_controller.js
  app/views/admin/pages/_content_fields.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add Litigation Cases exception for USA
  app/views/cclow/geographies/_overview.html.erb
  app/views/cclow/geography/legislations/index.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
  app/views/layouts/cclow/geography.html.erb
Due: none

Update text
  app/views/cclow/geography/litigation_cases/index.html.erb
Due: none

Logo should link to root
  app/javascript/components/Navbar.js
Due: eslint --ext .js --ext .jsx

Adds validation for geography_id in litigations
  app/models/litigation.rb
Due: bundle exec rubocop

updating rails dependencies
  Gemfile.lock
  spec/rails_helper.rb
Due: bundle exec rubocop

update js dependencies
  yarn.lock
Due: none

add brakeman
  Gemfile
  Gemfile.lock
  app/views/cclow/geography/litigation_cases/show.html.erb
  app/views/tpi/home/_partners.html.erb
  config/brakeman.ignore
  config/brakeman.yml
  config/environments/production.rb
  config/environments/staging.rb
  package.json
Due: bundle exec rubocop

add bundle audit gem
  Gemfile
  Gemfile.lock
  package.json
Due: none

add active row to csv importer and only active companies in the chart are considered
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/services/api/charts/cp_performance.rb
  app/services/csv_import/companies.rb
  db/schema.rb
Due: bundle exec rubocop

add country link to search results
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/decorators/cclow/target_decorator.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  db/schema.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

remove extra changes
  db/schema.rb
Due: bundle exec rubocop

add cait emissions data
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_MtCO2e_2016.csv
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_MtCO2e_2016.jsonld
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_MtCO2e_2016.yml
Due: none

base importer: add rollback_on_error option, default to false
  app/commands/command/csv_data_upload.rb
  app/services/csv_import/base_importer.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

replaced validation with removing optional
  app/models/litigation.rb
Due: bundle exec rubocop

Fix map tooltips behaviors
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapTooltip.js
  app/javascript/components/world-map/ReactMapTooltip.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/constants.js
  app/javascript/components/world-map/world-map.hooks.js
  app/javascript/components/world-map/world-map.reducer.js
Due: eslint --ext .js --ext .jsx

Import bulma specific css styles
  app/assets/stylesheets/cclow.scss
Due: none

Remove duplicate ReactMapTooltip file
  app/javascript/components/world-map/MapTooltip.js
  app/javascript/components/world-map/ReactMapTooltip.js
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

Updated javascript dependencies
  yarn.lock
Due: none

fix brakeman warnings, update yarn.lock - not sure why
  app/controllers/cclow/geography/litigation_cases_controller.rb
  config/brakeman.ignore
  yarn.lock
Due: bundle exec rubocop

Remove the margin-top from the composable map and center it accordingly instead
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/world-map.reducer.js
Due: eslint --ext .js --ext .jsx

fix companies/sectors dropdown no results message
  app/javascript/components/DropdownSelector.js
Due: eslint --ext .js --ext .jsx

sort laws and policies by last event date
  app/controllers/cclow/legislation_and_policies_controller.rb
Due: bundle exec rubocop

Put aggregation EU button into selectors container, add max-width to map dropdowns
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

add cp units migration
  app/models/cp/unit.rb
  app/models/tpi_sector.rb
  app/services/seed/tpi_data.rb
  db/migrate/20200128123316_create_cp_units.rb
  db/schema.rb
Due: bundle exec rubocop

add styles for youtube-video and add youtube for page desc and news
  app/admin/news_article.rb
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/common/youtube.scss
  app/assets/stylesheets/tpi.scss
  app/views/admin/pages/_form.html.erb
Due: bundle exec rubocop

use different cut off date then default one when parsing two digit year
  app/services/csv_import/date_utils.rb
Due: bundle exec rubocop

add cp_units to tpi_sectors admin page
  app/admin/tpi_sectors.rb
  app/decorators/tpi_sector_decorator.rb
  app/models/cp/unit.rb
  app/models/tpi_sector.rb
  app/views/admin/tpi_sectors/_cp_unit_fields.html.erb
  app/views/admin/tpi_sectors/_form.html.erb
Due: bundle exec rubocop

add specs for cp units, fix order
  app/admin/tpi_sectors.rb
  app/decorators/tpi_sector_decorator.rb
  app/models/cp/unit.rb
  app/models/tpi_sector.rb
  spec/controllers/admin/tpi_sectors_controller_spec.rb
  spec/factories/cp_unit.rb
Due: bundle exec rubocop

replace sector cp unit with cp unit by date
  app/models/tpi_sector.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/sectors/show.html.erb
  spec/models/tpi_sector_spec.rb
Due: bundle exec rubocop

little refactor
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/views/tpi/companies/_cp_assessment.html.erb
Due: bundle exec rubocop

remove tpi user download duplication
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

sort order by name on admin TPI Sectors
  app/admin/tpi_sectors.rb
Due: bundle exec rubocop

Add button to edit data for logged in users
  app/assets/images/icons/edit-icon.svg
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_edit-button.scss
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/application_controller.rb
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/ManageDataButton.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/views/cclow/cclow/_manage_data.html.erb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/show.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/cclow/geography/legislations/index.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
  app/views/layouts/cclow/geography.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add rel attribute to link_to helper for better security
  app/views/cclow/cclow/_manage_data.html.erb
Due: none

fix db reset
  app/services/seed/tpi_data.rb
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
