Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

update readme
  README.md
Due: none

downgrade ruby
  .ruby-version
  Gemfile
  Gemfile.lock
  config/deploy/production.rb
  config/deploy/staging.rb
Due: bundle exec rubocop

fix admin menu
  app/assets/stylesheets/admin/base.scss
Due: none

fix admin title bar when it's too long
  app/assets/stylesheets/admin/base.scss
  app/javascript/admin/controllers/nested_list_controller.js
Due: eslint --ext .js --ext .jsx

fix tag_name_ids= method to prevent accidental duplicates
  app/models/concerns/taggable.rb
  spec/models/taggable_spec.rb
Due: bundle exec rubocop

fix datetime parsing stuff
  app/services/csv_import/date_utils.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

SAVEPOINT
  Gemfile
  Gemfile.lock
  config/database.yml
  db/seeds.rb
  package.json
Due: bundle exec rubocop

upgrade ruby to 2.7.2
  .ruby-version
  Gemfile
  Gemfile.lock
  config/deploy/production.rb
  config/deploy/staging.rb
Due: bundle exec rubocop

csv cleanup
  README.md
  app/admin/external_legislations.rb
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/documents.rb
  app/services/csv_import/external_legislations.rb
  app/services/seed/cclow_data.rb
  db/seeds/cclow/documents.csv
  db/seeds/cclow/events.csv
  db/seeds/cclow/external-legislations.csv
  db/seeds/cclow/legislation.csv
  db/seeds/cclow/legislations.csv
  db/seeds/cclow/litigation-sides.csv
  db/seeds/cclow/litigations-sides.csv
  db/seeds/cclow/litigations.csv
  db/seeds/cclow/targets.csv
  db/seeds/geographies.csv
  db/seeds/tpi/cp-assessments.csv
  db/seeds/tpi/cp-benchmarks.csv
  db/seeds/tpi/mq-assessments-M1.csv
  db/seeds/tpi/mq-assessments-M2.csv
  db/seeds/tpi/mq-assessments-M3.csv
  db/seeds/tpi/tpi-companies.csv
  db/test-dump.psql
Due: bundle exec rubocop

code cleanup
  app/admin/events.rb
  app/services/migration/geographies.rb
  app/services/migration/legislation.rb
  app/services/migration/litigation.rb
  app/services/seed/cclow_data.rb
  app/services/seed/tpi_data.rb
  db/seeds/cclow/events.csv
  db/seeds/cclow/legislation.csv
  db/seeds/cclow/litigations-sides.csv
  db/seeds/cclow/litigations.csv
  db/seeds/cclow/targets.csv
  db/seeds/cp-assessments.csv
  db/seeds/geographies.csv
  db/seeds/laws_migration/events.csv
  db/seeds/laws_migration/geographies_metadata.csv
  db/seeds/laws_migration/legislation-sources.csv
  db/seeds/laws_migration/litigation-sources.csv
  db/seeds/legislation-documents.csv
  db/seeds/legislations.csv
  db/seeds/litigation-sides.csv
  db/seeds/litigations.csv
  db/seeds/tpi/cp-assessments.csv
  db/seeds/tpi/cp-benchmarks.csv
  db/seeds/tpi/mq-assessments-M1.csv
  db/seeds/tpi/mq-assessments-M2.csv
  db/seeds/tpi/mq-assessments-M3.csv
  db/seeds/tpi/tpi-companies.csv
  db/seeds/tpi/tpi-news.csv
  db/test-dump.psql
Due: bundle exec rubocop

fix regex for split
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

cleanup
  app/services/csv_import/targets.rb
Due: bundle exec rubocop

target connected laws were not exported, fix CSV split character inconsistency
  app/admin/external_legislations.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
  db/seeds/cclow/events.csv
  db/seeds/cclow/targets.csv
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/system/public/cclow/climate_targets_spec.rb
  spec/system/public/cclow/home_spec.rb
Due: bundle exec rubocop

fix events csv, fix most of the tests
  app/services/csv_import/events.rb
  app/services/seed/cclow_data.rb
  app/services/seed/tpi_data.rb
  db/seeds/cclow/events.csv
  db/test-dump.psql
  spec/system/public/cclow/climate_targets_spec.rb
  spec/system/public/cclow/home_spec.rb
  spec/system/public/cclow/legislation_and_policies_spec.rb
  spec/system/public/cclow/litigations_spec.rb
  spec/system/public/tpi/company_selector_spec.rb
  spec/system/public/tpi/company_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Due: bundle exec rubocop

add test for dev only imports
  app/models/data_upload.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

remove database cleaner, use before_all
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
Due: bundle exec rubocop

not use let_it_be for admin
  spec/controllers/admin/admin_users_controller_spec.rb
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/cp_assessments_controller_spec.rb
  spec/controllers/admin/cp_benchmarks_controller_spec.rb
  spec/controllers/admin/documents_controller_spec.rb
  spec/controllers/admin/external_legislations_controller_spec.rb
  spec/controllers/admin/geographies_controller_spec.rb
  spec/controllers/admin/governance_controller_spec.rb
  spec/controllers/admin/governance_types_controller_spec.rb
  spec/controllers/admin/instrument_controller_spec.rb
  spec/controllers/admin/instrument_types_controller_spec.rb
  spec/controllers/admin/legislations_controller_spec.rb
  spec/controllers/admin/litigation_sides_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/controllers/admin/mq_assessments_controller_spec.rb
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
  spec/controllers/admin/testimonials_controller_spec.rb
  spec/controllers/admin/tpi_sector_clusters_controller_spec.rb
  spec/controllers/admin/tpi_sectors_controller_spec.rb
Due: bundle exec rubocop

Revert "remove database cleaner, use before_all"
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
Due: bundle exec rubocop

Add Full text search indexes for optimization
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  config/application.rb
  db/migrate/20210204142212_add_ts_vector_columns.rb
  db/schema.rb
  db/structure.sql
Due: bundle exec rubocop

security update
  Gemfile.lock
Due: none

fix structure.sql
  db/structure.sql
Due: none

gh test workflow - change to structure load
  .github/workflows/tests.yml
Due: none

remove deprecation warning
  app/admin/admin_users.rb
  app/admin/companies.rb
  app/admin/data_uploads.rb
  app/admin/events.rb
  app/admin/external_legislations.rb
  app/admin/governance.rb
  app/admin/governance_types.rb
  app/admin/instrument.rb
  app/admin/instrument_types.rb
  app/admin/laws_sectors.rb
  app/admin/news_article.rb
  app/admin/publication.rb
  app/admin/testimonials.rb
  app/commands/command/csv_data_upload.rb
  app/validators/date_after_validator.rb
  app/validators/url_validator.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/admin/cp_benchmarks/_form.html.erb
  app/views/admin/geographies/_form.html.erb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/mq_assessments/_form.html.erb
  app/views/admin/pages/_form.html.erb
  app/views/admin/targets/_form.html.erb
  app/views/admin/tpi_sectors/_form.html.erb
  config/application.rb
Due: bundle exec rubocop

upgrade rails yarn dependecies
  yarn.lock
Due: none

fix linter
  config.ru
Due: none

upgrade to rails 6.1
  Gemfile
  Gemfile.lock
  bin/rails
  bin/rake
  bin/setup
  bin/spring
  bin/yarn
  config.ru
  config/boot.rb
  config/environment.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/environments/test.rb
  config/initializers/backtrace_silencers.rb
  config/initializers/filter_parameter_logging.rb
  config/initializers/new_framework_defaults_6_1.rb
  config/initializers/permissions_policy.rb
  config/puma.rb
  db/migrate/20210129140030_add_service_name_to_active_storage_blobs.active_storage.rb
  db/migrate/20210129140031_create_active_storage_variant_records.active_storage.rb
  db/schema.rb
Due: bundle exec rubocop

fix tests
  spec/rails_helper.rb
  spec/support/test_files.rb
Due: bundle exec rubocop

regenerate db/test-dump
  db/test-dump.psql
Due: none

regenerate db dump
  db/test-dump.psql
Due: none

bundle update
  Gemfile.lock
Due: none

upgrade js dependencies
  yarn.lock
Due: none

fix full text indices to ignore accents
  db/migrate/20210204142212_add_ts_vector_columns.rb
  db/structure.sql
  db/test-dump.psql
Due: bundle exec rubocop

fix date format for mq chart when there is one entry only
  app/javascript/components/charts/mq-level/options.js
Due: eslint --ext .js --ext .jsx

modify characters fix tasks to allow for model whitelist
  lib/tasks/fix.rake
Due: none

fix unicode characters when importing
  .rubocop.yml
  app/services/concerns/csv_importer.rb
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/base_importer.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/csv_import/documents.rb
  app/services/csv_import/events.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/helpers/cached_collections.rb
  app/services/csv_import/helpers/emissions.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigation_sides.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/mq_assessments.rb
  app/services/csv_import/news_articles.rb
  app/services/csv_import/targets.rb
  lib/tasks/fix.rake
  lib/unicode_fixer.rb
  spec/commands/csv_data_upload_spec.rb
  spec/lib/unicode_fixer_spec.rb
Due: bundle exec rubocop

quick tpi sectors page cache
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/models/concerns/tpi_cache.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/models/mq/assessment.rb
  app/models/tpi_sector.rb
Due: bundle exec rubocop

remove register page
  app/controllers/tpi/home_controller.rb
  app/javascript/components/Navbar.js
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/register.html.erb
  app/views/tpi/sitemaps/index.xml.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix bug with cp assessmenets last reported year nil
  app/models/cp/assessment.rb
  app/services/api/charts/cp_assessment.rb
  spec/models/cp/assessment_spec.rb
Due: bundle exec rubocop

run security job every day
  .github/workflows/security.yml
Due: none
