Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

Add subsector to user download
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_latest_assessments.rb
Due: bundle exec rubocop

Add sector cluster data to coal mining
  db/migrate/20250521115030_add_coal_mining_sector_cluster.rb
Due: bundle exec rubocop

Hide 0 sector from dropdown
  app/javascript/components/tpi/DropdownSelector.js
Due: eslint --ext .js --ext .jsx

Add acceptance tick in CP & MQ download
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Add options to pop-up download, CP & MQ
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Use comma as thousands separator, CP & MQ
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
Due: eslint --ext .js --ext .jsx

Change color of info button, corporates page
  app/assets/stylesheets/tpi/_base-tooltip.scss
Due: none

ASCOR 1: No cursor, select a country
  app/assets/stylesheets/tpi/pages/ascor.scss
Due: none

Ascor 2: show 2 decimals in labels, emissions
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Due: eslint --ext .js --ext .jsx

Ascor 3: add dash in following year from last historical year
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
Due: eslint --ext .js --ext .jsx

Ascor 4: add thicker line for 0
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Due: eslint --ext .js --ext .jsx

Ascor 5: rename lending for income in country box detail
  app/views/tpi/ascor/_country_details.html.erb
Due: none

Rename Bond Issuers by Transition Planning
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/index.html.erb
Due: none

Copy text from bond issuers to cp & mq page
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/sectors/index.html.erb
Due: none

Add missing gems
  Gemfile
  Gemfile.lock
Due: none

Add show all/hide all button, Ascor
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/_assessment.html.erb
Due: none

Revert more options in CP & MQ download
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Move checkbox in download to disclaimer text
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Revert ASCOR 1: continues line until end of last_historical_year
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/views/tpi/ascor/_assessment.html.erb
Due: eslint --ext .js --ext .jsx

Data download disclaimers
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/mailers/data_download_mailer.rb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add verficiation file
  public/google987385f60c859618.html
Due: none

Rename columns of banking matrix
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/models/cp/portfolio.rb
  app/services/api/charts/cp_matrix.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

ASCOR: fix targetting non-target last historical year
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Due: eslint --ext .js --ext .jsx

Lint
  app/javascript/components/tpi/DownloadFormModal.jsx
  package.json
Due: eslint --ext .js --ext .jsx

Update banking mapping based on comments
  app/models/cp/portfolio.rb
  app/services/api/charts/cp_matrix.rb
Due: bundle exec rubocop

Amend the download modal's error messages
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Revert "Rename Bond Issuers by Transition Planning"
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/index.html.erb
Due: none

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
