Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

feat: Adding last_reported_year to Bank CP importer
  app/admin/banks.rb
  app/admin/cp_assessments.rb
  app/services/csv_import/bank_cp_assessments.rb
Due: bundle exec rubocop

feat: Adding latest_information field to Bank Admin form
  app/admin/banks.rb
Due: bundle exec rubocop

test: fix issues with new chromedriver
  spec/rails_helper.rb
Due: bundle exec rubocop

Remove opacity in chart colors as highcharts only accepts hex
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Due: eslint --ext .js --ext .jsx

Fix tooltilp wrapping
  app/assets/stylesheets/tpi/charts/cp-performance.scss
Due: none

Hide extra scrollbar on table
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Due: none

Allow grouped opacity change on multiple charts
  app/javascript/components/tpi/charts/cp-performance/helpers.js
  app/javascript/components/tpi/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

Use opacity on tooltip and legend colors
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
  app/javascript/components/tpi/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

refactoring: Adding No disclosure CP::Alignment
  app/models/cp/alignment.rb
  app/services/queries/tpi/latest_cp_assessments_query.rb
  db/seeds/tpi/bank-cp-assessments-2025.csv
Due: bundle exec rubocop

chore: Updating webdrivers
  Gemfile.lock
  spec/rails_helper.rb
Due: bundle exec rubocop

feat: Adding Beta scores to methodology version of 5
  app/assets/images/icons/trending-down.svg
  app/assets/images/icons/trending-up.svg
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_mixins.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/bubble/CompaniesAccordion.js
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/mq_assessments.rb
  app/services/seed/tpi_data.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/sectors/index.html.erb
  config/locales/en.yml
  db/seeds/tpi/mq-assessments-M5.csv
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

feat: Enable to switch between MQ Beta scores and not
  app/admin/companies.rb
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/mq_assessments_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/decorators/company_decorator.rb
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
  app/models/concerns/tpi_cache.rb
  app/services/api/charts/sector.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Update legend
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Due: eslint --ext .js --ext .jsx

test: Fix of all broken tests
  app/services/api/charts/sector.rb
  db/test-dump.psql
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/company_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Due: bundle exec rubocop

Make tooltips wider
  app/assets/stylesheets/tpi/charts/cp-performance.scss
Due: none

Dont show general tooltip items or target years
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
Due: eslint --ext .js --ext .jsx

Don't render benchmarklabels on multiple chart
  app/javascript/components/tpi/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

Events go inside chart
  app/javascript/components/tpi/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

test: New tests for MQ Beta score feature
  app/services/api/charts/sector.rb
  spec/controllers/tpi/mq_assessments_controller_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_mq_assessments_methodology_5_beta_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_mq_assessments_methodology_5_beta_csv.json
  spec/models/company_spec.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/mq_assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Due: bundle exec rubocop

Add text on tooltip for no targets
  app/javascript/components/tpi/charts/cp-performance/Tooltip.js
  app/javascript/components/tpi/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

Add modal for mq methodology
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/mq-beta-modal.scss
  app/javascript/components/tpi/Modal.js
  app/javascript/components/tpi/MqBetaModal.jsx
  app/views/tpi/shared/_mq_beta_scores.html.erb
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

fix: Api::Charts::Sector service takes enable_beta_mq_assessments from session
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

Show level 5 on accordion and change 5 to 5 beta labels
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/mq-level/options.js
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
Due: eslint --ext .js --ext .jsx

Render modal only once. Fix mobile styles
  app/assets/stylesheets/tpi/mq-beta-modal.scss
  app/views/tpi/companies/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
Due: none

Fix X button and add do not show again button
  app/javascript/components/tpi/MqBetaModal.jsx
Due: eslint --ext .js --ext .jsx

Fix tests
  spec/support/capybara_helpers.rb
Due: bundle exec rubocop

Render modal in sectors and companies
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: none

refactoring: Sector mean description is different for Bank category
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/banks/_cp_assessments.html.erb
  spec/services/api/charts/cp_assessment_spec.rb
Due: bundle exec rubocop

Fix max level
  app/javascript/components/tpi/charts/mq-level/options.js
Due: eslint --ext .js --ext .jsx

Rename matrix table legend label
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Due: eslint --ext .js --ext .jsx

Add local storage variable to limit modal appearances
  app/javascript/components/tpi/MqBetaModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx

Fix max level on the chart depending on data
  app/javascript/components/tpi/charts/mq-level/options.js
Due: eslint --ext .js --ext .jsx

Change separator styles and paddings
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/shared/_mq_beta_scores.html.erb
Due: none

Update download button labels
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: none
