Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

Rename namespace
  .rubocop.yml
Due: none

Don't add to the chart items that we are not couting on
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop

Change style of the labels in the chart plot
  app/javascript/components/charts/CPPerformanceAllSectors.js
Due: eslint --ext .js --ext .jsx

Fix display of fixed-navbar on mobile screens
  app/assets/stylesheets/tpi/_navbar.scss
  app/views/layouts/tpi.html.erb
Due: none

Enable two new map datasets in the code
  app/models/cclow_map_context_data.rb
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.csv
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.jsonld
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.yml
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.csv
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.jsonld
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.yml
Due: bundle exec rubocop

Put extra information in map metadata files and enable datasets based on active prop in yml
  app/models/cclow_map_context_data.rb
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.yml
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.yml
Due: bundle exec rubocop

Ensure we have images
  app/models/image.rb
  app/views/admin/pages/_image_fields.html.erb
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/pages/show.html.erb
Due: bundle exec rubocop

Tidy up TPI tables on the backend
  app/admin/mq_assessments.rb
  app/assets/stylesheets/admin/models/cp_assessments.scss
  app/assets/stylesheets/admin/models/mq_assessments.scss
Due: bundle exec rubocop

stream publication files until we resolve that differently
  app/controllers/tpi/publications_controller.rb
Due: bundle exec rubocop

use input allow for files, add preview tags
  app/admin/news_article.rb
  app/admin/publication.rb
  app/views/admin/pages/_image_fields.html.erb
Due: bundle exec rubocop

show only currently published assessments
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/models/cp/assessment.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/views/tpi/companies/show.html.erb
  spec/models/company_spec.rb
Due: bundle exec rubocop

Add exception for not assessed option
  app/views/tpi/companies/show.html.erb
Due: none

Expand list of supported types
  app/admin/publication.rb
Due: bundle exec rubocop

Adjusting table sizes on the backend
  app/admin/litigations.rb
  app/admin/targets.rb
  app/assets/stylesheets/admin/models/geographies.scss
  app/assets/stylesheets/admin/models/litigations.scss
  app/assets/stylesheets/admin/models/targets.scss
Due: bundle exec rubocop

Show Laws and Policies as the name
  app/admin/legislations.rb
  config/locales/en.yml
Due: bundle exec rubocop

Adjust tables and styles of admin side
  app/admin/companies.rb
  app/admin/geographies.rb
  app/admin/news_article.rb
  app/admin/publication.rb
  app/admin/tags.rb
  app/admin/tpi_sector_clusters.rb
  app/assets/stylesheets/admin/models/companies.scss
  app/assets/stylesheets/admin/models/cp_benchmarks.scss
  app/assets/stylesheets/admin/models/events.scss
  app/assets/stylesheets/admin/models/news_articles.scss
  app/assets/stylesheets/admin/models/publications.scss
  app/assets/stylesheets/admin/models/tpi_sectors.scss
Due: bundle exec rubocop

Avoid crashing tracking activities index page
  app/decorators/public_activity/activity_decorator.rb
Due: bundle exec rubocop

avoid crashing if no sector
  app/controllers/cclow/geography/climate_targets_controller.rb
Due: bundle exec rubocop

Don't add sector to breadcrumbs if there's no sector
  app/controllers/cclow/geography/climate_targets_controller.rb
Due: bundle exec rubocop

Fixing linking to targets from climate targets search
  app/decorators/cclow/target_decorator.rb
  config/routes.rb
Due: bundle exec rubocop

Fix compare with source
  app/models/geography.rb
Due: bundle exec rubocop

Fix typo in method name
  app/models/geography.rb
Due: bundle exec rubocop

Don't try to count targets without source
  app/models/geography.rb
Due: bundle exec rubocop

Enable editing source of a target
  app/admin/targets.rb
Due: bundle exec rubocop

Include this still even if no source set
  app/models/geography.rb
Due: bundle exec rubocop

add filters for keywords, responses and frameworks
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

remove tag filter
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/target_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

remove extra changes
  app/javascript/components/SearchFilter.js
Due: eslint --ext .js --ext .jsx

move cp performance chart to React
  app/helpers/chart_helper.rb
  app/javascript/components/charts/CPPerformance.js
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add missing filters to legislation page
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/services/queries/cclow/legislation_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

hide the filter if there are no options
  app/javascript/components/SearchFilter.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

No need to include, just join
  app/services/queries/cclow/legislation_query.rb
Due: bundle exec rubocop

react chartkick is not great, use highcharts react
  app/assets/stylesheets/tpi/_charts.scss
  app/javascript/components/charts/CPPerformance.js
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

cp performance chart tooltip
  app/assets/stylesheets/tpi/_charts.scss
  app/javascript/components/charts/CPPerformance.js
Due: eslint --ext .js --ext .jsx

disable marker in cp performance chart
  app/javascript/components/charts/CPPerformance.js
Due: eslint --ext .js --ext .jsx

area series group under one DOM element to apply combined opacity
  app/assets/stylesheets/tpi/_charts.scss
  app/javascript/components/charts/CPPerformance.js
Due: eslint --ext .js --ext .jsx

remove chart title and credits
  app/javascript/components/charts/CPPerformance.js
Due: eslint --ext .js --ext .jsx

refactor
  app/javascript/components/charts/cp-performance-all-sectors/CPPerformanceAllSectors.js
  app/javascript/components/charts/cp-performance-all-sectors/helpers.js
  app/javascript/components/charts/cp-performance-all-sectors/index.js
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/LegendItem.js
  app/javascript/components/charts/cp-performance/Tooltip.js
  app/javascript/components/charts/cp-performance/helpers.js
  app/javascript/components/charts/cp-performance/index.js
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx

move css files around for charts
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
Due: eslint --ext .js --ext .jsx

cp charts line in legend and tooltips refactor
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/Tooltip.js
Due: eslint --ext .js --ext .jsx
