Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

Give support to 2030 download
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_cp_assessments.rb
Due: bundle exec rubocop

Update questions' wording
  db/migrate/20260316120000_fix_mq_assessment_question_texts.rb
Due: bundle exec rubocop

Add download form
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/publications/show.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Hide Insurance
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop

ASCOR: update company cp view
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

ASCOR: dynamic short term year
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Support 2030 upload
  app/services/csv_import/company_cp_assessments.rb
Due: bundle exec rubocop

ASCOR: show 2030 in admin panel
  app/admin/companies.rb
Due: bundle exec rubocop

Revert "Deploy live 25032026"
  app/admin/companies.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_cp_assessments.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Use 2030 short term button
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Fix short term button
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
Due: eslint --ext .js --ext .jsx

Improve performance of multi year graph
  app/admin/ascor/assessments.rb
  app/services/api/ascor/bubble_chart.rb
  app/services/api/charts/cp_performance.rb
  app/services/csv_export/ascor/assessments.rb
  app/views/tpi/ascor/_assessment.html.erb
Due: bundle exec rubocop

Fix cp graph
  app/models/company.rb
Due: bundle exec rubocop

Make short term dynamic depending on data available
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/services/api/charts/cp_performance.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Reactivate beta version for mq download
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/helpers/mq_assessment_helper.rb
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/views/tpi/shared/_mq_beta_scores.html.erb
  db/migrate/20260330123611_change_methodology_version_to_string.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/factories/mq_assessments.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Due: bundle exec rubocop

Add beta version re-activation
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/helpers/mq_assessment_helper.rb
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/views/tpi/shared/_mq_beta_scores.html.erb
  db/migrate/20260330123611_change_methodology_version_to_string.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/factories/mq_assessments.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Due: bundle exec rubocop

Revert beta version, keep migration
  app/controllers/tpi/sectors_controller.rb
  app/models/mq/assessment.rb
  app/views/tpi/shared/_mq_beta_scores.html.erb
Due: bundle exec rubocop

CP Changes: first iteration
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-chemicals-bar/Chart.js
  app/javascript/components/tpi/charts/cp-chemicals-bar/index.js
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/models/cp/benchmark.rb
  app/services/api/charts/chemicals_sector.rb
  app/services/csv_export/user/chemicals_cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
  db/migrate/20260428110000_add_benchmark_label_to_cp_benchmarks.rb
  db/migrate/20260428110001_create_steel_subsectors.rb
  db/migrate/20260428110002_add_steel_companies_subsector.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Rename migration
  db/migrate/20260428110000_add_benchmark_label_to_cp_benchmarks.rb
Due: bundle exec rubocop

CP changes: fix sector ref
  app/services/api/charts/chemicals_sector.rb
Due: bundle exec rubocop

CP changes: fix sector ref 2
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

CP changes: fix sector ref 3
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

CP changes: fix cp coal subsector graph
  app/views/tpi/companies/show.html.erb
Due: none

CP changes: fix date picker
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Due: none

CP changes: change date picker
  app/views/tpi/companies/show.html.erb
Due: none

CP changes: notify when graph is empty
  app/views/tpi/companies/_cp_assessment.html.erb
Due: none

CP changes: deactivate buttons when no data available
  app/controllers/tpi/companies_controller.rb
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

CP changes: fix steel buttons
  app/views/tpi/companies/show.html.erb
Due: none

CP changes: fix cp banner for steel
  app/views/tpi/companies/show.html.erb
Due: none

CP changes: show steel subsector even if no data
  app/views/tpi/companies/show.html.erb
Due: none

CP change: show message on missing data sector
  app/javascript/components/tpi/charts/cp-performance/Chart.js
Due: eslint --ext .js --ext .jsx

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
