Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

very ugly fix to cp chart
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

eslint plugin hooks
  .eslintrc.yml
  package.json
  yarn.lock
Due: none

refactor cp chart
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/CompanySelector.js
  app/services/api/charts/sector.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

error handling
  app/javascript/components/charts/cp-performance/Chart.js
Due: eslint --ext .js --ext .jsx

fix cp chart for single assessment
  app/javascript/components/charts/cp-performance/Chart.js
Due: eslint --ext .js --ext .jsx

use friendly_id for litigation cases and legislations URLs
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/services/api/presenters/event.rb
  app/views/cclow/cclow/_releted_litigations_list.html.erb
  config/brakeman.ignore
Due: bundle exec rubocop

return extra changes
  app/controllers/cclow/geography/litigation_cases_controller.rb
Due: bundle exec rubocop

fix legend for the single cp chart
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/CompanySelector.js
Due: eslint --ext .js --ext .jsx

Updates puma
  Gemfile.lock
Due: none

validates legislation_type
  app/models/legislation.rb
Due: bundle exec rubocop

implement mobile versions of the Search page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/assets/stylesheets/cclow/layout.scss
  app/helpers/application_helper.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/views/layouts/cclow/_fixed-navbar.html.erb
  app/views/layouts/cclow/_footer.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

bug fix
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/layout.scss
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

move BubbleChart to charts folder
  app/javascript/components/charts/bubble/Chart.js
  app/javascript/components/charts/bubble/SingleCell.js
  app/javascript/components/charts/bubble/index.js
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx

move mq assessment level chart to JS
  app/helpers/chart_helper.rb
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/mq-level/Chart.js
  app/javascript/components/charts/mq-level/index.js
  app/javascript/components/charts/mq-level/options.js
  app/services/api/charts/mq_assessment.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/mq_assessment.js.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

move mq sector pie chart to JS
  app/helpers/chart_helper.rb
  app/javascript/components/charts/mq-sector-pie/Chart.js
  app/javascript/components/charts/mq-sector-pie/index.js
  app/javascript/components/charts/mq-sector-pie/options.js
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

remove chartkick
  Gemfile
  Gemfile.lock
  app/javascript/packs/tpi.js
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

bring back enumerable extension from chartkick, couple more changes to pie chart html and css
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/javascript/components/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/hooks.js
  app/javascript/components/charts/mq-level/Chart.js
  app/javascript/components/charts/mq-sector-pie/Chart.js
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  config/initializers/extensions.rb
  lib/extensions/enumerable.rb
  spec/services/api/charts/mq_assessment_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix specs
  spec/services/api/charts/mq_assessment_spec.rb
Due: bundle exec rubocop

cp all sectors tooltip
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/javascript/components/charts/cp-performance-all-sectors/options.js
Due: eslint --ext .js --ext .jsx

mq level chart styles changes to make look more like on designs
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/charts/mq-level.scss
  app/javascript/components/charts/mq-level/options.js
  app/services/api/charts/mq_assessment.rb
  spec/services/api/charts/mq_assessment_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

order cp and mq assessments by date
  app/views/tpi/companies/show.html.erb
Due: none

change radius
  app/javascript/components/charts/mq-level/options.js
Due: eslint --ext .js --ext .jsx

cp all sectors white dataLabel for No Dosclosure
  app/javascript/components/charts/cp-performance-all-sectors/options.js
Due: eslint --ext .js --ext .jsx

Sort companies by name
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

add mobile navigate menu
  app/assets/images/icon_chevron_dark/chevron-up.svg
  app/assets/stylesheets/cclow/_geography-page.scss
  app/javascript/components/MobileNavigateMenu.js
  app/views/layouts/cclow/geography.html.erb
Due: eslint --ext .js --ext .jsx

add item to mobile navigate menu
  app/javascript/components/MobileNavigateMenu.js
  app/views/layouts/cclow/geography.html.erb
Due: eslint --ext .js --ext .jsx

Renamed historical_comments to company_comments_internal
  app/admin/companies.rb
  app/models/company.rb
  app/services/csv_import/companies.rb
  db/migrate/20200310163503_rename_historical_comments_to_company_comments_internal_on_companies.rb
  db/schema.rb
Due: bundle exec rubocop

Annotate models
  app/models/company.rb
  app/models/news_article.rb
  app/models/publication.rb
  spec/factories/companies.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
  spec/models/company_spec.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
Due: bundle exec rubocop

implement mobile version of the overview and context page
  app/assets/stylesheets/cclow/_events_timeline.scss
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/decorators/cclow/geography_overview_decorator.rb
  app/javascript/components/EventsTimeline.js
  app/javascript/components/MobileNavigateMenu.js
  app/javascript/components/world-map/MapLegend.js
  app/views/cclow/geographies/_overview.html.erb
  app/views/cclow/geographies/show.html.erb
  app/views/layouts/cclow/geography.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Renamed field in spec
  spec/factories/companies.rb
Due: bundle exec rubocop

implement mobile version of the climate targets page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/javascript/components/MobileNavigateMenu.js
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/legislations/index.html.erb
Due: eslint --ext .js --ext .jsx

update figure
  app/views/tpi/home/index.html.erb
Due: none

Display litigation languages
  app/views/cclow/cclow/_documents_list.html.erb
Due: none

fix design
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/_typography.scss
Due: none

Reviews display of laws when connecting to litigations and targets
  app/decorators/legislation_decorator.rb
  app/models/legislation.rb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/targets/_form.html.erb
Due: bundle exec rubocop

update display name as well
  app/decorators/external_legislation_decorator.rb
  app/models/external_legislation.rb
  app/views/admin/litigations/_form.html.erb
Due: bundle exec rubocop

fix background patterns
  app/assets/images/homepage/homepage-dot-pattern.png
  app/assets/stylesheets/tpi/_hero.scss
Due: none

code review
  app/assets/stylesheets/tpi.scss
Due: none

fixed primary background of buttons
  app/assets/stylesheets/tpi/buttons.scss
Due: none

Tweak publications layout
  app/assets/stylesheets/tpi/tags.scss
  app/views/tpi/publications/_promoted.html.erb
Due: none
