Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

fix: tests
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/banks_controller_spec.rb
Due: bundle exec rubocop

feat: CP Matrix data endpoint also provides assumptions info
  app/models/tpi_sector.rb
  app/services/api/charts/cp_matrix.rb
  spec/services/api/charts/cp_matrix_spec.rb
Due: bundle exec rubocop

Show multiple charts with common legend
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/Legend.js
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/javascript/components/tpi/charts/cp-performance/options.js
  app/views/tpi/banks/_cp_assessments.html.erb
  app/views/tpi/banks/show.html.erb
Due: eslint --ext .js --ext .jsx

refactoring: Moving Bank Assessments behind CP data
  app/views/tpi/banks/show.html.erb
Due: none

Remove sector button. Add unit and style
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/tpi/charts/cp-performance/Legend.js
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
  app/javascript/components/tpi/charts/cp-performance/options.js
  app/views/tpi/banks/_cp_assessments.html.erb
Due: eslint --ext .js --ext .jsx

refactoring: find unit based on assessment
  app/views/tpi/banks/_cp_assessments.html.erb
Due: none

refactoring: cp_matrix_data api provides also metadata information
  app/models/cp/portfolio.rb
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_cp_assessments.html.erb
  app/views/tpi/banks/show.html.erb
  spec/services/api/charts/cp_matrix_spec.rb
Due: bundle exec rubocop

feat: Support new bank indicators
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/presenters/tpi/bank_assessment_presenter.rb
  app/services/api/charts/average_bank_score.rb
  app/services/csv_export/user/bank_assessments.rb
  app/views/tpi/banks/_assessment.html.erb
  db/seeds/tpi/bank_assessment_indicators.csv
  db/seeds/tpi/bank_assessments.csv
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/banks_controller_spec.rb
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_bank_assessments_csv.json
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_indicators_csv.json
  spec/support/fixtures/files/bank_assessment_indicators.csv
  spec/support/fixtures/files/bank_assessments.csv
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add cp matrix chart
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/assets/stylesheets/tpi/charts/cp-matrix.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
  app/javascript/components/tpi/charts/cp-matrix/index.js
  app/views/tpi/banks/_cp_matrix.html.erb
  app/views/tpi/banks/show.html.erb
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

Add arrows to charts and fix some styles
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
Due: eslint --ext .js --ext .jsx

Change color of ellipsis
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Due: none

Fix legend
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Due: none

feat: Adding new Alignment option
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/models/cp/alignment.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Make section responsive
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/assets/stylesheets/tpi/charts/cp-matrix.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/views/tpi/banks/_cp_matrix.html.erb
Due: none

Fix type warnings
  app/javascript/components/tpi/Navbar.js
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
Due: eslint --ext .js --ext .jsx

feat: Adding missing units for sectors
  app/services/seed/tpi_data.rb
  db/seeds/tpi/bank_assessment_indicators.csv
Due: bundle exec rubocop

feat: Convert exported csv files to excel
  Gemfile
  Gemfile.lock
  app/controllers/tpi/banks_controller.rb
  app/services/api/csv_to_excel.rb
  spec/controllers/tpi/banks_controller_spec.rb
  spec/support/controller_helpers.rb
Due: bundle exec rubocop

Filter target years on legend
  app/javascript/components/tpi/charts/cp-performance/MultipleChart.js
Due: eslint --ext .js --ext .jsx

Style fixes.Add scroll shadows. Update icon
  app/assets/images/icon-go-to-arrow.svg
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table-hooks.js
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/javascript/components/tpi/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

Align vertically all titles
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Due: eslint --ext .js --ext .jsx

feat: Adding slug to publications
  app/controllers/tpi/publications_controller.rb
  app/controllers/tpi/sitemaps_controller.rb
  app/models/publication.rb
  app/views/tpi/home/index.html.erb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/sitemaps/index.xml.erb
  db/migrate/20230712074753_add_slug_to_publications.rb
  db/structure.sql
  db/test-dump.psql
  spec/controllers/tpi/publications_controller_spec.rb
  spec/controllers/tpi/sitemaps_controller_spec.rb
Due: bundle exec rubocop

test: Update of test dump
  db/structure.sql
  db/test-dump.psql
  spec/system/public/tpi/banking_tool_spec.rb
Due: bundle exec rubocop

chore: Update of Ruby to 2.7.8
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  config/deploy/production.rb
  config/deploy/staging.rb
Due: bundle exec rubocop

chore: Update of Ruby to 3.0.0
  .rubocop.yml
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  config/deploy/production.rb
  config/deploy/staging.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

Update of Readme
  README.md
Due: none

chore: Update of appsignal
  Gemfile.lock
Due: none

refactoring: Use Roo and Caxlsx for excel manipulation (replaces RubyXL)
  Gemfile
  Gemfile.lock
  app/services/api/csv_to_excel.rb
  spec/support/controller_helpers.rb
Due: bundle exec rubocop

feat: Adding extra comment to bank assessment indicators
  app/admin/bank_assessment_indicators.rb
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_assessment.html.erb
  db/migrate/20230713121501_add_comment_to_bank_assessment_indicators.rb
  db/structure.sql
  db/test-dump.psql
Due: bundle exec rubocop

Update legend elements size
  app/assets/stylesheets/cclow/_typography.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Due: eslint --ext .js --ext .jsx

Wrap text on tooltip
  app/assets/stylesheets/tpi/charts/cp-performance.scss
Due: none

Add tooltip to titles with ellipsis
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Due: eslint --ext .js --ext .jsx

refactoring: Link to publication document
  app/controllers/tpi/publications_controller.rb
  app/views/tpi/home/index.html.erb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/sitemaps/index.xml.erb
  config/routes.rb
  spec/controllers/tpi/publications_controller_spec.rb
  spec/controllers/tpi/sitemaps_controller_spec.rb
Due: bundle exec rubocop

Change scroll shadow color to light blue
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Due: none

Add scroll hint
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table-hooks.js
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
Due: eslint --ext .js --ext .jsx

Show custom scrollbar always
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Due: none

Make scroll hint arrows smaller
  app/assets/stylesheets/tpi/charts/cp-matrix-table.scss
Due: none

Change color of line. Make tooltip visible when hovering
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/charts/mq-level.scss
  app/javascript/components/tpi/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

Apply opacity to area chart. Show same color on tooltip
  app/javascript/components/tpi/charts/cp-performance/Tooltip.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Due: eslint --ext .js --ext .jsx

feat: assumptions equal to "0" is ignored
  app/services/api/charts/cp_matrix.rb
  spec/services/api/charts/cp_matrix_spec.rb
Due: bundle exec rubocop

feat: always use Company CP data to count emission mean
  Gemfile.lock
  app/services/api/charts/cp_assessment.rb
  app/services/seed/tpi_data.rb
  app/views/tpi/banks/_cp_assessments.html.erb
  spec/services/api/charts/cp_assessment_spec.rb
Due: bundle exec rubocop
