Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

strip outer div created by trix, we don't need that and it makes the data hard to read/write in import/export process
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/targets.rb
  app/services/html_helper.rb
  config/initializers/inflections.rb
  lib/tasks/fix.rake
  spec/models/geography_spec.rb
  spec/models/legislation_spec.rb
  spec/models/litigation_spec.rb
  spec/models/target_spec.rb
Due: bundle exec rubocop

add is_external and url to document csv admin download
  app/admin/documents.rb
  spec/controllers/admin/documents_controller_spec.rb
Due: bundle exec rubocop

add region to cp benchmarks
  app/admin/cp_benchmarks.rb
  app/models/cp/benchmark.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  db/migrate/20220310091530_add_region_to_cp_benchmarks.rb
  db/structure.sql
  db/test-dump.psql
  spec/factories/cp_benchmarks.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_zip_sector_benchmarks_csv.json
  spec/models/cp/benchmark_spec.rb
  spec/support/fixtures/files/cp_benchmarks.csv
Due: bundle exec rubocop

add cp assessment regional alignment columns
  app/admin/cp_assessments.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/csv_import/helpers.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  db/migrate/20220324160017_add_regional_alignments_to_cp_assessments.rb
  db/structure.sql
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Due: bundle exec rubocop

catch pending migrations in test db dump
  lib/tasks/test.rake
  spec/rails_helper.rb
Due: bundle exec rubocop

update test db dump, remove selenium warning
  db/test-dump.psql
  spec/rails_helper.rb
Due: bundle exec rubocop

remove cp alignment year and override
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/decorators/cp/assessment_decorator.rb
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/csv_import/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20220324184534_remove_cp_alignment_year_override_from_cp_assessments.rb
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/models/cp/assessment_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Due: bundle exec rubocop

rename cp_alignment to cp_alignment_2050
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_import/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/tpi/companies/show.html.erb
  db/migrate/20220324190738_rename_cp_alignment_to_cp_alignment2050.rb
  db/seeds/tpi/cp-assessments.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/factories/cp_assessment.rb
  spec/models/cp/assessment_spec.rb
  spec/services/api/charts/cp_performance_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Due: bundle exec rubocop

fix selected assessments labels
  app/javascript/components/tpi/RemoteDropdown.js
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx

refactor company presenter
  app/controllers/tpi/companies_controller.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

pass selected view to api charts presenter
  app/controllers/tpi/companies_controller.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
Due: bundle exec rubocop

wip company page with regional view
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/_cp_alignment.html.erb
  app/views/tpi/companies/show.html.erb
  db/seeds/tpi/cp-assessments.csv
Due: bundle exec rubocop

missing model annotations
  app/models/cp/assessment.rb
  spec/models/cp/assessment_spec.rb
Due: bundle exec rubocop

fix cp assessments export
  app/admin/cp_assessments.rb
Due: bundle exec rubocop

fix benchmark upload
  app/services/csv_import/cp_benchmarks.rb
Due: bundle exec rubocop

implementing feedback
  app/admin/companies.rb
  app/assets/stylesheets/admin/utilities.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/admin/cp/_emissions_table.html.arb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

apply more changes to cp regional alignments, add new csv to export
  app/admin/cp_assessments.rb
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/concerns/tpi/user_download.rb
  app/models/cp/assessment.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/csv_export/user/cp_assessments_regional.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/companies/show.html.erb
  spec/factories/cp_assessment.rb
  spec/models/cp/assessment_spec.rb
  spec/services/api/charts/cp_assessment_spec.rb
Due: bundle exec rubocop

remove not used method for getting latest benchmarks
  app/models/company.rb
  spec/models/company_spec.rb
Due: bundle exec rubocop

fix RemoteDropdown to pass view
  app/javascript/components/tpi/RemoteDropdown.js
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx

change benchmark id for regional benchmark
  app/models/cp/benchmark.rb
Due: bundle exec rubocop

update specs to include regional benchmarks file
  app/commands/command/csv_data_upload.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_regional_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_zip_sector_benchmarks_csv.json
Due: bundle exec rubocop

update puma
  Gemfile.lock
Due: none

small css fixes
  app/assets/stylesheets/tpi/_base-tooltip.scss
  app/assets/stylesheets/tpi/pages/company.scss
Due: none

use local storage on staging for now
  config/environments/staging.rb
Due: bundle exec rubocop

Ifix error with showing all benchmarks not global ones in sector page
  app/models/company.rb
  app/models/tpi_sector.rb
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

missing image alt texts
  app/javascript/components/cclow/LawsDropdown.js
  app/javascript/components/cclow/MobileNavigateMenu.js
  app/javascript/components/cclow/SearchFilter.js
  app/javascript/components/cclow/TimeRangeFilter.js
  app/javascript/components/cclow/pages/ClimateTargets.js
  app/javascript/components/cclow/pages/LegislationAndPolicies.js
  app/javascript/components/cclow/pages/LitigationCases.js
  app/javascript/components/cclow/world-map/WorldMap.js
  app/javascript/components/tpi/CheckList.js
  app/javascript/components/tpi/DropdownSelector.js
  app/javascript/components/tpi/Filters.js
  app/javascript/components/tpi/LatestInformation.js
  app/javascript/components/tpi/Navbar.js
  app/javascript/components/tpi/NestedDropdown.js
  app/javascript/components/tpi/RemoteDropdown.js
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/CompanyTag.js
  app/views/cclow/cclow/_related_laws_list.html.erb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/home/_hero.html.erb
  app/views/cclow/home/_latest_additions.html.erb
  app/views/cclow/home/index.html.erb
  app/views/layouts/cclow/_header.html.erb
  app/views/layouts/cclow/_publications-banner.html.erb
  app/views/layouts/tpi/_banner.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx

remove page title truncate, add font swap, small perf improvements
  app/assets/stylesheets/cclow/_typography.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/models/geography.rb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: bundle exec rubocop

fix accessibility in few places TPI part
  app/assets/stylesheets/tpi/_hero.scss
  app/javascript/components/tpi/Navbar.js
  app/views/layouts/cclow.html.erb
  app/views/layouts/tpi.html.erb
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/home/index.html.erb
Due: eslint --ext .js --ext .jsx

fix accessibility issues for cclow project
  app/assets/stylesheets/cclow/_events_timeline.scss
  app/assets/stylesheets/cclow/_geography-page.scss
  app/decorators/geography_decorator.rb
  app/javascript/components/cclow/EventsTimeline.js
  app/javascript/components/cclow/world-map/WorldMap.js
  app/javascript/shared/controllers/slider_controller.js
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/home/_hero.html.erb
  app/views/cclow/home/index.html.erb
  app/views/layouts/cclow/_footer.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix react warnings
  app/javascript/components/cclow/EventsTimeline.js
  app/javascript/components/cclow/world-map/MapLegend.js
Due: eslint --ext .js --ext .jsx

lighthouse sites
  spec/performance/sites.txt
Due: none

fix more seo issues
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_footer.scss
  app/javascript/components/tpi/Testimonials.js
  app/views/layouts/tpi/_footer.html.erb
  app/views/layouts/tpi/_subscribe.html.erb
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/pages/_logo_description.html.erb
Due: eslint --ext .js --ext .jsx

update nokogiri
  Gemfile.lock
Due: none

remove not used partials
  app/views/shared/_search-icon.html.erb
  app/views/shared/_tpi-logo.html.erb
Due: none

move shared pages partials to shared directory
  app/views/cclow/pages/show.html.erb
  app/views/shared/pages/_logo_description.html.erb
  app/views/shared/pages/_regular.html.erb
  app/views/shared/pages/_text_description.html.erb
  app/views/tpi/pages/show.html.erb
Due: none

pages css cleanup
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_home.scss
  app/assets/stylesheets/cclow/_pages.scss
  app/assets/stylesheets/pages.scss
  app/views/cclow/pages/show.html.erb
Due: none

missing image alt names
  app/views/shared/pages/_regular.html.erb
  app/views/shared/pages/_text_description.html.erb
Due: none

fix pages css to enable more themes for cclow pages
  app/assets/stylesheets/cclow/_pages.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/views/shared/pages/_text_description.html.erb
Due: none

use full text filters for selecteable list component
  app/admin/external_legislations.rb
  app/admin/legislations.rb
  app/models/external_legislation.rb
  app/models/legislation.rb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/targets/_form.html.erb
Due: bundle exec rubocop

change CP alignment colors for cement and steel
  app/models/cp/alignment.rb
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop
