Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

pass litigation_cases page to react component
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add map context data
  app/controllers/cclow/api/map_indicators_controller.rb
  app/models/cclow_map_data.rb
  config/routes.rb
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.csv
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.jsonld
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.csv
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.jsonld
  map_data/cumalitive_weather_idp_per_country_2008--2018.csv
  map_data/cumalitive_weather_idp_per_country_2008--2018.jsonld
  map_data/cumulative_emissions_total_fossil_fuels_and_cement_in_MtCO2e_2017.csv
  map_data/cumulative_emissions_total_fossil_fuels_and_cement_in_MtCO2e_2017.jsonld
  map_data/emissions_total_fossil_fuels_and_cement_in_MtCO2e_2018.csv
  map_data/emissions_total_fossil_fuels_and_cement_in_MtCO2e_2018.jsonld
Due: bundle exec rubocop

Add tooltip for the CCLOW map * Tooltip appears on bubble click * Set stroke for clicked circle * Tooltip is clickable - set a link inside * Style the tooltip
  app/assets/stylesheets/cclow/_colors.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

Replaced single sectors with multi sectors for Laws and Litigations
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/decorators/legislation_decorator.rb
  app/decorators/litigation_decorator.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/api/latest_additions.rb
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  db/migrate/20191206164849_create_join_table_legislation_laws_sectors.rb
  db/migrate/20191206172130_remove_date_passed_from_legislations.rb
  db/migrate/20191206175055_create_join_table_litigations_laws_sectors.rb
  db/schema.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/legislations_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/factories/legislations.rb
  spec/factories/litigations.rb
  spec/models/legislation_spec.rb
  spec/services/api/latest_additions_spec.rb
Due: bundle exec rubocop

enable rolling back migrations
  db/migrate/20191206164849_create_join_table_legislation_laws_sectors.rb
  db/migrate/20191206175055_create_join_table_litigations_laws_sectors.rb
Due: bundle exec rubocop

add some map content data
  app/controllers/cclow/api/map_indicators_controller.rb
  app/models/cclow_map_content_data.rb
  app/models/cclow_map_context_data.rb
Due: bundle exec rubocop

remove metaprogramming
  app/models/cclow_map_context_data.rb
Due: bundle exec rubocop

use real data in worldmap
  app/assets/stylesheets/cclow/_world-map.scss
  app/controllers/cclow/home_controller.rb
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/centroids.js
  app/javascript/components/world-map/world-map.hooks.js
  app/javascript/components/world-map/world-map.reducer.js
  app/models/cclow_map_context_data.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

updates migration file for laws
  db/seeds/laws_migration/legislation.csv
Due: none

First migration script for laws and their responses
  app/services/csv_import/base_importer.rb
  app/services/csv_import/legislations.rb
  app/services/csv_migration/legislation.rb
  app/services/migration/legislation.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/legislation.csv
Due: bundle exec rubocop

trying to improve importer
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/legislations.rb
  app/services/migration/legislation.rb
  lib/tasks/reimport.rake
Due: bundle exec rubocop

Adjustments to litigations table
  app/admin/litigations.rb
  app/models/geography.rb
  app/models/litigation.rb
  app/services/api/latest_additions.rb
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/litigations.rb
  app/services/seed/cclow_data.rb
  app/views/admin/litigations/_form.html.erb
  db/migrate/20191207060117_rename_jurisdiction_id_to_geography_id_litigations.rb
  db/schema.rb
  lib/tasks/reimport.rake
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/geographies_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/factories/litigations.rb
Due: bundle exec rubocop

tweaks to litigation migration
  app/models/litigation.rb
  app/services/csv_import/litigations.rb
  db/seeds/laws_migration/litigations.csv
Due: bundle exec rubocop

Migrate targets data
  app/services/concerns/uploader_helpers.rb
  app/services/csv_import/targets.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/targets.csv
  lib/tasks/reimport.rake
Due: bundle exec rubocop

small updates for target import
  app/models/target.rb
  app/services/csv_import/targets.rb
  db/seeds/laws_migration/targets.csv
Due: bundle exec rubocop

Import events, fix specs
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/csv_import/events.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/events.csv
  lib/tasks/reimport.rake
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/legislations_controller_spec.rb
  spec/support/fixtures/files/targets.csv
Due: bundle exec rubocop

Find geography to import
  app/services/csv_import/events.rb
Due: bundle exec rubocop

Small changes
  app/services/csv_import/events.rb
  db/seeds/laws_migration/litigations.csv
Due: bundle exec rubocop

fix specs and rubocop
  app/models/event.rb
  app/services/csv_import/events.rb
  app/services/csv_import/targets.rb
  app/services/migration/legislation.rb
  spec/models/event_spec.rb
Due: bundle exec rubocop

running model annotations
  app/models/cclow_page.rb
  app/models/news_article.rb
  app/models/page.rb
  app/models/publication.rb
  app/models/scope.rb
  app/models/target.rb
  app/models/testimonial.rb
  app/models/tpi_page.rb
  spec/factories/admin_users.rb
  spec/factories/news_articles.rb
  spec/factories/pages.rb
  spec/factories/publications.rb
  spec/factories/targets.rb
  spec/factories/testimonials.rb
  spec/models/admin_user_spec.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
  spec/models/target_spec.rb
  spec/models/testimonial_spec.rb
Due: bundle exec rubocop

update readme
  README.md
Due: none

fix some frontend issues with jurisdiction
  app/controllers/concerns/cclow/search_controller.rb
  app/services/api/latest_additions.rb
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
  app/views/cclow/home/_latest_additions.html.erb
  app/views/cclow/litigation_cases/_list_item.html.erb
  db/seeds.rb
Due: bundle exec rubocop

annotate models
  app/models/legislation.rb
  app/models/litigation.rb
  spec/factories/legislations.rb
  spec/factories/litigations.rb
  spec/models/legislation_spec.rb
  spec/models/litigation_spec.rb
Due: bundle exec rubocop

fixes metric name
  app/services/api/latest_additions.rb
Due: bundle exec rubocop

fixing specs and events date importing
  app/models/event.rb
  app/services/csv_import/events.rb
Due: bundle exec rubocop

Adds missing event types, fixes date formatting for events
  app/models/event.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/csv_import/events.rb
Due: bundle exec rubocop

Change access to class
  app/models/event.rb
Due: bundle exec rubocop

Update spec
  spec/services/api/latest_additions_spec.rb
Due: bundle exec rubocop

Fixes some encoding issues with litigations add international flag
  app/assets/images/flags/INT.svg
  db/seeds/laws_migration/litigations.csv
Due: none

use force-exclusion for rubocop with lintstaged
  .lintstagedrc
Due: none

fix map issue
  app/javascript/components/world-map/world-map.hooks.js
Due: eslint --ext .js --ext .jsx

refactor to use react memo
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.hooks.js
Due: eslint --ext .js --ext .jsx

very WIP legend
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapLegend.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.hooks.js
Due: eslint --ext .js --ext .jsx

Adds litigation sides file
  db/seeds/laws_migration/litigations-sides.csv
Due: none

fixes to litigation sides and side types
  app/models/litigation_side.rb
  db/seeds/laws_migration/litigations-sides.csv
Due: bundle exec rubocop

call importer
  app/services/seed/cclow_data.rb
Due: bundle exec rubocop

Adds method to import legislation files
  app/services/migration/legislation.rb
  app/services/seed/cclow_data.rb
  lib/tasks/reimport.rake
Due: bundle exec rubocop

adds method to import litigation sources
  app/services/migration/litigation.rb
  app/services/seed/cclow_data.rb
Due: bundle exec rubocop

adds similar method to import sources for litigations
  app/services/migration/litigation.rb
  app/services/seed/cclow_data.rb
  lib/tasks/reimport.rake
Due: bundle exec rubocop

please rubocop
  app/services/seed/cclow_data.rb
Due: bundle exec rubocop
