Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

add years with targets to cp chart
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/options.js
  app/models/cp/assessment.rb
  app/services/api/charts/cp_assessment.rb
  app/services/csv_import/cp_assessments.rb
  db/migrate/20220215170029_add2025_and2035_alignments_and_target_years_to_cp_assessments.rb
  db/structure.sql
  spec/models/cp/assessment_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

update carbon performance box css, add placeholders for 2025 and 2035 alignments
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Due: none

update test dump after migration
  db/test-dump.psql
Due: none

make colors based on sectors not dates
  app/models/cp/alignment.rb
  app/services/api/presenters/company.rb
Due: bundle exec rubocop

fix linking to sector in bubble chart
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/sectors/index.html.erb
Due: bundle exec rubocop

update instruction
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
Due: none

add cp alignments and years with targets to edit forms, and csvs
  app/admin/cp_assessments.rb
  app/decorators/cp/assessment_decorator.rb
  app/models/cp/assessment.rb
  app/services/csv_export/user/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  spec/factories/cp_assessment.rb
Due: bundle exec rubocop

fix colors
  app/models/cp/alignment.rb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

security patch
  Gemfile.lock
Due: none

another color fix
  app/models/cp/alignment.rb
Due: bundle exec rubocop

trying to fix cp all sectors chart
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/models/cp/alignment.rb
  app/services/api/charts/cp_performance.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

change alignemnt year for electricity utilities sector
  app/views/tpi/companies/show.html.erb
Due: none

add validations for cp alignments for carbon performance
  app/models/cp/alignment.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/tpi/companies/show.html.erb
  spec/models/cp/assessment_spec.rb
Due: bundle exec rubocop

WIP all sectors chart
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix text color for no or unsuitable disclosure
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
Due: eslint --ext .js --ext .jsx

refactor cp all sectors chart
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

change chart legend layout
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
Due: eslint --ext .js --ext .jsx

seeds for publications
  app/services/seed/tpi_data.rb
  db/seeds/tpi/files/airlines2022.jpg
  db/seeds/tpi/files/autos2022.jpg
  db/seeds/tpi/files/shipping2022.jpg
  db/seeds/tpi/files/test.pdf
Due: bundle exec rubocop

seeds for news articles
  app/admin/news_article.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/news_articles.rb
  app/services/seed/tpi_data.rb
  db/seeds.rb
  db/seeds/tpi/files/bridge.jpg
  db/seeds/tpi/files/industrials.jpg
  db/seeds/tpi/tpi-news-articles.csv
  db/seeds/tpi/tpi-news.csv
  lib/tasks/reimport.rake
Due: bundle exec rubocop

update instruments filter label to include instrument type
  app/controllers/concerns/cclow/filter_controller.rb
Due: bundle exec rubocop

add missing unique validations for instruments and governances
  app/models/governance.rb
  app/models/governance_type.rb
  app/models/instrument.rb
  app/models/instrument_type.rb
  db/migrate/20220218100325_add_unique_indexes_to_instruments_and_instrument_types.rb
  db/migrate/20220218100643_add_unique_indexes_to_governances_and_governance_types.rb
  db/structure.sql
  spec/models/governance_spec.rb
  spec/models/governance_type_spec.rb
  spec/models/instrument_spec.rb
  spec/models/instrument_type_spec.rb
Due: bundle exec rubocop

make uniqueness case insensitive
  app/models/governance.rb
  app/models/governance_type.rb
  app/models/instrument.rb
  app/models/instrument_type.rb
Due: bundle exec rubocop

fix filters when it does not exist
  app/javascript/components/cclow/pages/List.js
Due: eslint --ext .js --ext .jsx

fix rebase errors
  db/structure.sql
Due: none

update geography publications link
  app/views/layouts/cclow/geography.html.erb
Due: none

use different world map
  app/javascript/components/cclow/world-map/WorldMap.js
  public/cclow/world.topo.json
Due: eslint --ext .js --ext .jsx

add just basic compat for ie11
  app/assets/fonts/BrownTT-Bold.eot
  app/assets/fonts/BrownTT-Bold.woff
  app/assets/fonts/BrownTT-Bold.woff2
  app/assets/fonts/BrownTT-Regular.eot
  app/assets/fonts/BrownTT-Regular.woff
  app/assets/fonts/BrownTT-Regular.woff2
  app/assets/stylesheets/cclow/_typography.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/helpers/application_helper.rb
  app/views/layouts/cclow.html.erb
  app/views/layouts/tpi.html.erb
Due: bundle exec rubocop

small fix
  app/helpers/application_helper.rb
Due: bundle exec rubocop

migration to rename governances to themes
  db/migrate/20220221123402_rename_governances_to_themes.rb
  db/structure.sql
Due: bundle exec rubocop

temp disable publications and news from seeds
  app/services/seed/tpi_data.rb
  db/test-dump.psql
Due: bundle exec rubocop

update label for themes in filters
  app/controllers/concerns/cclow/filter_controller.rb
Due: bundle exec rubocop

rename governances => themes
  app/admin/legislations.rb
  app/admin/theme_types.rb
  app/admin/themes.rb
  app/commands/command/destroy/legislation.rb
  app/commands/command/destroy/theme.rb
  app/commands/command/destroy/theme_type.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/decorators/governance_decorator.rb
  app/decorators/governance_type_decorator.rb
  app/decorators/legislation_decorator.rb
  app/decorators/theme_decorator.rb
  app/decorators/theme_type_decorator.rb
  app/javascript/components/cclow/pages/LegislationAndPolicies.js
  app/models/ability.rb
  app/models/governance.rb
  app/models/legislation.rb
  app/models/theme.rb
  app/models/theme_type.rb
  app/services/csv_import/legislations.rb
  app/services/queries/cclow/legislation_query.rb
  app/views/admin/data_uploads/instruction/_legislations.html.erb
  app/views/admin/legislations/_form.html.erb
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/governance_controller_spec.rb
  spec/controllers/admin/governance_types_controller_spec.rb
  spec/controllers/admin/theme_controller_spec.rb
  spec/controllers/admin/theme_types_controller_spec.rb
  spec/factories/theme_types.rb
  spec/factories/themes.rb
  spec/models/theme_spec.rb
  spec/models/theme_type_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

update sec issue
  Gemfile.lock
Due: none

add years with targets to user export
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
Due: bundle exec rubocop

add specs for TPI zip downloads
  app/controllers/concerns/tpi/user_download.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/factories/cp_assessment.rb
  spec/factories/cp_benchmarks.rb
  spec/factories/mq_assessments.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_mq_assessments_methodology_1_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_zip_sector_benchmarks_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_mq_assessments_methodology_1_csv.json
  spec/spec_helper.rb
  spec/support/controller_helpers.rb
Due: bundle exec rubocop

update gems
  Gemfile.lock
Due: none

low hanging fruit specs
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/data_uploads_controller_spec.rb
  spec/controllers/admin/instrument_controller_spec.rb
  spec/controllers/admin/instrument_types_controller_spec.rb
  spec/controllers/admin/legislations_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/controllers/admin/mq_assessments_controller_spec.rb
  spec/controllers/admin/theme_controller_spec.rb
  spec/controllers/admin/theme_types_controller_spec.rb
  spec/factories/data_uploads.rb
  spec/models/dynamic_router_spec.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
  spec/models/testimonial_spec.rb
  spec/support/test_files.rb
Due: bundle exec rubocop

csv - change some delimiters to ; and strip outer div tag
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/targets.rb
Due: bundle exec rubocop

add CSV streaming for cclow user export
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/streaming.rb
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/targets.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
Due: bundle exec rubocop

update specs
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/fixtures/snapshots/cclow_legislation_and_policies_controller_csv.json
  spec/fixtures/snapshots/cclow_litigation_cases_controller_csv.json
Due: bundle exec rubocop
