Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

Add most recent additions in CCLOW search dropdown
  app/controllers/concerns/cclow/search_controller.rb
  app/javascript/components/LawsDropdown.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Change recent additions in Laws and Litigations to pick up last 5 additions ordered by events dates
  app/controllers/concerns/cclow/search_controller.rb
  app/decorators/legislation_decorator.rb
  app/decorators/litigation_decorator.rb
  app/javascript/components/LawsDropdown.js
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/api/latest_additions.rb
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_header.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Fix after rebase
  app/controllers/concerns/cclow/search_controller.rb
Due: bundle exec rubocop

Fix latest additions spec - add new attribute to the array
  spec/services/api/latest_additions_spec.rb
Due: bundle exec rubocop

remove basic auth
  app/controllers/cclow/cclow_controller.rb
Due: bundle exec rubocop

Link header title
  app/views/layouts/cclow/_header.html.erb
Due: none

Adding titles disabling download
  app/views/cclow/climate_targets/index.html.erb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/legislations/index.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
  app/views/cclow/home/index.html.erb
  app/views/cclow/legislation_and_policies/index.html.erb
  app/views/cclow/litigation_cases/index.html.erb
  app/views/cclow/pages/show.html.erb
  app/views/layouts/cclow.html.erb
Due: none

Adds some metadata tags
  app/views/layouts/cclow.html.erb
Due: none

Fix spec
  spec/services/api/latest_additions_spec.rb
Due: bundle exec rubocop

point arrow btn to map section
  app/views/cclow/home/_hero.html.erb
  app/views/cclow/home/index.html.erb
Due: none

flexible scale on the map
  app/assets/stylesheets/cclow/_world-map.scss
Due: none

Handle non existent legislative process. Hide info icons
  app/controllers/concerns/cclow/search_controller.rb
Due: bundle exec rubocop

fix(cclw): fix litigations sidebar to have categories and tags (mocks)
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/views/cclow/geography/litigation_cases/show.html.erb
  app/views/layouts/cclow/geography.html.erb
Due: none

add dynamic categories and tags display
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: bundle exec rubocop

Order things
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
Due: bundle exec rubocop

handle rubocop
  app/controllers/concerns/cclow/search_controller.rb
Due: bundle exec rubocop

Sort in reverse order
  app/controllers/tpi/publications_controller.rb
  app/services/queries/tpi/news_publications_query.rb
Due: bundle exec rubocop

Sort events
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: none

Fixes to targets importer
  app/services/concerns/uploader_helpers.rb
  db/seeds/laws_migration/targets.csv
Due: bundle exec rubocop

Adds targets API route per country
  app/controllers/cclow/api/targets_controller.rb
  app/models/legislation.rb
  app/models/target.rb
  config/routes.rb
Due: bundle exec rubocop

Moved code to where it belongs
  app/controllers/cclow/api/targets_controller.rb
  app/models/legislation.rb
  app/models/target.rb
Due: bundle exec rubocop

Handles 404, adds spec
  app/controllers/cclow/api/targets_controller.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Due: bundle exec rubocop

fix France centroid
  app/javascript/components/world-map/centroids.js
Due: eslint --ext .js --ext .jsx

add controller and queries to perform full text search
  app/controllers/cclow/api/search_controller.rb
  app/services/queries/cclow/legislations_search_query.rb
  app/services/queries/cclow/litigations_search_query.rb
  config/routes.rb
Due: bundle exec rubocop

WIP - adding search_counts route
  app/controllers/cclow/api/search_controller.rb
  app/controllers/concerns/cclow/search_controller.rb
  app/javascript/components/LawsDropdown.js
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/queries/cclow/litigations_search_query.rb
  app/views/layouts/cclow/_header.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

small refactor use inner LawsDropdownCategory component
  app/javascript/components/LawsDropdown.js
Due: eslint --ext .js --ext .jsx

add geography full text search query
  app/controllers/cclow/api/search_controller.rb
  app/javascript/components/LawsDropdown.js
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/queries/cclow/geographies_full_text_query.rb
  app/services/queries/cclow/legislations_full_text_query.rb
  app/services/queries/cclow/litigations_full_text_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add targets full text query
  app/controllers/cclow/api/search_controller.rb
  app/javascript/components/LawsDropdown.js
  app/models/target.rb
  app/services/queries/cclow/geographies_full_text_query.rb
  app/services/queries/cclow/legislations_full_text_query.rb
  app/services/queries/cclow/litigations_full_text_query.rb
  app/services/queries/cclow/targets_full_text_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

drop custom made full text search queries and use pg_search instead
  Gemfile
  Gemfile.lock
  app/controllers/cclow/api/search_controller.rb
  app/models/concerns/taggable.rb
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  app/services/queries/cclow/geographies_full_text_query.rb
  app/services/queries/cclow/legislations_full_text_query.rb
  app/services/queries/cclow/litigations_full_text_query.rb
  app/services/queries/cclow/targets_full_text_query.rb
Due: bundle exec rubocop

add query objects
  app/controllers/cclow/api/search_controller.rb
  app/services/queries/cclow/geography_query.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: bundle exec rubocop

remove search_controller concern
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/geographies_controller.rb
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/cclow/home_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/search_controller.rb
Due: bundle exec rubocop

refactor legislation search
  .eslintrc.yml
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/LawsDropdown.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/services/queries/cclow/geography_query.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

refactor cclow backend controllers to use query objects
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/LawsDropdown.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

update recent scopes
  app/controllers/cclow/api/search_controller.rb
  app/javascript/components/LawsDropdown.js
  app/models/legislation.rb
  app/models/litigation.rb
  app/services/api/latest_additions.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

climate-laws domains updated
  config/routes.rb
Due: bundle exec rubocop

fix legend styles
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapLegend.js
Due: eslint --ext .js --ext .jsx

add tags to Litigation cases page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/api/filters.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add tags to Climate Targets and Legislation and policies page
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Due: eslint --ext .js --ext .jsx

add recent parameter to queries
  .rubocop.yml
  app/controllers/cclow/api/search_controller.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  app/services/queries/cclow/geography_query.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: bundle exec rubocop

lawsdropdown fix no-matches thing
  app/javascript/components/LawsDropdown.js
Due: eslint --ext .js --ext .jsx
