Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

implement mobile style to publications page
  app/assets/stylesheets/tpi/_filters.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/javascript/components/Filters.js
  app/views/tpi/publications/index.html.erb
Due: eslint --ext .js --ext .jsx

fix styles for tpi home page
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/_testimonials.scss
  app/javascript/components/Testimonials.js
  app/views/tpi/home/_partners.html.erb
  app/views/tpi/home/index.html.erb
Due: eslint --ext .js --ext .jsx

fix tpi - pages design
  app/assets/stylesheets/tpi/_pages.scss
  app/models/content.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/tpi/pages/show.html.erb
Due: bundle exec rubocop

change the order of the elements on the publication page
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_promoted.html.erb
Due: none

add publications banner to geography page
  app/assets/images/cclow/publications_banner.png
  app/assets/images/cclow/publications_banner@2x.png
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geographies/show.html.erb
  app/views/layouts/cclow/geography.html.erb
Due: none

missing related word
  app/views/layouts/cclow/geography.html.erb
Due: none

update specs wording to match reality
  spec/system/public/cclow/climate_targets_spec.rb
  spec/system/public/cclow/legislation_and_policies_spec.rb
  spec/system/public/cclow/litigations_spec.rb
Due: bundle exec rubocop

using wrong service name
  .travis.yml
Due: none

fix links in latest information block
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/LatestInformation.js
Due: eslint --ext .js --ext .jsx

return extra changes
  app/assets/stylesheets/tpi/pages/company.scss
Due: none

create publication banner for mobile
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/home/index.html.erb
  app/views/layouts/cclow/_publications-banner.html.erb
  app/views/layouts/cclow/geography.html.erb
Due: none

small text change
  app/views/layouts/cclow/_publications-banner.html.erb
Due: none

style fix
  app/assets/stylesheets/tpi/_pages.scss
  app/views/tpi/pages/show.html.erb
Due: none

fix text again
  app/views/tpi/home/index.html.erb
Due: none

updating bundles
  Gemfile.lock
  spec/controllers/admin/litigations_controller_spec.rb
Due: bundle exec rubocop

upgrade js dependencies
  yarn.lock
Due: none

remove prettier
  package.json
  yarn.lock
Due: none

change time range filter from/to into date of last change
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/common_filters.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fixing time range filter sync with query string
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

filter legislations by date of law passed
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/services/queries/cclow/legislation_query.rb
  spec/services/queries/cclow/legislation_query_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

find out min date for law passed filter
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix law passed to filter
  app/services/queries/cclow/legislation_query.rb
Due: bundle exec rubocop

add filter for case started date
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

change selected count to selected title for time range filter
  app/javascript/components/TimeRangeFilter.js
Due: eslint --ext .js --ext .jsx

Allow a display name different from the resource
  app/admin/legislations.rb
  lib/extensions/active_admin/active_admin_csv_download.rb
Due: bundle exec rubocop

Updates the available event types for legislation
  app/models/legislation.rb
Due: bundle exec rubocop

Updates specs and factories with the new event types
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/legislations_controller_spec.rb
  spec/factories/events.rb
  spec/services/queries/cclow/legislation_query_spec.rb
Due: bundle exec rubocop

simplify method using scope
  app/models/legislation.rb
Due: bundle exec rubocop

updates rubocop
  .rubocop.yml
Due: none

I can't use the scope here. this is a instance method
  app/models/legislation.rb
Due: bundle exec rubocop

we are receiving 4 digits year records, not two
  app/services/csv_import/events.rb
Due: bundle exec rubocop

fix bug with tragets endpoint
  app/controllers/cclow/api/targets_controller.rb
Due: bundle exec rubocop

Adds new endpoint to get what countries have targets in laws or policies
  app/controllers/cclow/api/targets_controller.rb
  config/routes.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Due: bundle exec rubocop

add extra info to laws and policies targets endpoint
  app/models/target.rb
Due: bundle exec rubocop

updates targets endpoint, and adds more info
  app/controllers/cclow/api/targets_controller.rb
  app/models/target.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Due: bundle exec rubocop

Upgrade gems, fixes specs kind off
  Gemfile.lock
  spec/system/public/cclow/geographies_spec.rb
Due: bundle exec rubocop

Updates homepage text
  app/views/tpi/home/index.html.erb
Due: none

adds more specific version
  .nvmrc
Due: none

Updates rails
  Gemfile.lock
Due: none
