Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

Revert problematic changes from prev commit, keeping rake
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
  app/services/api/charts/cp_matrix.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Fix bubble graph when there's no data
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
Due: eslint --ext .js --ext .jsx

Dynamic date selector update index bank
  app/views/tpi/banks/index_assessment.js.erb
Due: none

Add message when assessment date doesn't have data
  app/views/tpi/banks/_index_charts.html.erb
Due: none

Fix date selector in bank index
  app/controllers/tpi/banks_controller.rb
  app/services/api/charts/average_bank_score.rb
  app/views/tpi/banks/_index_charts.html.erb
Due: bundle exec rubocop

Dynamic graphs and tables: Bank Assessments
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/hooks.js
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_result.rb
  app/presenters/tpi/bank_assessment_presenter.rb
  app/services/api/charts/average_bank_score.rb
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_cp_assessments.html.erb
  app/views/tpi/banks/_cp_matrix.html.erb
  app/views/tpi/banks/_index_charts.html.erb
  app/views/tpi/banks/_indicators.html.erb
  app/views/tpi/banks/show.html.erb
  db/migrate/20250825065000_add_version_to_bank_assessment_indicators.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Run rubocop fix
  app/admin/companies.rb
  app/admin/data_uploads.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
  app/controllers/tpi/banks_controller.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_indicator.rb
  app/services/api/charts/average_bank_score.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/geographies_controller_spec.rb
  spec/controllers/admin/instrument_controller_spec.rb
  spec/controllers/admin/instrument_types_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
  spec/controllers/admin/theme_controller_spec.rb
  spec/controllers/admin/theme_types_controller_spec.rb
Due: bundle exec rubocop

Show empty assessments when no assessment available: Banks
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/show.html.erb
Due: bundle exec rubocop

Move MQ assessment date to indicators section: Banking changes
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/show.html.erb
Due: none

Add new logos
  app/assets/images/logo/lse_logo_2025.png
  app/assets/images/logo/tpi_transition_logo_2025.png
  app/assets/stylesheets/tpi/_banner.scss
  app/views/layouts/tpi/_banner.html.erb
  app/views/layouts/tpi/_hosted_by.html.erb
Due: none

Make CP matrix term selector dynamic: Banking
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_cp_matrix.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Smaller size for right logo and less white space, banner
  app/assets/stylesheets/tpi/_banner.scss
Due: none

Order assessment dates desc: Banking
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/views/tpi/banks/_cp_matrix.html.erb
Due: bundle exec rubocop

Use 2027 as opposed to 2025 for short-term cp matrix: Banking
  app/admin/cp_assessments.rb
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
  app/models/cp/matrix.rb
  app/models/data_upload.rb
  app/services/api/charts/cp_matrix.rb
  app/services/csv_import/bank_cp_assessments2027.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20250912094608_add_cp_alignment2027_to_cp_matrices.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Not show benchmarks for sectors not present: Banking
  app/views/tpi/banks/_cp_assessments.html.erb
Due: none

Update logo in mobile view
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
Due: eslint --ext .js --ext .jsx

Increase logo in mobile: logos
  app/assets/stylesheets/tpi/_navbar.scss
Due: none

Update introduction and auto metric: Banking
  app/services/seed/tpi_data.rb
  app/views/tpi/banks/index.html.erb
Due: bundle exec rubocop

Not show non-assessable graphs: Banking
  app/views/tpi/banks/_cp_assessments.html.erb
Due: none

Make partial comparison for not assessable: banking
  app/views/tpi/banks/_cp_assessments.html.erb
Due: none

Check assessmentable against matrix values: Banking
  app/views/tpi/banks/_cp_assessments.html.erb
Due: none

Show the 3 logos on mobile view
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
Due: eslint --ext .js --ext .jsx

Change CP graph of bank dinamically with assessment date: banking
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_cp_assessments.html.erb
  app/views/tpi/banks/_cp_assessments_content.html.erb
  app/views/tpi/banks/_cp_matrix.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Update cp assessment upload: Banking
  app/admin/cp_assessments.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_assessments2025.rb
Due: bundle exec rubocop

Update header converters: banking
  app/services/csv_import/bank_cp_assessments.rb
Due: bundle exec rubocop

Accept year-suffixed headers in cp aligment upload: banking
  app/services/api/charts/cp_assessment.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_assessments2025.rb
Due: bundle exec rubocop

Darker gray for not assessable, graph exceptions: Banking
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/services/api/charts/cp_matrix.rb
  app/services/cp/display_overrides.rb
  app/views/tpi/banks/_cp_assessments.html.erb
  config/cp_display_overrides.yml
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add sector normalizer and checker to avoid wrong sectos: Banking
  app/controllers/tpi/banks_controller.rb
  app/services/api/charts/cp_matrix.rb
  app/services/cp/display_overrides.rb
  app/services/cp/sector_normalizer.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Due: bundle exec rubocop

Add sector's config: Banking
  config/cp_display_overrides.yml
  config/sector_aliases.yml
Due: none

Fix local dev tools
  config/database.yml
  db/structure.sql
  docker-compose.yml
Due: none

Update CP' matrix sector setting: Banking
  app/services/api/charts/cp_matrix.rb
  app/services/cp/sector_normalizer.rb
Due: bundle exec rubocop

Add sector list depending on year: Banking
  app/services/api/charts/cp_matrix.rb
  lib/tasks/cp_export.rake
Due: bundle exec rubocop

Change Electric for Electricity, matrix: Banking
  app/services/api/charts/cp_matrix.rb
  app/services/cp/sector_normalizer.rb
  config/sector_aliases.yml
Due: bundle exec rubocop

Show column names based on year: banking
  app/services/api/charts/cp_matrix.rb
Due: bundle exec rubocop

Update graphs names for Electric/Electricity: Banking
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Due: bundle exec rubocop
