Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

smaller debounce
  app/javascript/components/LawsDropdown.js
Due: eslint --ext .js --ext .jsx

fix(cclw): add lil world map picture to hero unit
  app/assets/images/cclow/Combined Shape.png
  app/assets/images/cclow/Combined Shape@2x.png
  app/assets/images/cclow/countries@2x.png
  app/assets/images/cclow/countries@2x@2x.png
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/layout.scss
  app/views/cclow/home/_hero.html.erb
Due: none

add background to hero unit
  app/assets/images/cclow/Combined Shape.png
  app/assets/images/cclow/Combined Shape@2x.png
  app/assets/stylesheets/cclow/_hero.scss
Due: none

add missing assets
  app/assets/images/cclow/countries.png
  app/assets/images/cclow/countries@2x.png
  app/assets/images/cclow/countries@2x@2x.png
  app/assets/images/cclow/hero_background.png
  app/assets/images/cclow/hero_background@2x.png
Due: none

change page title for search results pages
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

add search title class
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

fix breadcrumbs
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
Due: bundle exec rubocop

Added RStudio project files to git ignore
  .gitignore
Due: none

Added map data files; proportion of global cumulative carbon dioxide emissions
  map_data/proportion_cumulative_emissions_total_fossil_fuels_and_cement_in_percent_2017.csv
  map_data/proportion_cumulative_emissions_total_fossil_fuels_and_cement_in_percent_2017.jsonld
  map_data/proportion_cumulative_emissions_total_fossil_fuels_and_cement_in_percent_2017.yml
Due: none

fixed Rproj ignore
  .gitignore
Due: none

fix(tpi): fix active navbar highlight
  app/javascript/components/Navbar.js
  app/views/layouts/_header.html.erb
Due: eslint --ext .js --ext .jsx

add some missing proptypes and keys and other fixes for js troubles
  app/javascript/components/BaseTooltip.js
  app/javascript/components/BubbleChart.js
  app/javascript/components/DropdownSelector.js
  app/javascript/components/SingleBubbleChart.js
Due: eslint --ext .js --ext .jsx

added germanwatch climate risk index to map_data
  map_data/germanwatch_global_climate_risk_index_1999--2018.csv
  map_data/germanwatch_global_climate_risk_index_1999--2018.jsonld
  map_data/germanwatch_global_climate_risk_index_1999--2018.yml
Due: none

reworked how to highlight the given menu item
  app/javascript/components/Navbar.js
  app/views/layouts/tpi.html.erb
  app/views/layouts/tpi/_banner.html.erb
  app/views/layouts/tpi/_footer.html.erb
  app/views/layouts/tpi/_header.html.erb
  app/views/layouts/tpi/_subscribe.html.erb
Due: eslint --ext .js --ext .jsx

add missing parts to pages
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/decorators/cclow/target_decorator.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Fix typo in css
  app/assets/stylesheets/cclow/_filters.scss
Due: none

Fix an issue with scaling out to full width on mobile * Add a meta tag to both TPI and CCLOW * Viewport meta tag tells smaller device browsers how to scale the page
  app/views/layouts/cclow.html.erb
  app/views/layouts/tpi.html.erb
Due: none

Add mobile styles for CCLOW homepage
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/assets/stylesheets/cclow/_pages.scss
  app/assets/stylesheets/cclow/_typography.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/assets/stylesheets/cclow/layout.scss
  app/javascript/components/world-map/MapLegend.js
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_footer.html.erb
Due: eslint --ext .js --ext .jsx

Fixes after rebase
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/_world-map.scss
Due: none

adds all events to geography's timeline
  app/models/geography.rb
  app/views/cclow/geographies/show.html.erb
Due: bundle exec rubocop

Trying to get a direct simple URL to a file
  app/controllers/tpi/publications_controller.rb
  app/views/tpi/publications/_promoted.html.erb
Due: bundle exec rubocop

rename caption for main political groups
  app/views/cclow/geographies/_overview.html.erb
Due: none

Add missing spacer on mobile homepage + responsive slider
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/_pages.scss
  app/javascript/shared/controllers/slider_controller.js
  app/views/cclow/home/_hero.html.erb
  app/views/cclow/home/index.html.erb
Due: eslint --ext .js --ext .jsx

add tags filter to litigations cases page
  app/assets/stylesheets/cclow/_filters.scss
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/models/concerns/taggable.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add tags filter to climate targets and legislation pages
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add geography filter
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: bundle exec rubocop

adjusting figures
  app/views/tpi/home/index.html.erb
Due: none

Avoid crashing if no tag
  app/decorators/cclow/target_decorator.rb
Due: bundle exec rubocop

set both domains in the routes
  config/routes.rb
Due: bundle exec rubocop

Responsive map
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

Responsive dropdowns on the map
  app/javascript/components/world-map/MapLegend.js
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

Fix zoom controls icons styles
  app/assets/stylesheets/cclow/_world-map.scss
Due: none

Ensure bundler is up to date
  .travis.yml
Due: none

Upgraded bundler and bundled
  .travis.yml
  Gemfile.lock
Due: none

Lets try not to install bundler
  .travis.yml
Due: none

get rid of this as well
  .travis.yml
Due: none

add params[:q] to permitted params
  app/controllers/concerns/cclow/filter_controller.rb
Due: bundle exec rubocop

Adds spec to ensure that filtering is working
  spec/controllers/cclow/climate_targets_controller_spec.rb
Due: bundle exec rubocop
