Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

feat: Methodology file depends on selected MQ version
  app/controllers/tpi/sectors_controller.rb
  public/static_files/Methodology and Indicator Report v4.0_final draft.pdf
Due: bundle exec rubocop

Fix section pages styles bugs
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/_selector.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
Due: eslint --ext .js --ext .jsx

Add sections pages fixed
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/_selector.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx

Add sticky header and other design reviews
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/javascript/components/tpi/BaseTooltip.js
  app/javascript/components/tpi/InfoTooltip.js
  app/javascript/components/tpi/charts/mq-sector-pie/Chart.js
  app/views/tpi/shared/_mq_beta_scores.html.erb
Due: eslint --ext .js --ext .jsx

test: fir sectors test
  spec/system/public/tpi/sectors_spec.rb
Due: bundle exec rubocop

fix: assessment date combo boxes
  app/controllers/tpi/ascor_controller.rb
  app/views/tpi/ascor/_show_assessment.js.erb
  app/views/tpi/ascor/index_assessment.js.erb
  app/views/tpi/ascor/index_emissions_assessment.js.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/ascor/show_assessment.js.erb
Due: bundle exec rubocop

feat: Adding ASCOR data with different assessment date
  app/controllers/tpi/ascor_controller.rb
  app/views/tpi/ascor/show.html.erb
  db/seeds/tpi/ascor_assessments.csv
  db/seeds/tpi/ascor_pathways.csv
Due: bundle exec rubocop

Fix emission-chart reload
  app/views/tpi/ascor/index_emissions_assessment.js.erb
Due: none

refactoring: changing scale of bubbles at chart
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/views/tpi/ascor/_emissions_chart.html.erb
Due: eslint --ext .js --ext .jsx

Merge pull request #502 from Vizzuality/fix/ascor-assessment-dates
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/views/tpi/ascor/_emissions_chart.html.erb
  app/views/tpi/ascor/_show_assessment.js.erb
  app/views/tpi/ascor/index_assessment.js.erb
  app/views/tpi/ascor/index_emissions_assessment.js.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/ascor/show_assessment.js.erb
  db/seeds/tpi/ascor_assessments.csv
  db/seeds/tpi/ascor_pathways.csv
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

feat: Adding assessment date flags
  app/admin/cp_assessments.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/tpi/companies/show.html.erb
  db/migrate/20241115133904_add_assessment_date_flag_to_cp_assessments.rb
  db/seeds/tpi/company-cp-assessments.csv
  db/seeds/tpi/company-cp-benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/support/fixtures/files/company_cp_assessments.csv
Due: bundle exec rubocop

Add value range to circle chart
  app/assets/images/tpi/sectors-bubble-chart-legend.svg
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/SingleCell.js
Due: eslint --ext .js --ext .jsx

Add value to circle chart range - companies chart
  app/assets/images/tpi/sectors-bubble-chart-legend.svg
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/SingleCell.js
  db/structure.sql
Due: eslint --ext .js --ext .jsx

Undo changes in db/structure file
  db/structure.sql
Due: none

fix: Show only published publications and articles
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/home/index.html.erb
Due: bundle exec rubocop

Reorder companies in level view by name
  .tool-versions
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

Reorder companies in level view by name (#507)
  .tool-versions
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

Add 2028 CP Assessment
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  db/migrate/20250214160706_add_cp_alignment_2028_to_cp_assessments.rb
  db/seeds/tpi/company-cp-assessments.csv
  db/structure.sql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_regional_csv.json
  spec/models/cp/assessment_spec.rb
  spec/support/fixtures/files/company_cp_assessments.csv
Due: bundle exec rubocop

Add missing column
  app/admin/cp_assessments.rb
Due: bundle exec rubocop

Run test:db_dump
  db/test-dump.psql
Due: none

Add 2028 CP Assessment and updated copy (#508)
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  db/migrate/20250214160706_add_cp_alignment_2028_to_cp_assessments.rb
  db/seeds/tpi/company-cp-assessments.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_regional_csv.json
  spec/models/cp/assessment_spec.rb
  spec/support/fixtures/files/company_cp_assessments.csv
Due: bundle exec rubocop

Update copy cp performance
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Update copy cp performance (#509)
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Fix line break on below 2 degrees
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop

Fix line break on below 2 degrees (#510)
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop

Update newsletter form
  app/views/tpi/home/newsletter.html.erb
Due: none

Fix tooltip text
  app/javascript/components/tpi/charts/cp-performance/Tooltip.js
Due: eslint --ext .js --ext .jsx

[Improvements] Update newsletter form (#511)
  app/javascript/components/tpi/charts/cp-performance/Tooltip.js
  app/views/tpi/home/newsletter.html.erb
Due: eslint --ext .js --ext .jsx

Functioning buttons, missing styles
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
Due: eslint --ext .js --ext .jsx

Add buttons for selecting year
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
Due: eslint --ext .js --ext .jsx

Add buttons to graph
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/models/company.rb
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Remove unused css
  app/assets/stylesheets/tpi/charts/cp-performance.scss
Due: none

Code review: ruby fixes
  app/models/company.rb
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop

Add year selector buttons to corporate's chart (#512)
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Revert "Add year selector buttons to corporate's chart (#512)"
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Revert "Add year selector buttons to corporate's chart (#512)" (#513)
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Revert "Revert "Add year selector buttons to corporate's chart (#512)" (#513)"
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Revert "Revert "Add year selector buttons to corporate's chart (#512)" (#513)" (#514)
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Change graph to be 2027
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
