Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

update dependencies, new webpacker major version
  Gemfile.lock
  bin/webpack
  bin/webpack-dev-server
  package.json
  yarn.lock
Due: none

update rubocop config
  .rubocop.yml
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/decorators/cclow/target_decorator.rb
  app/models/cclow_map_context_data.rb
  app/models/geography.rb
  app/services/api/charts/cp_performance.rb
  app/services/api/latest_additions.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/targets.rb
  app/services/migration/legislation.rb
  app/services/migration/litigation.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  lib/extensions/active_admin/active_admin_csv_download.rb
  lib/extensions/enumerable.rb
Due: bundle exec rubocop

Upgrade capistrano
  Gemfile
  Gemfile.lock
Due: none

lock to new version
  config/deploy.rb
Due: bundle exec rubocop

Update node version to use
  config/deploy.rb
Due: bundle exec rubocop

fix design
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/assets/stylesheets/tpi/charts/_mobile-buble-chart.scss
  app/javascript/components/charts/bubble/MobileChart.js
  app/javascript/components/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/charts/cp-performance-all-sectors/options.js
  app/javascript/components/charts/mq-sector-pie/Chart.js
  app/services/api/charts/sector.rb
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

remove grouping by clusters from the chart in the mobile view
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/charts/_mobile-bubble-chart.scss
  app/javascript/components/charts/cp-performance-all-sectors/options.js
Due: eslint --ext .js --ext .jsx

change routes to remove /tpi and /cclow prefixes and fix domains
  app/services/domain_constraint.rb
  config/environments/development.rb
  config/environments/production.rb
  config/environments/staging.rb
  config/routes.rb
Due: bundle exec rubocop

use domain constraints in dynamic router
  app/services/dynamic_router.rb
Due: bundle exec rubocop

implement mobile style to cp-performance chart
  app/assets/stylesheets/tpi/_fixed-navbar.scss
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/helpers.js
  app/javascript/components/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

fix rubocop and minor changes
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/javascript/components/charts/bubble/CompaniesAccordion.js
  app/javascript/components/charts/bubble/index.js
  app/models/concerns/taggable.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix is-outlined button
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
Due: none

fix rspec
  spec/services/api/charts/sector_spec.rb
Due: bundle exec rubocop

some targets are without sectors, add includes for quicker download
  app/admin/targets.rb
Due: bundle exec rubocop

Adds sector filter for climate targets
  app/controllers/cclow/climate_targets_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/services/queries/cclow/target_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Adds target year filter to targets search page
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/services/queries/cclow/target_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Linking to the search results page from country page
  app/decorators/cclow/geography_overview_decorator.rb
  app/views/cclow/geographies/_overview.html.erb
  app/views/layouts/cclow/geography.html.erb
Due: bundle exec rubocop

Fix bug with filtering publications
  app/javascript/components/Filters.js
  app/services/queries/tpi/news_publications_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Count only published
  app/decorators/cclow/geography_overview_decorator.rb
Due: bundle exec rubocop

hoist state to the List component, sync filters with history API - LegislationsList
  app/decorators/cclow/geography_overview_decorator.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/helpers.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

do not use 'use' in names as hooks convention, fix time filter, remove question mark from query if empty
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/helpers.js
Due: eslint --ext .js --ext .jsx

refactor legislations, litigations and climate targets list components
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/layout.scss
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/SearchFilter.js
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix react warnings
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/List.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

remove not needed Fragments
  app/javascript/components/SearchFilter.js
  app/javascript/components/TimeRangeFilter.js
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Due: eslint --ext .js --ext .jsx

cursor pointer for search filter label
  app/assets/stylesheets/cclow/_filters.scss
Due: none

refactor responsive checker
  app/javascript/components/Responsive.js
  app/javascript/components/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/pages/cclow/List.js
Due: eslint --ext .js --ext .jsx

fix list mobile design
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/javascript/components/pages/cclow/List.js
Due: eslint --ext .js --ext .jsx

fix integration tets
  spec/system/public/cclow/geographies_spec.rb
Due: bundle exec rubocop

fix geo filters
  app/services/queries/cclow/common_filters.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
Due: bundle exec rubocop

forgot about q and recent filters
  app/javascript/components/pages/cclow/List.js
Due: eslint --ext .js --ext .jsx

fix integration tests
  spec/system/public/cclow/geographies_spec.rb
Due: bundle exec rubocop

add no search results message
  app/javascript/components/pages/cclow/List.js
Due: eslint --ext .js --ext .jsx

different no items messages
  app/javascript/components/pages/cclow/List.js
  app/views/cclow/geographies/_overview.html.erb
  app/views/layouts/cclow/geography.html.erb
Due: eslint --ext .js --ext .jsx

implement mobile style to company page
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/charts/mq-level.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/RemoteDropdown.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/options.js
  app/javascript/components/charts/mq-level/Chart.js
  app/javascript/components/charts/mq-level/options.js
  app/views/tpi/companies/_company_property.html.erb
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx

fix tests
  spec/system/public/cclow/geographies_spec.rb
Due: bundle exec rubocop

show the day, avoid crashing if no date
  app/views/tpi/companies/show.html.erb
Due: none

Don't say all, because we filter sometimes
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

parse description html
  app/decorators/cclow/target_decorator.rb
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
