Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

Change graph to be 2027 (#515)
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Use 2027 data as fallthru
  app/views/tpi/companies/show.html.erb
Due: none

Use 2027 data as fallthru (#517)
  app/views/tpi/companies/show.html.erb
Due: none

Update size and text of subtitle copy, corporates
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/sectors/index.html.erb
Due: none

Update size and text of subtitle copy, corporates (#519)
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/sectors/index.html.erb
Due: none

Fix ascor graph selector
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/hooks.js
Due: eslint --ext .js --ext .jsx

Fix ascor graph selector (#521)
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/hooks.js
Due: eslint --ext .js --ext .jsx

[Improvements] Fix ASCOR graph's selectors (#522)
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/hooks.js
Due: eslint --ext .js --ext .jsx

Add support for coal mining subsectors, backend
  app/admin/cp_assessments.rb
  app/models/company.rb
  app/models/company_subsector.rb
  app/models/cp/assessment.rb
  app/services/csv_import/company_cp_assessments.rb
  db/migrate/20250315115731_add_subsectors_to_company.rb
  db/migrate/20250315121402_add_coal_mining_companies_subsector.rb
  db/migrate/20250315132936_add_id_to_company_subsectors.rb
  db/migrate/20250315133352_add_company_subsector_id_to_cp_assessment.rb
Due: bundle exec rubocop

Show subsector in CP Assessments table
  app/admin/cp_assessments.rb
  app/models/cp/assessment.rb
Due: bundle exec rubocop

Add subsector to date selector if present
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Due: none

Update frontend to show multi-subsector data
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

[Improvements] Support Coal Mining's subsectors (#523)
  app/admin/cp_assessments.rb
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/models/company_subsector.rb
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/tpi/companies/show.html.erb
  db/migrate/20250315115731_add_subsectors_to_company.rb
  db/migrate/20250315121402_add_coal_mining_companies_subsector.rb
  db/migrate/20250315132936_add_id_to_company_subsectors.rb
  db/migrate/20250315133352_add_company_subsector_id_to_cp_assessment.rb
Due: bundle exec rubocop

Add nil checks for by_company functions
  app/models/cp/assessment.rb
Due: bundle exec rubocop

Add nil checks for by_company functions (#524)
  app/models/cp/assessment.rb
Due: bundle exec rubocop

Add extra check on latest_cp_assessment if no subsector
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
Due: bundle exec rubocop

Add clause for regional data as well
  app/services/api/presenters/company.rb
Due: bundle exec rubocop

[Improvements] Add extra check on latest_cp_assessment if no subsector is present (#525)
  app/models/cp/assessment.rb
  app/services/api/presenters/company.rb
Due: bundle exec rubocop

Add separated subsectors' graphs
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

Add separated subsectors' graphs (#526)
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

Make single query for cp performance endpoint
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop

Make single query for cp performance endpoint (#527)
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop

Remove relative position container, banks
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/views/tpi/banks/index.html.erb
Due: none

Update subscription copy
  app/views/tpi/home/index.html.erb
Due: none

Invert methodology and CP&MQ Data download buttons
  app/assets/stylesheets/tpi/buttons.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx

Update copy, remove Click below to subscribe
  app/views/tpi/home/index.html.erb
Due: none

Subsector graph in sector view
  app/admin/cp_benchmarks.rb
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/models/cp/benchmark.rb
  app/services/api/charts/sector.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/sectors/show.html.erb
  db/migrate/20250403160118_add_subsector_to_cp_benchmark.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Support subsector filtering on companies
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
Due: bundle exec rubocop

Select subsector by default
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/services/seed/tpi_data.rb
  db/migrate/20250407115900_add_coal_mining_cp_unit.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Remove options if subsector
  app/javascript/components/tpi/charts/cp-performance/Chart.js
Due: eslint --ext .js --ext .jsx

Omit selectedShowBy if not present
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Due: eslint --ext .js --ext .jsx

Add subsector selector in sector view
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Due: eslint --ext .js --ext .jsx

Point to new stg env
  config/deploy/staging.rb
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
