Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

update ruby version, trying to fix travis, fix some tests
  .ruby-version
  .travis.yml
  Gemfile
  Gemfile.lock
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
Due: bundle exec rubocop

update nokogiri
  .travis.yml
  Gemfile.lock
Due: none

fix brakeman sast tests
  config/brakeman.ignore
Due: none

update ruby version and fix travis
  .ruby-version
  .travis.yml
  Gemfile
  Gemfile.lock
Due: none

more query specs
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Due: bundle exec rubocop

Set rvm version on capistrano config
  config/deploy/production.rb
  config/deploy/staging.rb
Due: bundle exec rubocop

speedup query tests
  Gemfile
  Gemfile.lock
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
Due: bundle exec rubocop

remove not needed id order
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
Due: bundle exec rubocop

fix instrument options and governances distinct
  app/controllers/concerns/cclow/filter_controller.rb
Due: bundle exec rubocop

updates litigation-sources file and upload script
  app/services/migration/litigation.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/litigation-sources.csv
  lib/tasks/reimport.rake
Due: bundle exec rubocop

Avoid accidents and adding empty data
  app/services/migration/litigation.rb
  app/services/seed/cclow_data.rb
  lib/tasks/reimport.rake
Due: bundle exec rubocop

short_description and summary for litigations and legilsations
  app/assets/stylesheets/cclow/_geography-page.scss
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

bring back line clamp as it is good, just use also html strip and backend truncation
  app/assets/stylesheets/cclow/_geography-page.scss
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

bring back events timeline for legislations and litigations
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/javascript/components/EventsTimeline.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Updates prod ruby version
  config/deploy/production.rb
Due: bundle exec rubocop

Updates format to match the right format
  app/controllers/cclow/api/targets_controller.rb
  app/models/target.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Due: bundle exec rubocop

Adds fields to geographies and updates backend and frontend
  app/admin/geographies.rb
  app/decorators/geography_decorator.rb
  app/models/geography.rb
  app/views/admin/geographies/_form.html.erb
  app/views/cclow/geographies/_overview.html.erb
  db/migrate/20200227100810_add_percent_global_emissions_and_climate_risk_index_and_wb_income_group_to_geographies.rb
  db/schema.rb
  spec/factories/geographies.rb
  spec/models/geography_spec.rb
Due: bundle exec rubocop

annotates models
  app/models/cp/unit.rb
  app/models/image.rb
  app/models/tpi_sector.rb
  app/models/tpi_sector_cluster.rb
  spec/factories/tpi_sectors.rb
  spec/models/cclow_page_spec.rb
  spec/models/tpi_page_spec.rb
  spec/models/tpi_sector_spec.rb
Due: bundle exec rubocop

Adds import script for geographies metadata
  app/decorators/geography_decorator.rb
  app/services/csv_import/geographies.rb
  app/services/migration/geographies.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/geographies_metadata.csv
  lib/tasks/reimport.rake
Due: bundle exec rubocop

use friendly_id for geographies page URLs
  app/controllers/cclow/geographies_controller.rb
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/decorators/cclow/target_decorator.rb
  app/views/layouts/cclow/geography.html.erb
Due: bundle exec rubocop

[CCLOW] Style static pages according to UI kit
  app/assets/stylesheets/cclow/_pages.scss
Due: none

Add route method ot legislation
  app/controllers/cclow/api/targets_controller.rb
  app/models/legislation.rb
  app/models/target.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Due: bundle exec rubocop

Change type of publication date to datetime, so they can control sorting
  app/admin/news_article.rb
  app/admin/publication.rb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/show.html.erb
  db/migrate/20200227111927_change_publication_date_on_publications.rb
  db/schema.rb
Due: bundle exec rubocop

Removes article_type from news_articles
  app/admin/news_article.rb
  app/models/news_article.rb
  app/services/csv_import/news_articles.rb
  app/views/tpi/publications/_promoted.html.erb
  db/migrate/20200227112956_remove_article_type_from_news_articles.rb
Due: bundle exec rubocop

Use different date_time_picker
  app/admin/news_article.rb
  app/admin/publication.rb
Due: bundle exec rubocop

[TPI] Style static pages according to UI kit
  app/assets/stylesheets/tpi/_pages.scss
Due: none

Don't crash if theres no description
  app/views/tpi/pages/show.html.erb
Due: none

[CCLOW] Use inside list-style + add text-indent to lists
  app/assets/stylesheets/cclow/_pages.scss
Due: none

[TPI] Fix static pages grid - it should take up space of 9 columns
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/views/tpi/pages/show.html.erb
Due: none

Adds link to publications
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_header.html.erb
Due: none

add cookies consent tooltip
  app/assets/images/cclow/icons/close.svg
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_cookies-tooltip.scss
  app/javascript/shared/controllers/cookies_consent_controller.js
  app/views/layouts/cclow.html.erb
  app/views/layouts/cclow/_cookies_tooltip.html.erb
Due: eslint --ext .js --ext .jsx

fix geography links
  app/controllers/cclow/api/map_indicators_controller.rb
  app/javascript/components/LawsDropdown.js
  app/services/api/latest_additions.rb
  app/services/api/presenters/event.rb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/home/_hero.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add about cookies link
  app/views/layouts/cclow/_cookies_tooltip.html.erb
Due: none

style fix
  app/assets/stylesheets/cclow/_cookies-tooltip.scss
Due: none

fix filter style
  app/assets/stylesheets/tpi/_filters.scss
Due: none

removed already fixed litigations
  db/seeds/laws_migration/litigation-sources.csv
Due: none

Clear case documents when importing updated data
  app/services/migration/litigation.rb
Due: bundle exec rubocop

print right info
  app/services/migration/litigation.rb
Due: bundle exec rubocop

Fix a couple of entries
  db/seeds/laws_migration/litigation-sources.csv
Due: none

Catch more errors, fix file again
  app/services/migration/litigation.rb
  db/seeds/laws_migration/litigation-sources.csv
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
