Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

Change weight to normal in unselected button
  app/assets/stylesheets/tpi/pages/sectors-index.scss
Due: none

Add focus on the Proceed button on render
  app/javascript/components/tpi/MqBetaModal.jsx
Due: eslint --ext .js --ext .jsx

chore: update of Puma
  Gemfile
  Gemfile.lock
Due: none

Updates to the modal text
  app/javascript/components/tpi/MqBetaModal.jsx
Due: eslint --ext .js --ext .jsx

Fix borders
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
Due: eslint --ext .js --ext .jsx

Update labels
  app/views/tpi/shared/_mq_beta_scores.html.erb
Due: none

Reduce size of bubbles to 50%
  app/javascript/components/tpi/charts/bubble/SingleCell.js
Due: eslint --ext .js --ext .jsx

Adjust bar chart levels
  app/assets/stylesheets/tpi/pages/sector.scss
Due: none

fix: Max level of MQ Assessments chart depends on selected assessments
  app/controllers/tpi/mq_assessments_controller.rb
  app/javascript/components/tpi/charts/mq-level/options.js
  app/services/api/charts/mq_assessment.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  spec/services/api/charts/mq_assessment_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

feat: Highlight also individual questions on different levels of MQ assessment
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/mq/assessment.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/sectors/index.html.erb
  db/seeds/tpi/mq-assessments-M5.csv
  db/test-dump.psql
  spec/models/company_spec.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/mq_assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Due: bundle exec rubocop

chore: minor update of Rails
  Gemfile.lock
Due: none

Improve beta question style
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/_mq_assessment.html.erb
Due: none

FIx responsive
  app/assets/stylesheets/tpi/pages/company.scss
Due: none

Change BETA color and add border to circle in button
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/assets/stylesheets/tpi/charts/companies_accordion.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/mq-sector-pie/options.js
Due: eslint --ext .js --ext .jsx

Fix bars line-height. Add black background
  app/assets/stylesheets/tpi/_mixins.scss
  app/assets/stylesheets/tpi/pages/sector.scss
Due: none

Update line padding
  app/assets/stylesheets/tpi/pages/sector.scss
Due: none

feat: Support 5STAR level
  app/assets/images/icons/star.svg
  app/models/mq/assessment.rb
Due: bundle exec rubocop

Add feature tag to show the entry to beta data
  .env.sample
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
Due: none

Add env variable to tests github action
  .github/workflows/tests.yml
Due: none

refactoring: Hide Company_Latest_Assessments_BETA_5.0.csv
  app/controllers/concerns/tpi/user_download.rb
  app/views/tpi/shared/_mq_beta_scores.html.erb
Due: bundle exec rubocop

Update buttons design
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/views/tpi/shared/_mq_beta_scores.html.erb
Due: none

Add BETA to level 5
  app/views/tpi/sectors/show.html.erb
Due: none

feat: adding beta_mq_assessments? to company model
  app/models/company.rb
  spec/models/company_spec.rb
Due: bundle exec rubocop

refactoring: Methodology is taken into accounts during calculation of MQ status
  app/models/mq/assessment.rb
  spec/models/mq/assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Due: bundle exec rubocop

Clean key from special characters so d3-select doesn't crash
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/Chart.js
Due: eslint --ext .js --ext .jsx

Disable BETA button and add tooltip for companies lacking data
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_info-tooltip.scss
  app/assets/stylesheets/tpi/_mq_beta_scores.scss
  app/javascript/components/tpi/InfoTooltip.js
  app/views/tpi/companies/show.html.erb
  app/views/tpi/shared/_mq_beta_scores.html.erb
Due: eslint --ext .js --ext .jsx

fix: of other views using mq_beta_scores partial
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: none

fix: show tooltip only when there are no MQ BETA data
  app/views/tpi/shared/_mq_beta_scores.html.erb
Due: none

feat: ASCOR Countries model
  app/admin/ascor/countries.rb
  app/admin/data_uploads.rb
  app/models/ascor.rb
  app/models/ascor/country.rb
  app/models/data_upload.rb
  app/services/csv_import/ascor_countries.rb
  app/services/csv_import/base_importer.rb
  app/services/seed/tpi_data.rb
  config/initializers/inflections.rb
  db/migrate/20230912074824_create_ascor_countries.rb
  db/seeds/tpi/ascor_countries.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/ascor_countries_controller_spec.rb
  spec/factories/ascor_countries.rb
  spec/models/ascor/countries_spec.rb
  spec/support/fixtures/files/ascor_countries.csv
Due: bundle exec rubocop

feat: ASCOR Benchmarks model
  app/admin/ascor/benchmarks.rb
  app/admin/ascor/countries.rb
  app/models/ascor/benchmark.rb
  app/models/ascor/benchmark_type.rb
  app/models/ascor/country.rb
  app/models/ascor/emissions_boundary.rb
  app/models/ascor/emissions_metric.rb
  app/models/ascor/land_use.rb
  app/models/data_upload.rb
  app/services/csv_import/ascor_benchmarks.rb
  app/services/seed/tpi_data.rb
  config/initializers/active_admin.rb
  db/migrate/20230912103652_create_ascor_benchmarks.rb
  db/seeds/tpi/ascor_benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/ascor_benchmarks_controller_spec.rb
  spec/factories/ascor_benchmarks.rb
  spec/models/ascor/benchmarks_spec.rb
  spec/support/fixtures/files/ascor_benchmarks.csv
Due: bundle exec rubocop

feat: ASCOR Pathways model
  app/admin/ascor/pathways.rb
  app/models/ascor/country.rb
  app/models/ascor/emissions_metric.rb
  app/models/ascor/pathway.rb
  app/models/data_upload.rb
  app/services/csv_import/ascor_pathways.rb
  app/services/seed/tpi_data.rb
  db/migrate/20230912074824_create_ascor_countries.rb
  db/migrate/20230914065509_create_ascor_pathways.rb
  db/seeds/tpi/ascor_pathways.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/ascor_pathways_controller_spec.rb
  spec/factories/ascor_pathways.rb
  spec/models/ascor/pathways_spec.rb
  spec/support/fixtures/files/ascor_pathways.csv
Due: bundle exec rubocop

feat: ASCOR Assessment indicators model
  app/admin/ascor/assessment_indicators.rb
  app/admin/ascor/benchmarks.rb
  app/admin/ascor/countries.rb
  app/admin/ascor/pathways.rb
  app/models/ascor/assessment_indicator.rb
  app/models/data_upload.rb
  app/services/csv_import/ascor_assessment_indicators.rb
  app/services/seed/tpi_data.rb
  db/migrate/20230914100201_create_ascor_assessment_indicators.rb
  db/seeds/tpi/ascor_assessment_indicators.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/ascor_assessment_indicators_controller_spec.rb
  spec/factories/ascor_assessment_indicators.rb
  spec/models/ascor/assessment_indicator_spec.rb
  spec/support/fixtures/files/ascor_assessment_indicators.csv
Due: bundle exec rubocop

feat: ASCOR Assessments model
  app/admin/ascor/assessments.rb
  app/models/ascor/assessment.rb
  app/models/ascor/assessment_indicator.rb
  app/models/ascor/assessment_result.rb
  app/models/data_upload.rb
  app/services/csv_import/ascor_assessments.rb
  app/services/seed/tpi_data.rb
  db/migrate/20230915063557_create_ascor_assessments.rb
  db/migrate/20230915064402_create_ascor_assessment_results.rb
  db/seeds/tpi/ascor_assessments.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/ascor_assessments_controller_spec.rb
  spec/factories/ascor_assessment.rb
  spec/factories/ascor_assessment_result.rb
  spec/models/ascor/assessment_result_spec.rb
  spec/models/ascor/assessment_spec.rb
  spec/support/fixtures/files/ascor_assessments.csv
Due: bundle exec rubocop

feat: Basic skeleton of ASCOR page
  app/admin/ascor/assessments.rb
  app/assets/stylesheets/tpi/pages/sovereign-bonds.scss
  app/controllers/tpi/sovereign_bonds_issuers_controller.rb
  app/models/ascor/country.rb
  app/services/seed/tpi_data.rb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/sovereign_bonds_issuers/index.html.erb
  app/views/tpi/sovereign_bonds_issuers/show.html.erb
  config/routes.rb
  db/migrate/20230912074824_create_ascor_countries.rb
  db/structure.sql
  db/test-dump.psql
  lib/tasks/onetime.rake
  spec/controllers/tpi/sovereign_bonds_issuers_controller_spec.rb
  spec/system/public/tpi/sovereign_bonds_issuers_spec.rb
Due: bundle exec rubocop

fix: update brakeman warning list
  config/brakeman.ignore
Due: none

refactoring: Renaming sovereign_bonds_issuers to ascor
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/country.rb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/home/index.html.erb
  config/brakeman.ignore
  config/routes.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/system/public/tpi/ascor_spec.rb
Due: bundle exec rubocop

refactoring: ASCOR countries model
  app/admin/ascor/countries.rb
  app/models/ascor/country.rb
  app/services/csv_import/ascor_countries.rb
  db/migrate/20230920083300_refactor_ascor_models.rb
  db/seeds/tpi/ascor_countries.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_countries.rb
  spec/models/ascor/countries_spec.rb
  spec/support/fixtures/files/ascor_countries.csv
Due: bundle exec rubocop

refactoring: ASCOR benchmarks model
  app/admin/ascor/benchmarks.rb
  app/models/ascor/benchmark.rb
  app/models/ascor/emissions_boundary.rb
  app/models/ascor/emissions_metric.rb
  app/services/csv_import/ascor_benchmarks.rb
  app/services/csv_import/helpers/emissions.rb
  db/migrate/20230920083300_refactor_ascor_models.rb
  db/seeds/tpi/ascor_benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_benchmarks.rb
  spec/models/ascor/benchmarks_spec.rb
  spec/support/fixtures/files/ascor_benchmarks.csv
Due: bundle exec rubocop

refactoring: ASCOR assessment indicators model
  app/admin/ascor/assessment_indicators.rb
  app/models/ascor/assessment_indicator.rb
  app/services/csv_import/ascor_assessment_indicators.rb
  db/migrate/20230920083300_refactor_ascor_models.rb
  db/seeds/tpi/ascor_assessment_indicators.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_assessment_indicators.rb
  spec/support/fixtures/files/ascor_assessment_indicators.csv
Due: bundle exec rubocop

refactoring: ASCOR assessments model
  app/admin/ascor/assessments.rb
  app/admin/ascor/benchmarks.rb
  app/admin/ascor/countries.rb
  app/admin/ascor/pathways.rb
  app/services/csv_import/ascor_assessments.rb
  db/migrate/20230920083300_refactor_ascor_models.rb
  db/seeds/tpi/ascor_assessments.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_assessment.rb
  spec/factories/ascor_assessment_result.rb
  spec/support/fixtures/files/ascor_assessments.csv
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
