Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

remove legislation and litigation index pages, redirect to search
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/geography/legislations/index.html.erb
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
Due: bundle exec rubocop

add extra message for laws and policies filter when eu member selected
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/models/geography.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix eslint
  .eslintrc.yml
  app/javascript/components/DropdownSelector.js
  app/javascript/components/MobileNavigateMenu.js
  app/javascript/components/MultiSelect.js
  app/javascript/components/Navbar.js
  app/javascript/components/NestedDropdown.js
  app/javascript/components/RemoteDropdown.js
  app/javascript/components/SearchFilter.js
  app/javascript/components/Testimonials.js
  app/javascript/components/charts/bubble/CompaniesAccordion.js
  app/javascript/components/charts/cp-performance/helpers.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/List.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/packs/cclow.js
  app/javascript/packs/server_rendering.js
  app/javascript/packs/tpi.js
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

fix message verifier active storage error - just temp fix
  app/helpers/file_helper.rb
  app/inputs/file_input.rb
Due: bundle exec rubocop

some useful redirects when litigation case or law does not exist
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
Due: bundle exec rubocop

bundle update
  Gemfile.lock
  package.json
  yarn.lock
Due: none

some js dependency updates
  package.json
  yarn.lock
Due: none

security update node-forge
  yarn.lock
Due: none

set logrotation
  config/environments/production.rb
  config/environments/staging.rb
Due: bundle exec rubocop

add targets to admin legislation show view
  app/admin/legislations.rb
  app/decorators/legislation_decorator.rb
Due: bundle exec rubocop

add Burmese to language list
  app/models/language.rb
Due: bundle exec rubocop

adding a rake task that cleans up wrongly imported characters
  lib/tasks/fix.rake
Due: none

transaction should wrap everything
  lib/tasks/fix.rake
Due: none

moar wrong characters
  lib/tasks/fix.rake
Due: none

add some specs to test dropping cclow, tpi prefixes
  app/views/cclow/geographies/_overview.html.erb
  app/views/layouts/cclow/geography.html.erb
  spec/requests/cclow_prefix_dropped_spec.rb
  spec/requests/tpi_prefix_droppped_spec.rb
  spec/system/public/cclow/geographies_spec.rb
Due: bundle exec rubocop

keep serving json on old /cclow/api/targets endpoints
  config/routes.rb
Due: bundle exec rubocop

change how we determine sectoral vs framework laws
  app/controllers/cclow/api/targets_controller.rb
  app/models/legislation.rb
  app/models/target.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
Due: bundle exec rubocop

fix path
  app/models/cclow_page.rb
  app/models/page.rb
  app/models/tpi_page.rb
Due: bundle exec rubocop

get path and title for custom pages
  app/controllers/concerns/tpi/static_pages_controller.rb
Due: bundle exec rubocop

quick fix
  app/services/domain_constraint.rb
Due: bundle exec rubocop

fix target import: ghg target, add more specs for target imporer
  app/services/csv_import/targets.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

no need to connect targets with legislations in importer
  app/services/csv_import/targets.rb
Due: bundle exec rubocop

fix page preview_url
  app/decorators/page_decorator.rb
Due: bundle exec rubocop

remove static disclaimer page
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/home/disclaimer.html.erb
  config/routes.rb
Due: bundle exec rubocop

track NewsArticle title
  app/decorators/public_activity/activity_decorator.rb
Due: bundle exec rubocop

add cclow pages sitemap
  app/controllers/cclow/sitemaps_controller.rb
  app/controllers/tpi/sitemaps_controller.rb
  app/views/cclow/sitemaps/index.xml.erb
  config/routes.rb
Due: bundle exec rubocop

add TPI sitemap
  app/controllers/tpi/sitemaps_controller.rb
  app/views/tpi/sitemaps/index.xml.erb
  config/routes.rb
Due: bundle exec rubocop

add dynamic robots txt
  app/controllers/robots_controller.rb
  app/views/robots/index.text.erb
  config/routes.rb
  public/robots.txt
Due: bundle exec rubocop

display and group by instrument types on law page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/geography/legislations_controller.rb
  app/views/cclow/geography/legislations/show.html.erb
Due: bundle exec rubocop

fix nil date parsing
  app/services/csv_import/date_utils.rb
Due: bundle exec rubocop

fix sector chart data error
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

fix test
  .rubocop.yml
  spec/services/api/charts/mq_assessment_spec.rb
Due: bundle exec rubocop

fix when methodology_version is nil
  app/services/csv_export/user/company_latest_assessments.rb
Due: bundle exec rubocop

add created_at filter for companie
  app/admin/companies.rb
Due: bundle exec rubocop

fix mq assessment error when no answer found
  app/models/mq/assessment.rb
Due: bundle exec rubocop

fix displaying llegislation without description
  app/views/cclow/geography/legislations/show.html.erb
Due: none

moar validations for cp and mq assessments
  app/models/cp/assessment.rb
  app/models/mq/assessment.rb
  app/validators/date_after_validator.rb
  spec/models/cp/assessment_spec.rb
  spec/models/mq/assessment_spec.rb
Due: bundle exec rubocop

change cp assessment_date format - importer
  app/services/csv_import/cp_assessments.rb
Due: bundle exec rubocop

redirect to climate targets if sector does not exist
  app/controllers/cclow/geography/climate_targets_controller.rb
Due: bundle exec rubocop

fix published not published articles and publications showing up in search results add missing specs
  app/controllers/tpi/search_controller.rb
  app/models/news_article.rb
  app/models/publication.rb
  config/database.yml
  spec/controllers/tpi/search_controller_spec.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
Due: bundle exec rubocop
