Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

Add a separate rake task for importing litigation sides, fix tests
  app/services/seed/cclow_data.rb
  lib/tasks/reimport.rake
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

remove about page, use _path helpers
  app/controllers/tpi/home_controller.rb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/about.html.erb
Due: bundle exec rubocop

Add unique index to litigation_sides, fix incorrect party types in csv file
  app/services/csv_import/litigation_sides.rb
  db/migrate/20200110103445_add_index_to_litigation_sides.rb
  db/schema.rb
  db/seeds/laws_migration/litigations-sides.csv
Due: bundle exec rubocop

simplify active_menu_page method
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/helpers/application_helper.rb
  app/views/layouts/tpi/_header.html.erb
Due: bundle exec rubocop

Code review requests patch
  app/javascript/components/DropdownSelector.js
  app/javascript/components/Navbar.js
Due: eslint --ext .js --ext .jsx

Fix schema
  db/schema.rb
Due: bundle exec rubocop

Add more litigation filters: by litigation side type and party type
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/models/litigation_side.rb
  app/services/queries/cclow/litigation_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Simplify condition
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

Add More options toggle button to the litigation cases search index
  app/assets/stylesheets/cclow/_geography-page.scss
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

Add filtering by jurisdiction to litigation search index
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/litigation_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add uniqueness validation of name in litigation scope on application level
  app/models/litigation_side.rb
Due: bundle exec rubocop

Fix hovering on navbar dropdowns in Edge
  app/assets/stylesheets/tpi/_navbar.scss
Due: none

Show research funding partners logos on homepage
  app/controllers/tpi/home_controller.rb
Due: bundle exec rubocop

One less method call
  app/controllers/tpi/home_controller.rb
Due: bundle exec rubocop

Instead of defining height, define width for the homepage logos
  app/assets/stylesheets/tpi/_banner.scss
Due: none

fix(tpi): adjust partners banner to design specs
  app/assets/stylesheets/tpi/_banner.scss
  app/views/layouts/tpi/_banner.html.erb
Due: none

Mobile brand fixes
  app/assets/images/clint_eastwood.jpg
  app/assets/images/eli_wallach.jpg
  app/assets/images/lee_van_cleef.jpg
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/javascript/components/Navbar.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Due: eslint --ext .js --ext .jsx

Fix inside navbar-menu for mobile devices
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/Navbar.js
Due: eslint --ext .js --ext .jsx

Thicking the burger
  app/assets/stylesheets/tpi/_navbar.scss
Due: none

Set default date formatting
  config/initializers/date_time.rb
Due: bundle exec rubocop

rename label and info icons
  app/views/tpi/companies/show.html.erb
  config/locales/controllers.en.yml
Due: none

Updates spec to new date format
  spec/models/company_spec.rb
  spec/services/api/charts/mq_assessment_spec.rb
Due: bundle exec rubocop

set datepicker default date format directly in input
  app/inputs/datepicker_input.rb
  config/initializers/date_time.rb
  config/initializers/time_date_formats.rb
Due: bundle exec rubocop

Filter litigations by side types and names
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/litigation_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add missing labels to litigation show page
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: bundle exec rubocop

Make litigation sides linkable (if connected entity present) + add ellipsis to long tags
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: bundle exec rubocop

cclow user download: add legislation file export
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/services/csv_export/user/legislations.rb
  config/initializers/renderers.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

cclow user download: legislations quick optimization
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/services/csv_export/user/legislations.rb
Due: bundle exec rubocop

Sort the filter lists
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/SearchFilter.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Fix the url to connected entity
  app/decorators/litigation_side_decorator.rb
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
Due: bundle exec rubocop

Create a litigation side decorator dedicated for frontend
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/decorators/cclow/litigation_side_decorator.rb
  app/decorators/litigation_side_decorator.rb
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
Due: bundle exec rubocop

cclow user download: climate targets csv
  app/controllers/cclow/climate_targets_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/targets.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

cclow user download: litigation cases backend side
  app/controllers/cclow/litigation_cases_controller.rb
  app/services/csv_export/user/litigations.rb
Due: bundle exec rubocop

Fix background color of more options in Firefox
  app/assets/stylesheets/cclow/_geography-page.scss
Due: none

Simplifies litigation sides filtering and adds specs
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Due: bundle exec rubocop

Added published_litigation sub factory
  spec/factories/litigations.rb
Due: bundle exec rubocop

Fix scope issue. Adds another line to ensure we test published/unpublished filtering
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Due: bundle exec rubocop

cclow user download: change litigation cases frontend, add connected laws and events to csv
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/csv_export/user/litigations.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Unnused method
  app/services/queries/cclow/litigation_query.rb
Due: bundle exec rubocop

Show requested fields, fix some min_widths to make things better
  app/admin/legislations.rb
  app/assets/stylesheets/admin/models/legislations.scss
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
