Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

Show the youtube icon when assets are precompiled
  app/assets/stylesheets/admin/trix.scss
Due: none

Add text to contacts
  app/views/layouts/tpi/_footer.html.erb
Due: none

Changed date position
  app/views/tpi/publications/_promoted.html.erb
Due: none

Expand search to look in geographies name
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
Due: bundle exec rubocop

adding simple system tests for public pages
  .rubocop.yml
  Gemfile
  Gemfile.lock
  db/seeds.rb
  db/test-dump.psql
  lib/tasks/test.rake
  spec/rails_helper.rb
  spec/spec_helper.rb
  spec/system/public/tpi/company_selector_spec.rb
  spec/system/public/tpi/company_spec.rb
  spec/system/public/tpi/home_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Due: bundle exec rubocop

make pg_restore faster
  lib/tasks/test.rake
Due: none

company selector specs
  spec/system/public/tpi/company_selector_spec.rb
Due: bundle exec rubocop

couple simple cclow public pages tests
  spec/system/public/cclow/climate_targets_spec.rb
  spec/system/public/cclow/home_spec.rb
  spec/system/public/cclow/legislation_and_policies_spec.rb
  spec/system/public/cclow/litigations_spec.rb
Due: bundle exec rubocop

add cclow geographies specs
  spec/rails_helper.rb
  spec/support/capybara_helpers.rb
  spec/system/public/cclow/geographies_spec.rb
  spec/system/public/tpi/company_spec.rb
Due: bundle exec rubocop

moar cclow public pages tests
  spec/system/public/cclow/geographies_spec.rb
  spec/system/public/cclow/home_spec.rb
Due: bundle exec rubocop

remove not needed decorator
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/decorators/cclow/litigation_side_decorator.rb
  app/decorators/cclow/target_decorator.rb
Due: bundle exec rubocop

remove commented code
  spec/system/public/tpi/sectors_spec.rb
Due: bundle exec rubocop

add some missing slugs, releted -> related
  app/decorators/cclow/target_decorator.rb
  app/views/cclow/cclow/_related_litigations_list.html.erb
  app/views/cclow/geography/legislations/show.html.erb
Due: bundle exec rubocop

some more leftovers of wrong links
  app/javascript/components/LawsDropdown.js
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
Due: eslint --ext .js --ext .jsx

fix rails warning messages
  app/models/cclow_map_content_data.rb
Due: bundle exec rubocop

bump rspec-rails versio
  Gemfile
  Gemfile.lock
Due: none

updating dependencies
  .rubocop.yml
  Gemfile.lock
  yarn.lock
Due: none

Style fixes on cclow
  app/assets/stylesheets/cclow/_geography-page.scss
  yarn.lock
Due: none

Removes unnecessary section
  app/views/cclow/home/index.html.erb
Due: none

Put sides closer to each other
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

Tweaks to search filters
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

rename filter
  app/javascript/components/pages/cclow/ClimateTargets.js
Due: eslint --ext .js --ext .jsx

Align styles from climate targets search results
  app/javascript/components/pages/cclow/ClimateTargets.js
Due: eslint --ext .js --ext .jsx

Removes hardcoded value
  app/services/api/presenters/company.rb
Due: bundle exec rubocop

adding some cool csv snapshot tests
  .rubocop.yml
  Gemfile
  Gemfile.lock
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/factories/tags.rb
  spec/rails_helper.rb
  spec/snapshots/cclow_climate_targets_controller_csv.snap
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Due: bundle exec rubocop

implement mobile style to sectors page
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/_dropdown-selector.scss
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_sizes.scss
  app/assets/stylesheets/tpi/charts/_mobile-booble-chart.scss
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/javascript/components/charts/bubble/Chart.js
  app/javascript/components/charts/bubble/MobileChart.js
  app/javascript/components/charts/bubble/index.js
  app/javascript/components/charts/mq-sector-pie/Chart.js
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx

update legislations external csv
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
Due: bundle exec rubocop

update external litigations csv format
  app/models/external_legislation.rb
  app/models/legislation.rb
  app/models/target.rb
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Due: bundle exec rubocop

update bundles
  Gemfile.lock
Due: none

make tests less dynamic, update includes statements
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/models/document.rb
  app/models/legislation.rb
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/factories/geographies.rb
  spec/snapshots/cclow_climate_targets_controller_csv.snap
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Due: bundle exec rubocop

moving includes into legislation csv exporter
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/services/csv_export/user/legislations.rb
  config/appsignal.yml
  config/database.yml
  config/environments/staging.rb
Due: bundle exec rubocop

use current request host for active storage document files
  app/controllers/application_controller.rb
  app/models/current.rb
  app/models/document.rb
Due: bundle exec rubocop

fix specs
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/snapshots/cclow_climate_targets_controller_csv.snap
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Due: bundle exec rubocop

rollback some config changes
  config/appsignal.yml
  config/database.yml
  config/environments/staging.rb
Due: bundle exec rubocop

external csv files order by geography name
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/targets.rb
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Due: bundle exec rubocop

fixing tests
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/targets.rb
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Due: bundle exec rubocop

add test-prof gem and use let_it_be to quickly make tests faster
  Gemfile
  Gemfile.lock
  app/services/csv_export/user/legislations.rb
  spec/controllers/cclow/api/targets_controller_spec.rb
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/rails_helper.rb
Due: bundle exec rubocop

display slowests rspec examples by default
  package.json
Due: none

add order by id for tags, why rails, why!!??
  app/models/concerns/taggable.rb
Due: bundle exec rubocop

implement mobile style to sectors show page
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/NestedDropdown.js
  app/javascript/components/charts/bubble/MobileChart.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/services/api/charts/sector.rb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop
