Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

some more published scopes
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geographies/show.html.erb
Due: bundle exec rubocop

highlight active geography
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

wrong scope
  app/views/cclow/geographies/show.html.erb
Due: none

active geographies should be last ones, to show the whole border
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

routes constraints
  config/routes.rb
Due: bundle exec rubocop

Fix domain for transition
  config/routes.rb
Due: bundle exec rubocop

fix typo
  app/controllers/cclow/legislation_and_policies_controller.rb
Due: bundle exec rubocop

No scope when finding by id
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
Due: bundle exec rubocop

some litigations don't have a geography, don't crash
  app/decorators/cclow/litigation_decorator.rb
  app/views/cclow/litigation_cases/_list_item.html.erb
Due: bundle exec rubocop

get me my hero unit please
  app/views/layouts/cclow.html.erb
Due: none

bug fix
  app/assets/stylesheets/cclow/_colors.scss
Due: none

Fix numbers in search and fix links in numbers
  app/assets/stylesheets/cclow/_hero.scss
  app/controllers/concerns/cclow/search_controller.rb
  app/views/cclow/home/_hero.html.erb
Due: bundle exec rubocop

map fix issues with context data, use ckmeans to create better buckets
  app/javascript/components/world-map/world-map.hooks.js
  app/models/cclow_map_context_data.rb
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

unhook number of displaced people, number of litigation cases
  app/models/cclow_map_content_data.rb
  app/models/cclow_map_context_data.rb
Due: bundle exec rubocop

pass legislation_and_policies page to react component
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

adds links and fixes styles
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geographies/_overview.html.erb
  app/views/cclow/geographies/show.html.erb
Due: none

fixed another crash
  app/views/cclow/geography/climate_targets/index.html.erb
Due: none

fix some uniqueness problems with the data
  app/javascript/components/world-map/world-map.hooks.js
Due: eslint --ext .js --ext .jsx

Gets rid of I18n for now and removes hardcoded info
  app/views/cclow/cclow/_related_laws_list.html.erb
  app/views/cclow/cclow/_releted_litigations_list.html.erb
  app/views/cclow/climate_targets/index.html.erb
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/legislations/_climate_targets.html.erb
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
  app/views/cclow/legislation_and_policies/_list_item.html.erb
Due: none

pass climate_targets page to react component
  app/controllers/cclow/climate_targets_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add correct logo assets to CCLOW header, add missing links
  app/assets/images/logo/LSE_logo.svg
  app/assets/images/logo/RICCE_logo.svg
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/layout.scss
  app/models/cclow_map_content_data.rb
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_footer.html.erb
  app/views/layouts/cclow/_header.html.erb
Due: bundle exec rubocop

I think my Grep doesn't work perfectly
  app/services/api/latest_additions.rb
Due: bundle exec rubocop

fix(cclw): add missing partners and spacings and font sizes
  app/assets/images/logo/CCLOW_logo.svg
  app/assets/images/logo/columbia_law_school_logo.jpg
  app/assets/images/logo/gri-logo.png
  app/assets/stylesheets/cclow/_pages.scss
  app/views/cclow/home/index.html.erb
  app/views/layouts/cclow/_footer.html.erb
Due: none

visual adjustments
  app/assets/stylesheets/cclow/_pages.scss
  app/views/cclow/home/index.html.erb
Due: none

Link address, fix email
  app/views/layouts/cclow/_footer.html.erb
Due: none

round usd data
  app/models/cclow_map_context_data.rb
Due: bundle exec rubocop

Fix sorting of latest additions
  app/services/api/latest_additions.rb
Due: bundle exec rubocop

fix zoom in/out buttons on country page
  app/views/cclow/geographies/show.html.erb
Due: none

add missing targets for all footer anchors
  app/views/layouts/cclow/_footer.html.erb
Due: none

Fixing latest additions and header on litigations show page
  app/models/litigation.rb
  app/services/api/latest_additions.rb
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: bundle exec rubocop

Fixes email address
  app/views/layouts/cclow/_footer.html.erb
Due: none

better display of money on map legend
  app/javascript/components/world-map/MapLegend.js
Due: eslint --ext .js --ext .jsx

link logos hide learn more
  app/views/cclow/home/index.html.erb
Due: none

fix links and fix show description
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/decorators/cclow/target_decorator.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Handle non existent legislative process. Hide info icons
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/legislations/show.html.erb
Due: none

Hide a few more question marks
  app/views/cclow/geographies/_overview.html.erb
Due: none

Filter only published
  app/controllers/concerns/cclow/search_controller.rb
Due: bundle exec rubocop
