Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

test: Fix of ASCOR bubble chart test (desktop and mobile version)
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/ascor_spec.rb
Due: bundle exec rubocop

feat: Separate page for Publications
  app/assets/stylesheets/tpi/_pages.scss
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/Filters.js
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  app/views/tpi/publications/show_news_article.erb
  app/views/tpi/sitemaps/index.xml.erb
  config/routes.rb
  spec/controllers/tpi/publications_controller_spec.rb
  spec/controllers/tpi/sitemaps_controller_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix: brakeman - upgrading ignore files
  config/brakeman.ignore
Due: none

feat: Adding insight content type
  app/admin/news_article.rb
  app/assets/stylesheets/tpi/_publications.scss
  app/models/news_article.rb
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  db/migrate/20231023101859_add_is_insight_to_news_articles.rb
  db/structure.sql
  db/test-dump.psql
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
Due: bundle exec rubocop

feat: Adding summary to Publications
  app/admin/publication.rb
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/show.html.erb
  db/migrate/20231023120255_add_summary_to_publications.rb
  db/structure.sql
  db/test-dump.psql
  spec/controllers/admin/publications_controller_spec.rb
  spec/factories/publications.rb
Due: bundle exec rubocop

fix: db schema
  app/models/bank_assessment_indicator.rb
  app/models/news_article.rb
  app/models/publication.rb
  db/structure.sql
  spec/factories/bank_assessment_indicators.rb
  spec/factories/news_articles.rb
  spec/factories/publications.rb
  spec/models/bank_assessment_indicator_spec.rb
  spec/models/news_article_spec.rb
  spec/models/publication_spec.rb
Due: bundle exec rubocop

Revert "refactoring: renaming TPI Centre to LSE-TPI Centre"
  app/views/tpi/home/index.html.erb
Due: none

feat: MQ assessments support No data answer
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/mq/question.rb
  db/seeds/tpi/mq-assessments-M5.csv
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/mq_assessments.csv
Due: bundle exec rubocop

feat: Link to MQ BETA feature presentation
  app/javascript/components/tpi/MqBetaModal.jsx
  public/static_files/23-10-20 MQ V5 Report for publication.pptx
Due: eslint --ext .js --ext .jsx

feat: Final Linkedin widget with feeds
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

refactoring: Minor tweaks of Publication web page
  app/views/tpi/publications/show.html.erb
Due: none

feat: Adding active filter into Company Admin
  app/admin/companies.rb
Due: bundle exec rubocop

feat: Another small tweak of Publication web pages
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_list.html.erb
Due: none

Add min Y axis value and change X axis ticks
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Due: eslint --ext .js --ext .jsx

Change countries sizes range
  app/assets/stylesheets/tpi/_bubble-chart-countries.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/SingleCell.js
  app/javascript/components/tpi/charts/ascor-bubble/constants.js
Due: eslint --ext .js --ext .jsx

Update axis ticks
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Due: eslint --ext .js --ext .jsx

Typo fixing and remove text from contact section
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_contact.html.erb
Due: eslint --ext .js --ext .jsx

refactoring: Minor tweaks of MQ BETA report texts
  app/javascript/components/tpi/MqBetaModal.jsx
  public/static_files/23-10-20 MQ V5 Report for publication.pptx
  public/static_files/23-11-02 MQ V5 Report for publication.pptx
Due: eslint --ext .js --ext .jsx

refactoring: Changing MQ BETA presentation
  app/javascript/components/tpi/MqBetaModal.jsx
  public/static_files/23-11-02 MQ V5 Report for publication.pptx
  public/static_files/Raising the Bar. TPI's new Management Quality framework.pdf
Due: eslint --ext .js --ext .jsx

refactoring: Update of seeding data plus fix of units
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorRecentEmissions.js
  db/seeds/tpi/ascor_assessment_indicators.csv
  db/seeds/tpi/ascor_assessments.csv
  db/seeds/tpi/ascor_benchmarks.csv
  db/seeds/tpi/ascor_countries.csv
  db/seeds/tpi/ascor_pathways.csv
Due: eslint --ext .js --ext .jsx

fix: Minor fixes related to MQ BETA methodology
  app/javascript/components/tpi/MqBetaModal.jsx
  app/services/api/charts/mq_assessment.rb
  public/static_files/Raising the Bar. TPI's new Management Quality framework.pdf
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix: remove experiment part of mq assessment service
  app/services/api/charts/mq_assessment.rb
Due: bundle exec rubocop

refactoring: Show only MQ BETA companies when BETA methodology is enabled
  app/services/api/charts/mq_assessment.rb
  app/services/api/charts/sector.rb
  spec/services/api/charts/sector_spec.rb
Due: bundle exec rubocop

refactoring: Hide V4.0 MQ assessments if V5.0 BETA data exists with same assessment date
  app/helpers/mq_assessment_helper.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/views/tpi/companies/_mq_assessment.html.erb
  app/views/tpi/companies/show.html.erb
  spec/services/api/charts/mq_assessment_spec.rb
Due: bundle exec rubocop

feat: Load BETA methodology publication when BETA data are enabled
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

feat: Adding research notes to ASCOR assessment model
  app/admin/ascor/assessments.rb
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/services/csv_import/ascor_assessments.rb
  app/views/tpi/ascor/show.html.erb
  db/seeds/tpi/ascor_assessments.csv
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/ascor_assessments.csv
Due: bundle exec rubocop

feat: Render metrics for areas which don't have any indicators
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_assessment_indicators.html.erb
  app/views/tpi/ascor/_assessment_metrics.html.erb
Due: none

refactoring: Renaming trend filter values and reversing ordering
  app/services/api/ascor/recent_emissions.rb
  app/views/tpi/ascor/_metrics_ep1a.html.erb
Due: bundle exec rubocop

refactoring: ASCOR recent emission value is string
  app/javascript/components/tpi/AscorRecentEmissions.js
  db/migrate/20231108125346_change_type_of_recent_emissions_level_at_ascor_pathways.rb
  db/structure.sql
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

refactoring: ASCOR assessment legend is always visible
  app/javascript/components/tpi/AscorQuestionLegend.js
Due: eslint --ext .js --ext .jsx

refactoring: Changing couple ASCOR graph descriptions
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/index.html.erb
Due: none

test: Updating tests with new sql dump
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_pathways_csv.json
  spec/services/api/ascor/recent_emissions_spec.rb
  spec/system/public/tpi/ascor_spec.rb
Due: bundle exec rubocop

refactoring: Adding new bubble sizes to ASCOR tool
  app/services/api/ascor/bubble_chart.rb
  spec/services/api/ascor/bubble_chart_spec.rb
Due: bundle exec rubocop

feat: Service which calculates data for EP.2 chart
  app/models/ascor/assessment.rb
  app/models/ascor/benchmark.rb
  app/models/ascor/pathway.rb
  app/services/api/ascor/benchmarks_chart.rb
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_benchmarks_chart.html.erb
  app/views/tpi/ascor/show.html.erb
  spec/services/api/ascor/benchmarks_chart_spec.rb
Due: bundle exec rubocop

refactoring: Changing title of first item at About menu
  app/views/layouts/tpi/_header.html.erb
Due: none

feat: Adding Plausible snippet
  app/views/layouts/tpi.html.erb
Due: none

Bubble chart fixes
  app/assets/stylesheets/tpi/_bubble-chart-countries.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  db/structure.sql
Due: eslint --ext .js --ext .jsx

Add bubble size to tooltip
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
Due: eslint --ext .js --ext .jsx

Revert db structure.sql change
  db/structure.sql
Due: none

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
