Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

Show message for cp matrix for banks without 2025 assessment: Banking
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_cp_matrix.html.erb
  app/views/tpi/banks/show.html.erb
Due: bundle exec rubocop

Show NA only for 4th area: Banking
  app/views/tpi/banks/_assessment.html.erb
Due: none

Break assesment tie when date collides: Banking
  app/views/tpi/banks/_assessment.html.erb
Due: none

Add metrics for EP.1.b.i and EP.1.c.i: ASCOR
  app/views/tpi/ascor/_assessment_metrics.html.erb
Due: none

Show empty areas if present: ASCOR
  app/helpers/ascor_helper.rb
  app/services/api/ascor/bubble_chart.rb
Due: bundle exec rubocop

Add new area replacement for new EP 3: ASCOR
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
Due: eslint --ext .js --ext .jsx

In country view, show EP3 before EP4: ASCOR
  app/views/tpi/ascor/_assessment.html.erb
Due: none

Show not-applicable for EP 3 for <= 2024: ASCOR
  app/helpers/ascor_helper.rb
  app/views/tpi/ascor/_assessment.html.erb
Due: bundle exec rubocop

Make not assessed tag in main view year-dependent: ASCOR
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/views/tpi/ascor/_bubble_chart.html.erb
Due: eslint --ext .js --ext .jsx

Make end date of graph in ascor main dynamic: ASCOR
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/views/tpi/ascor/_emissions_chart.html.erb
Due: eslint --ext .js --ext .jsx

Fix assessment date selectors: ASCOR
  app/controllers/tpi/ascor_controller.rb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/index_assessment.js.erb
  app/views/tpi/ascor/index_emissions_assessment.js.erb
Due: bundle exec rubocop

Move graph to EP 3 in country view for >2024: ASCOR
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_assessment_indicators.html.erb
Due: none

Show dynamic end year in detail graph for EP3: ASCOR
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
  app/views/tpi/ascor/_benchmarks_chart.html.erb
Due: eslint --ext .js --ext .jsx

Order admin download of assessments: ASCOR
  app/admin/ascor/assessments.rb
Due: bundle exec rubocop

Order customer-facing ASCOR download: ASCOR
  app/services/csv_export/ascor/assessment_indicators.rb
  app/services/csv_export/ascor/assessments.rb
Due: bundle exec rubocop

Use Not assessed string for <=2024 downloaded files, EP3: ASCOR
  app/admin/ascor/assessments.rb
  app/services/csv_export/ascor/assessments.rb
Due: bundle exec rubocop

Show different graphs for coal mining subsectors: Banking
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Due: bundle exec rubocop

Coal mining graph showed: Banking
  app/controllers/tpi/banks_controller.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Due: bundle exec rubocop

Don't show coal graph if no emissions: Banking
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/_cp_assessments.html.erb
Due: bundle exec rubocop

Account for subsector in mean calculation: Banking
  app/services/api/charts/cp_assessment.rb
Due: bundle exec rubocop

Don't show coal graph if no emissions: Banking
  app/views/tpi/banks/_cp_assessments.html.erb
Due: none

Show different graphs for coal mining subsectors: Banking
  app/views/tpi/banks/_cp_assessments.html.erb
Due: none

Add industry relationship and update disclaimer download: MQ
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/models/industry.rb
  app/models/tpi_sector.rb
  app/views/tpi/companies/show.html.erb
  db/migrate/20251031120000_create_industries.rb
  db/migrate/20251031120001_add_industry_id_to_tpi_sectors.rb
  db/structure.sql
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add tooltip info to email field, download modal: MQ
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Add email instruction inlined, download modal: MQ
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Add fields for Use case details section, download: MQ
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Add section Self-attestation of use case, download modal: MQ
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Modify backend to support new modal fields, download: MQ
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/views/data_download_mailer/send_download_file_info_email.html.erb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/mailers/data_download_mailer_spec.rb
Due: bundle exec rubocop

Fix user_download issue: Banking, ASCOR, MQ
  app/services/csv_export/user/bank_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_export/user/mq_assessments.rb
  app/services/queries/tpi/latest_cp_assessments_query.rb
Due: bundle exec rubocop
