Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

Handle errors
  app/services/migration/legislation.rb
  app/services/migration/litigation.rb
  db/seeds/laws_migration/legislation-sources.csv
Due: bundle exec rubocop

Handle error
  app/services/migration/legislation.rb
  app/services/migration/litigation.rb
Due: bundle exec rubocop

one more error being handled
  app/services/migration/legislation.rb
  app/services/migration/litigation.rb
Due: bundle exec rubocop

Separate sources import from the rest
  app/services/seed/cclow_data.rb
  lib/tasks/reimport.rake
Due: bundle exec rubocop

map: use linear scale for bubble sizes
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapLegend.js
  app/javascript/components/world-map/world-map.hooks.js
Due: eslint --ext .js --ext .jsx

Fetch relevant event, change from present to any
  app/models/legislation.rb
  app/views/cclow/geography/legislations/show.html.erb
Due: bundle exec rubocop

legend changes, fix bubble sizes
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/MapLegend.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/constants.js
  app/javascript/components/world-map/world-map.hooks.js
Due: eslint --ext .js --ext .jsx

Some more fixes and ordering of things
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/geography/legislations/show.html.erb
Due: none

Adds eu_member? method, and some more front end tweaks
  app/models/geography.rb
  app/views/cclow/geographies/show.html.erb
Due: bundle exec rubocop

getting some real information
  app/views/cclow/geography/climate_targets/index.html.erb
Due: none

remove reference to germany
  app/views/cclow/geographies/show.html.erb
Due: none

Link to EU and link to INDC submission
  app/views/cclow/geographies/show.html.erb
Due: none

fix tooltip, add proper content to tooltip
  app/controllers/cclow/api/map_indicators_controller.rb
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/MapTooltip.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.reducer.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

use only published stuff for the map
  app/models/cclow_map_content_data.rb
Due: bundle exec rubocop

Sort data
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/controllers/cclow/geography/legislations_controller.rb
Due: bundle exec rubocop

hide unknown sections
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/views/cclow/geography/legislations/show.html.erb
Due: bundle exec rubocop

fixing targets index page
  app/controllers/cclow/climate_targets_controller.rb
  app/views/cclow/climate_targets/index.html.erb
  app/views/cclow/geographies/show.html.erb
Due: bundle exec rubocop

make targets index more nice looking
  app/controllers/cclow/climate_targets_controller.rb
  app/decorators/cclow/target_decorator.rb
  app/models/target.rb
  app/views/cclow/climate_targets/index.html.erb
Due: bundle exec rubocop

set routing based on path
  config/routes.rb
Due: bundle exec rubocop

more concise metadata files
  app/models/cclow_map_context_data.rb
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
  map_data/cumalitive_weather_idp_per_country_2008--2018.yml
  map_data/cumulative_emissions_total_fossil_fuels_and_cement_in_MtCO2e_2017.yml
  map_data/emissions_total_fossil_fuels_and_cement_in_MtCO2e_2018.yml
Due: bundle exec rubocop

Getting targets routing right
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/decorators/cclow/target_decorator.rb
  app/views/cclow/geography/climate_targets/show.html.erb
Due: bundle exec rubocop

small style changes
  app/assets/stylesheets/cclow/_world-map.scss
Due: none

tooltip style changes
  app/assets/stylesheets/cclow/_world-map.scss
Due: none

a little more routing
  config/routes.rb
Due: bundle exec rubocop

better number formatting, use proper color ramps
  app/javascript/components/world-map/MapLegend.js
  app/javascript/components/world-map/MapTooltip.js
  app/javascript/components/world-map/helpers.js
  app/javascript/components/world-map/world-map.hooks.js
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
  map_data/cumalitive_weather_idp_per_country_2008--2018.yml
  map_data/cumulative_emissions_total_fossil_fuels_and_cement_in_MtCO2e_2017.yml
  map_data/emissions_total_fossil_fuels_and_cement_in_MtCO2e_2018.yml
Due: eslint --ext .js --ext .jsx

Add filter by geography to targets admin page
  app/admin/targets.rb
Due: bundle exec rubocop

rollback routing changes
  config/routes.rb
Due: bundle exec rubocop

fix(cclw): missing icons
  app/assets/images/icons/world.svg
  app/assets/stylesheets/cclow/_hero.scss
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/javascript/components/LawsDropdown.js
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow/_header.html.erb
Due: eslint --ext .js --ext .jsx

map legend description
  app/javascript/components/world-map/MapLegend.js
  app/models/cclow_map_content_data.rb
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
  map_data/cumalitive_weather_idp_per_country_2008--2018.yml
  map_data/cumulative_emissions_total_fossil_fuels_and_cement_in_MtCO2e_2017.yml
  map_data/emissions_total_fossil_fuels_and_cement_in_MtCO2e_2018.yml
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

render data source links in map legend
  app/javascript/components/world-map/MapLegend.js
  app/models/cclow_map_content_data.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add links fixes icons
  app/assets/images/icons/official-building.svg
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_hero.scss
  app/controllers/cclow/home_controller.rb
  app/views/cclow/geographies/_overview.html.erb
  app/views/cclow/home/_hero.html.erb
Due: bundle exec rubocop

Found the designs!
  app/decorators/cclow/target_decorator.rb
  app/views/cclow/climate_targets/index.html.erb
Due: bundle exec rubocop

Don't forget the published scope
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/services/api/latest_additions.rb
Due: bundle exec rubocop

fix the broke
  app/decorators/cclow/litigation_decorator.rb
Due: bundle exec rubocop

Enable managing source of Targets
  app/admin/targets.rb
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/models/target.rb
  app/services/csv_import/targets.rb
  app/views/admin/targets/_form.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  db/migrate/20191208233512_add_source_to_targets.rb
  db/schema.rb
  db/seeds/laws_migration/targets.csv
Due: bundle exec rubocop

Sort the targets display
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/views/cclow/geography/climate_targets/index.html.erb
Due: bundle exec rubocop

add map to country page
  app/assets/stylesheets/cclow/_geography-page.scss
  app/assets/stylesheets/cclow/_map.scss
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/world-map.reducer.js
  app/views/cclow/geographies/_map.html.erb
  app/views/cclow/geographies/show.html.erb
Due: eslint --ext .js --ext .jsx

link to policy or law
  app/views/cclow/geography/climate_targets/index.html.erb
Due: none

preserve bubble size
  app/javascript/components/world-map/MapBubble.js
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

Getting more links between targets and laws
  app/services/csv_import/targets.rb
  app/services/seed/cclow_data.rb
Due: bundle exec rubocop
