Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

show alignment year only for logged in users
  app/controllers/concerns/tpi/user_download.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

show cp alignment year always
  app/controllers/concerns/tpi/user_download.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

add linkedin button and twitter widget
  app/assets/images/icon_linkedin/icon_linkedin_white.svg
  app/assets/stylesheets/tpi/_footer.scss
  app/views/layouts/tpi/_footer.html.erb
Due: none

remove terms of use
  app/views/layouts/cclow/_footer.html.erb
Due: none

add unlisted market cap group option
  app/models/company.rb
Due: bundle exec rubocop

add benchmarkid and prev assessment to csv export
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
Due: bundle exec rubocop

change which benchmark to take when assessment date before benchmark release date
  app/models/tpi_sector.rb
  spec/models/company_spec.rb
Due: bundle exec rubocop

bundle update
  Gemfile.lock
Due: none

fix linter
  .rubocop.yml
  app/validators/content_type_validator.rb
  lib/timed_logger.rb
Due: bundle exec rubocop

adjust for new cp alignment colors
  app/models/cp/alignment.rb
  app/services/api/presenters/company.rb
Due: bundle exec rubocop

add presence validation for mq assessment methodology version
  app/models/mq/assessment.rb
  db/migrate/20211116114117_add_mq_assessments_methodology_version_not_null.rb
  db/structure.sql
  spec/factories/mq_assessments.rb
  spec/models/mq/assessment_spec.rb
Due: bundle exec rubocop

allow importing text/plain
  app/models/data_upload.rb
Due: bundle exec rubocop

fix colors
  app/models/cp/alignment.rb
Due: bundle exec rubocop

fix last reported year zones
  app/services/api/charts/cp_assessment.rb
Due: bundle exec rubocop

quick change to sector cp assessments chart
  app/models/cp/alignment.rb
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop

fix targetted year placement
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

fix cp all sectors chart
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop

show no data when no data available for all sectors chart
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

ignore some specs for now
  spec/services/api/charts/cp_performance_spec.rb
  spec/system/public/tpi/sectors_spec.rb
Due: bundle exec rubocop

change email
  app/views/layouts/tpi/_footer.html.erb
Due: none

update dependencies
  Gemfile.lock
Due: none

remove sec schedule, update rubocop
  .github/workflows/security.yml
  .rubocop.yml
Due: none

fix wrong date format import failures
  app/services/csv_import/base_importer.rb
  app/services/csv_import/date_utils.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

add legislation, litigation ids to user downloads
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/fixtures/snapshots/cclow_legislation_and_policies_controller_csv.json
  spec/fixtures/snapshots/cclow_litigation_cases_controller_csv.json
Due: bundle exec rubocop

update ruby
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  config/deploy/production.rb
  config/deploy/staging.rb
Due: bundle exec rubocop

disallow adding new instrument or governance types using CSV import, only through admin UI
  app/services/csv_import/legislations.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

disable tags creation through user import, allow for seeds
  app/services/csv_import/base_importer.rb
  app/services/csv_import/helpers/cached_collections.rb
  app/services/seed/cclow_data.rb
  db/seeds.rb
  spec/commands/csv_data_upload_spec.rb
  spec/factories/tags.rb
Due: bundle exec rubocop

disable adding tags in admin UI using select dropdown for cclow part
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
  app/models/tag.rb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/targets/_form.html.erb
Due: bundle exec rubocop

downgrade active admin
  Gemfile
  Gemfile.lock
Due: none

change publications link
  app/views/cclow/home/index.html.erb
Due: none

try to fix issue with seg fault
  config/initializers/assets.rb
Due: bundle exec rubocop

downgrade ruby
  .ruby-version
  Gemfile
  Gemfile.lock
  README.md
  config/deploy/production.rb
  config/deploy/staging.rb
Due: bundle exec rubocop

rake task to fix instrument and instrument types on production
  lib/tasks/instruments.rake
  lib/tasks/support/instruments_mapping.csv
  lib/tasks/support/new_instruments.csv
Due: none

remove duplicates from instrument_legislations
  app/decorators/legislation_decorator.rb
  lib/tasks/instruments.rake
Due: bundle exec rubocop

add more logs
  lib/tasks/instruments.rake
Due: none

remove not needed instruments and types
  lib/tasks/instruments.rake
Due: none

another sanity check
  lib/tasks/instruments.rake
  lib/tasks/support/instruments_mapping.csv
  lib/tasks/support/new_instruments.csv
Due: none

please
  config/initializers/assets.rb
Due: bundle exec rubocop

add 2025, 2035 cp alignment, and target years
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/models/geography.rb
  app/models/mq/assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/helpers/emissions.rb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/tpi/companies/show.html.erb
  db/migrate/20220215170029_add2025_and2035_alignments_and_target_years_to_cp_assessments.rb
  db/structure.sql
  spec/factories/geographies.rb
  spec/factories/images.rb
  spec/factories/mq_assessments.rb
  spec/models/cp/assessment_spec.rb
  spec/models/geography_spec.rb
  spec/models/mq/assessment_spec.rb
Due: bundle exec rubocop
