Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

add load more for publications
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/Filters.js
  app/views/tpi/publications/_list.html.erb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix filter button css
  app/assets/stylesheets/tpi/_filters.scss
Due: none

fix specs
  app/views/tpi/banks/index.html.erb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/search/index.html.erb
  app/views/tpi/sectors/show.html.erb
  spec/models/case_study_spec.rb
Due: bundle exec rubocop

update hero images
  app/assets/images/tpi/home/hero-background-middle.jpg
  app/assets/images/tpi/home/hero-background-small.jpg
  app/assets/images/tpi/home/hero-background.jpg
  app/assets/images/tpi/home/hero-background.png
  app/assets/stylesheets/tpi/pages/home.scss
Due: none

add search icon for mobile
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/_search.scss
  app/javascript/components/tpi/Navbar.js
  app/views/tpi/search/index.html.erb
Due: eslint --ext .js --ext .jsx

simple task to copy files
  lib/configuration_file.rb
  lib/tasks/storage.rake
Due: bundle exec rubocop

do not upload file if file already exist
  lib/tasks/storage.rake
Due: none

change color theme back to TPI one
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_helpers.scss
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/home/index.html.erb
Due: none

show on page constant
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/Filters.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add slider for researches
  app/assets/stylesheets/tpi/pages/home.scss
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/index.html.erb
Due: bundle exec rubocop

upgrade stimulus
  app/admin/data_uploads.rb
  app/javascript/admin/controllers/check_modified_controller.js
  app/javascript/admin/controllers/dependent_input_controller.js
  app/javascript/admin/controllers/embed_trix_controller.js
  app/javascript/admin/controllers/index.js
  app/javascript/admin/controllers/litigation_side_controller.js
  app/javascript/admin/controllers/nested_list_controller.js
  app/javascript/admin/controllers/tabs_controller.js
  app/javascript/admin/controllers/upload_instructions_controller.js
  app/javascript/admin/controllers/with_emission_table_form_controller.js
  app/javascript/shared/controllers/cookies_consent_controller.js
  app/javascript/shared/controllers/index.js
  app/javascript/shared/controllers/slider_controller.js
  app/javascript/shared/controllers/tpi_home_slider_controller.js
  app/javascript/tpi/controllers/index.js
  app/views/admin/cp/_emissions_table_edit.html.erb
  app/views/admin/documents/_list.html.erb
  app/views/admin/events/_list.html.erb
  app/views/admin/geographies/_form.html.erb
  app/views/admin/legislations/_form.html.erb
  app/views/admin/litigations/_form.html.erb
  app/views/admin/litigations/_sides_list.html.erb
  app/views/admin/pages/_content.html.erb
  app/views/admin/pages/_form.html.erb
  app/views/admin/pages/_image.html.erb
  app/views/admin/targets/_form.html.erb
  app/views/admin/tpi_sectors/_form.html.erb
  app/views/cclow/home/_latest_additions.html.erb
  app/views/tpi/home/index.html.erb
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

use tiny slider for research boxes
  app/assets/stylesheets/tpi/pages/home.scss
  app/javascript/shared/controllers/tpi_home_slider_controller.js
  app/views/tpi/home/index.html.erb
Due: eslint --ext .js --ext .jsx

revert dropping testimonials, we will do it later
  db/migrate/20220822103454_drop_testimonials.rb
  db/structure.sql
Due: bundle exec rubocop

reserve space for twitter timeline
  app/assets/stylesheets/tpi/pages/home.scss
Due: none

add preview link to admin page
  app/admin/page.rb
Due: bundle exec rubocop

make slider items same height
  app/assets/stylesheets/tpi/pages/home.scss
Due: none

show slider buttons on mobile
  app/assets/stylesheets/tpi/pages/home.scss
  app/javascript/shared/controllers/tpi_home_slider_controller.js
  app/views/tpi/home/index.html.erb
Due: eslint --ext .js --ext .jsx

add sovereign bonds link
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Due: none

changing menu structure
  app/views/layouts/tpi/_header.html.erb
Due: none

update case studies
  lib/tasks/onetime.rake
  lib/tasks/support/ABRDN.png
  lib/tasks/support/Lans.png
  lib/tasks/support/USS.png
Due: none

add author and author image to publications
  app/admin/publication.rb
  app/models/publication.rb
  db/migrate/20220902105018_add_author_to_publication.rb
  db/structure.sql
  spec/factories/publications.rb
Due: bundle exec rubocop

changes for latest research on home page
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/index.html.erb
  lib/tasks/dev.rake
  lib/tasks/onetime.rake
Due: bundle exec rubocop

apply height for research box
  app/assets/stylesheets/tpi/pages/home.scss
Due: none

use thumbnail for author image
  app/admin/publication.rb
  app/assets/stylesheets/tpi/pages/home.scss
  app/models/publication.rb
  app/views/tpi/home/index.html.erb
Due: bundle exec rubocop

update test db dump
  db/test-dump.psql
Due: none

small stylistic changes to research boxes
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

add methodology and publications to tpi sectors page
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/controllers/tpi/sectors_controller.rb
  app/models/content.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  lib/tasks/onetime.rake
Due: bundle exec rubocop

missing model annotations
  app/models/case_study.rb
  app/models/publication.rb
  spec/factories/case_studies.rb
  spec/factories/publications.rb
  spec/models/case_study_spec.rb
  spec/models/publication_spec.rb
Due: bundle exec rubocop

small changes
  app/views/layouts/tpi/_banner.html.erb
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Due: none

small style fixes, prepare for bank methodology
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_latest-information.scss
  app/assets/stylesheets/tpi/pages/bank.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/controllers/tpi/banks_controller.rb
  app/models/content.rb
  app/views/tpi/banks/index.html.erb
  lib/tasks/onetime.rake
Due: bundle exec rubocop

fix banks methodology bug
  app/controllers/tpi/banks_controller.rb
Due: bundle exec rubocop

more changes to banks and sectors pages
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/models/content.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/sectors/index.html.erb
  lib/tasks/onetime.rake
Due: bundle exec rubocop

methodology text change
  lib/tasks/onetime.rake
Due: none

sectors methodology change
  app/controllers/tpi/sectors_controller.rb
  lib/tasks/onetime.rake
Due: bundle exec rubocop

fix linters
  app/views/tpi/banks/index.html.erb
  app/views/tpi/sectors/index.html.erb
  config/brakeman.ignore
  lib/tasks/onetime.rake
Due: none

more changes
  app/controllers/tpi/sectors_controller.rb
  app/services/queries/tpi/news_publications_query.rb
  lib/tasks/onetime.rake
  spec/services/queries/tpi/news_publications_query_spec.rb
Due: bundle exec rubocop

more changes
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Due: none

forgot about new tags
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

change terms and conditions link
  app/views/tpi/home/index.html.erb
Due: none

sectors' cp assessment show only when there are any
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/sectors/show.html.erb
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
