Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

let it fails
  .lintstagedrc
Due: none

add few more linting yarn commands
  package.json
Due: none

Persist state of active options in react, fix filtering on backend
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Remove button's default outline
  app/assets/stylesheets/tpi/_filters.scss
Due: none

fix slick carousel
  app/javascript/packs/cclow.js
Due: eslint --ext .js --ext .jsx

fix deploys
  config/webpack/development.js
  config/webpack/environment.js
  config/webpack/plugins/eslint.js
  config/webpack/test.js
Due: eslint --ext .js --ext .jsx

add buttons styles, better zoom in/out buttons for worldmap
  .eslintrc.yml
  app/assets/images/cclow/icons/minus.svg
  app/assets/images/cclow/icons/plus.svg
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_buttons.scss
  app/assets/stylesheets/cclow/_colors.scss
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
  config/webpacker.yml
Due: eslint --ext .js --ext .jsx

add cclow sandbox page
  app/assets/stylesheets/cclow/_buttons.scss
  app/assets/stylesheets/cclow/_variables.scss
  app/controllers/cclow/home_controller.rb
  app/views/cclow/home/sandbox.html.erb
  config/routes.rb
Due: bundle exec rubocop

create multiselect component
  app/javascript/components/EventsTimeline.js
  app/javascript/components/MultiSelect.js
Due: eslint --ext .js --ext .jsx

Fixes specs to match implementation
  spec/services/queries/tpi/news_publications_query_spec.rb
Due: bundle exec rubocop

Add react component scaffold for Publication filters
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_filters.scss
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/views/tpi/publications/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add filtering for publications and news articles
  app/assets/images/icons/filter-blue.svg
  app/assets/images/icons/filter-white.svg
  app/assets/stylesheets/tpi/_filters.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/views/tpi/publications/index.html.erb
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add tags to publication cell
  app/assets/stylesheets/tpi/_publications.scss
  app/views/tpi/publications/_promoted.html.erb
Due: none

Move filtering to helper function
  app/controllers/tpi/publications_controller.rb
Due: bundle exec rubocop

news and publications filter refactor
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/Filters.js
  app/models/tag.rb
  app/services/queries/tpi/news_publications_query.rb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/index.html.erb
  config/routes.rb
  spec/factories/publications.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add react select to worldmap
  app/assets/stylesheets/cclow/_world-map.scss
  app/javascript/components/world-map/WorldMap.js
Due: eslint --ext .js --ext .jsx

remove not needed section on home page
  app/views/cclow/home/index.html.erb
Due: none

Adds CCLOWPage model, uses STI
  app/admin/cclow_page.rb
  app/admin/tpi_page.rb
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/controllers/tpi/home_controller.rb
  app/controllers/tpi/pages_controller.rb
  app/decorators/page_decorator.rb
  app/models/cclow_page.rb
  app/models/page.rb
  app/models/tpi_page.rb
  app/services/dynamic_router.rb
  db/migrate/20191206082828_add_type_to_pages.rb
  db/schema.rb
  lib/tasks/static_pages.rake
Due: bundle exec rubocop

Initialize Page
  db/migrate/20191206082828_add_type_to_pages.rb
Due: bundle exec rubocop

Tidy up the admin pages
  app/admin/cclow_page.rb
  app/admin/page.rb
  app/admin/tpi_page.rb
  app/models/cclow_page.rb
  app/models/tpi_page.rb
  app/views/admin/pages/_content.html.erb
  app/views/admin/pages/_content_fields.html.erb
  app/views/admin/pages/_form.html.erb
  app/views/admin/pages/_image.html.erb
  lib/tasks/static_pages.rake
  spec/factories/pages.rb
Due: bundle exec rubocop

Eslint fixes
  app/javascript/components/Filters.js
Due: eslint --ext .js --ext .jsx

design filter for regions and countries
  app/assets/images/icons/dark-minus.svg
  app/assets/images/icons/dark-plus.svg
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_filters.scss
  app/javascript/components/SearchFilter.js
  app/views/cclow/litigation_cases/index.html.erb
Due: eslint --ext .js --ext .jsx

Enable menu selection for CCLOWPages
  app/admin/page.rb
  app/models/cclow_page.rb
  app/models/page.rb
  app/models/tpi_page.rb
  app/views/admin/pages/_form.html.erb
Due: bundle exec rubocop

fix js lint
  app/javascript/components/SearchFilter.js
Due: eslint --ext .js --ext .jsx

bug fix
  app/assets/stylesheets/cclow/_filters.scss
  app/assets/stylesheets/cclow/_geography-page.scss
  app/javascript/components/SearchFilter.js
  app/views/cclow/litigation_cases/index.html.erb
Due: eslint --ext .js --ext .jsx

This commit removes target-scopes which will be replaced by tags
  app/admin/target_scopes.rb
  app/admin/targets.rb
  app/commands/command/destroy/target_scope.rb
  app/decorators/target_scope_decorator.rb
  app/models/scope.rb
  app/models/target.rb
  app/models/target_scope.rb
  app/views/admin/targets/_form.html.erb
  db/migrate/20191206120828_drop_target_scopes.rb
  db/schema.rb
  spec/controllers/admin/target_scopes_controller_spec.rb
  spec/factories/target_scope.rb
  spec/factories/targets.rb
  spec/models/target_scope_spec.rb
Due: bundle exec rubocop

Fixing bugs and removing bits that weren't needed anymore
  app/services/csv_import/targets.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
Due: bundle exec rubocop

Adds google analytics
  app/views/layouts/cclow.html.erb
Due: none

Fixes wrong model name
  lib/tasks/static_pages.rake
Due: none

Fixes validations
  app/models/cclow_page.rb
  app/models/page.rb
  app/models/tpi_page.rb
  lib/tasks/static_pages.rake
Due: bundle exec rubocop

Set up cclow pages controllers and placeholder view template
  app/controllers/cclow/cclow_controller.rb
  app/controllers/cclow/pages_controller.rb
  app/controllers/concerns/cclow/static_pages_controller.rb
  app/views/cclow/pages/show.html.erb
Due: bundle exec rubocop

Have 3 images in a row in cclow static pages
  app/assets/stylesheets/cclow/_pages.scss
Due: none

Hook up and style static pages
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_pages.scss
  app/controllers/cclow/pages_controller.rb
  app/views/cclow/home/_hero.html.erb
  app/views/cclow/pages/show.html.erb
  app/views/layouts/cclow/_footer.html.erb
  app/views/layouts/cclow/_header.html.erb
Due: bundle exec rubocop

Fixes after rebase
  app/assets/stylesheets/cclow.scss
Due: none

WIP: importing legislations
  app/services/csv_import/legislations.rb
  app/services/csv_migration/legislation.rb
  app/services/seed/cclow_data.rb
  db/seeds/laws_migration/events.csv
  db/seeds/laws_migration/legislation-sources.csv
  db/seeds/laws_migration/legislation.csv
  db/seeds/laws_migration/litigation-sources.csv
  db/seeds/laws_migration/litigations.csv
  db/seeds/laws_migration/targets_data_latest.csv
  lib/tasks/reimport.rake
Due: bundle exec rubocop

Don't crash if no description
  app/views/cclow/pages/show.html.erb
Due: none

Don't crash if no description
  app/decorators/page_decorator.rb
Due: bundle exec rubocop
