Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

bug fix
  app/admin/companies.rb
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

remove extra changes
  db/schema.rb
Due: bundle exec rubocop

Removed discardable controller as these are properly deletable.
  app/admin/news_article.rb
  app/admin/publication.rb
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/controllers/admin/publications_controller_spec.rb
Due: bundle exec rubocop

Don't show future publications and articles
  app/services/queries/tpi/news_publications_query.rb
Due: bundle exec rubocop

Add filtering by side a|b|c party type to litigations page
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/services/queries/cclow/litigation_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Rename Side A|B|C filter labels to Side A|B|C name
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

reposition filters
  app/javascript/components/pages/cclow/LitigationCases.js
Due: eslint --ext .js --ext .jsx

fix hero unit for desktop and mobile
  app/assets/images/homepage/homepage_pattern.svg
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/views/tpi/home/index.html.erb
  config/routes.rb
Due: bundle exec rubocop

expose rails server to internal network
  package.json
Due: none

small balls height fix
  app/assets/stylesheets/tpi/_hero.scss
Due: none

Adds validation for publication date on news articles and ignores if its nil, so it doesn't crash
  app/controllers/tpi/home_controller.rb
  app/models/news_article.rb
  app/services/queries/tpi/news_publications_query.rb
  spec/controllers/tpi/home_controller_spec.rb
Due: bundle exec rubocop

update brakeman.ignore
  config/brakeman.ignore
Due: none

show only active companies on the pie chart
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/sectors/index.html.erb
Due: bundle exec rubocop

code refactor
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: bundle exec rubocop

move cp all sectors chart to js
  app/assets/stylesheets/tpi/_charts.scss
  app/helpers/chart_helper.rb
  app/javascript/components/charts/CPPerformanceAllSectors.js
  app/javascript/packs/cclow.js
  app/javascript/packs/tpi.js
  app/views/tpi/sectors/index.html.erb
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

added percentage of global total emissions
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_percent_2016.csv
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_percent_2016.jsonld
  map_data/emissions_total_fossil_fuels_and_cement_including LUCF_in_percent_2016.yml
Due: none

apply custom font to chart svg, sort cp performance chart by sector name
  app/assets/stylesheets/tpi/_charts.scss
  app/services/api/charts/cp_performance.rb
  spec/services/api/charts/cp_performance_spec.rb
Due: bundle exec rubocop

add static cluster list, update specs to expect sorted data
  app/models/tpi_sector.rb
  app/services/api/charts/cp_performance.rb
  spec/services/api/charts/cp_performance_spec.rb
Due: bundle exec rubocop

uhh, svg elements madness
  app/javascript/components/charts/CPPerformanceAllSectors.js
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx

make line of 1px width
  app/javascript/components/charts/CPPerformanceAllSectors.js
Due: eslint --ext .js --ext .jsx

add tpi sector cluster model
  app/admin/news_article.rb
  app/admin/page.rb
  app/admin/publication.rb
  app/admin/testimonials.rb
  app/admin/tpi_sector_clusters.rb
  app/admin/tpi_sectors.rb
  app/controllers/tpi/sectors_controller.rb
  app/decorators/tpi_sector_cluster_decorator.rb
  app/javascript/components/charts/CPPerformanceAllSectors.js
  app/models/ability.rb
  app/models/tpi_sector.rb
  app/models/tpi_sector_cluster.rb
  app/services/api/charts/cp_performance.rb
  app/services/seed/tpi_data.rb
  app/views/admin/tpi_sectors/_form.html.erb
  app/views/tpi/sectors/index.html.erb
  db/migrate/20200131074036_create_tpi_sector_clusters.rb
  db/schema.rb
  lib/tasks/reimport.rake
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

cp performance chart: label links, remove column border width
  app/decorators/tpi/cp_performance_sector_decorator.rb
  app/javascript/components/charts/CPPerformanceAllSectors.js
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

cp performance chart: extend below line
  app/javascript/components/charts/CPPerformanceAllSectors.js
Due: eslint --ext .js --ext .jsx

add condition for ordering of legislations
  app/controllers/cclow/legislation_and_policies_controller.rb
Due: bundle exec rubocop

add more specs
  spec/controllers/admin/tpi_sector_clusters_controller_spec.rb
  spec/controllers/admin/tpi_sectors_controller_spec.rb
  spec/factories/tpi_sector_cluster.rb
  spec/services/api/charts/cp_performance_spec.rb
Due: bundle exec rubocop

fix error with array to array comparison of nil value
  app/javascript/components/charts/CPPerformanceAllSectors.js
  app/services/api/charts/cp_performance.rb
  spec/services/api/charts/cp_performance_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

notify of successful rake task
  lib/tasks/reimport.rake
Due: none

use sector slugs
  app/decorators/tpi/cp_performance_sector_decorator.rb
Due: bundle exec rubocop

Use CSS variable to set fixed navbar height
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_fixed-navbar.scss
  app/assets/stylesheets/cclow/layout.scss
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_fixed-navbar.scss
Due: none

fix filter by tag
  app/controllers/concerns/cclow/filter_controller.rb
Due: bundle exec rubocop

After log out redirect to root & add helper fixed_navbar method
  app/admin/override.rb
  app/controllers/cclow/cclow_controller.rb
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/geographies_controller.rb
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/controllers/cclow/home_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/cclow/pages_controller.rb
  app/controllers/concerns/cclow/geography_controller.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/home_controller.rb
  app/controllers/tpi/pages_controller.rb
  app/controllers/tpi/publications_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/controllers/tpi/tpi_controller.rb
Due: bundle exec rubocop

fix legislative process design
  app/assets/stylesheets/cclow/_geography-page.scss
  app/decorators/cclow/geography_overview_decorator.rb
  app/views/cclow/geographies/show.html.erb
Due: bundle exec rubocop

Move the logout redirection code to active_admin initializer
  app/admin/override.rb
  config/initializers/active_admin.rb
Due: bundle exec rubocop

Force name of the column to be correct
  app/admin/cp_assessments.rb
  app/admin/mq_assessments.rb
Due: bundle exec rubocop

avoid crashing download if no assessment
  app/services/csv_export/user/company_latest_assessments.rb
Due: bundle exec rubocop

Fail safe
  app/decorators/target_decorator.rb
Due: bundle exec rubocop

Correct path to NewsArticle admin panel
  app/controllers/tpi/publications_controller.rb
Due: bundle exec rubocop

Updates title for newsarticles and publications
  app/controllers/tpi/publications_controller.rb
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
