Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

Countries emissions chart fixes
  app/javascript/components/tpi/charts/ascor-emissions/options.js
Due: eslint --ext .js --ext .jsx

Update green buttons
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/charts/ascor-emissions/CountrySelector.js
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Due: eslint --ext .js --ext .jsx

fix ascor.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
Due: none

feat: Possibility to show/hide ASCOR pillar assessments
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_assessment.html.erb
  spec/system/public/tpi/ascor_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

feat: Show box with ASCOR country details
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/_country_details.html.erb
  app/views/tpi/ascor/show.html.erb
  spec/system/public/tpi/ascor_spec.rb
Due: bundle exec rubocop

Fix title position
  app/assets/stylesheets/tpi/_bubble-chart-countries.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
Due: eslint --ext .js --ext .jsx

Add country benchmarks chart
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_ascor-benchmarks.scss
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
  app/javascript/components/tpi/charts/ascor-benchmarks/index.js
  app/javascript/components/tpi/charts/ascor-benchmarks/options.js
  app/views/tpi/ascor/_benchmarks_chart.html.erb
Due: eslint --ext .js --ext .jsx

feat: Wrapping ASCOR benchmarks chart at metric styles
  app/assets/stylesheets/tpi/_ascor-benchmarks.scss
  app/views/tpi/ascor/_assessment.html.erb
Due: none

refactoring: Readjusting country emissions pathway description
  app/views/tpi/ascor/index.html.erb
Due: none

refactoring: Update ASCOR methodology image size
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/index.html.erb
Due: none

refactoring: Renaming Renewable Opportunities to Renewable Energy Opportunities
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  db/seeds/tpi/ascor_assessment_indicators.csv
Due: eslint --ext .js --ext .jsx

fix: Typo in Exempt ASCOR category
  app/assets/images/tpi/ascor/exempt.svg
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/helpers/ascor_helper.rb
  app/javascript/components/tpi/AscorQuestionLegend.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

refactoring: Remove pillar show/hide areas option
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_assessment.html.erb
Due: eslint --ext .js --ext .jsx

refactoring: Reposition items inside ASCOR country box
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/_country_details.html.erb
Due: none

refactoring: Minor styles refactoring of ASCOR pages
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_country_details.html.erb
Due: eslint --ext .js --ext .jsx

test: Fixing ASCOR system tests
  spec/system/public/tpi/ascor_spec.rb
Due: bundle exec rubocop

refactoring: Updating allowed values for ASCOR countries attributes
  app/models/ascor/country.rb
  db/seeds/tpi/ascor_countries.csv
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_countries.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_countries_csv.json
  spec/support/fixtures/files/ascor_countries.csv
  spec/system/public/tpi/ascor_spec.rb
Due: bundle exec rubocop

refactoring: Renaming ASCOR item at dropdown menu
  app/views/layouts/tpi/_header.html.erb
Due: none

fix: Remove Bank reference from ASCOR dropdown
  app/javascript/components/tpi/AscorDropdown.js
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Due: eslint --ext .js --ext .jsx

fix: ASCOR pathways importer so No data text is respected
  app/models/ascor/pathway.rb
  app/services/csv_import/ascor_pathways.rb
  app/services/csv_import/helpers/emissions.rb
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_pathways.rb
  spec/support/fixtures/files/ascor_pathways.csv
Due: bundle exec rubocop

refactoring: ASCOR benchmark chart Y axis always starts at 0
  app/javascript/components/tpi/AscorRecentEmissions.js
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
  app/services/api/ascor/benchmarks_chart.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

refactoring: ASCOR publications are selected based on tags and not sector
  app/controllers/tpi/ascor_controller.rb
  db/migrate/20231207082211_remove_ascor_sector.rb
  db/structure.sql
  db/test-dump.psql
  spec/system/public/tpi/ascor_spec.rb
Due: bundle exec rubocop

refactoring: Removing quartile from tooltip at ASCOR bubble graph
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
Due: eslint --ext .js --ext .jsx

fix: Show max 3 publications on ASCOR index page
  app/controllers/tpi/ascor_controller.rb
Due: bundle exec rubocop

fix: Minor bug fixes of ASCOR pathway chart
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
Due: eslint --ext .js --ext .jsx

fix: Trix image attachments
  Gemfile.lock
  app/assets/stylesheets/admin/trix.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/decorators/news_article_decorator.rb
  app/inputs/trix_input.rb
  app/javascript/packs/admin.js
  bin/yarn
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

chore: Update of obsolete libraries
  Gemfile
  Gemfile.lock
  app/models/application_record.rb
Due: bundle exec rubocop

feat: Adding short description attribute to News
  app/admin/news_article.rb
  app/models/news_article.rb
  app/views/tpi/publications/_list.html.erb
  db/migrate/20240119084250_add_short_description_to_news_articles.rb
  db/structure.sql
  db/test-dump.psql
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/factories/news_articles.rb
Due: bundle exec rubocop

update of test dump file
  db/test-dump.psql
Due: none

update of test dump file II
  db/test-dump.psql
Due: none

test: Update of test db dump III.
  db/structure.sql
  db/test-dump.psql
Due: none

test: Updating version of postgres at github workflow
  .github/workflows/tests.yml
Due: none

test: Creating db dump with correct version of db_dump
  .github/workflows/tests.yml
  db/test-dump.psql
Due: none

feat: Adding cp_alignment_2027 to company cp assessments
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/models/company.rb
  app/models/cp/assessment.rb
  app/models/news_article.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/tpi/companies/show.html.erb
  db/migrate/20240202090401_add_cp_alignment2027_to_cp_assessments.rb
  db/seeds/tpi/company-cp-assessments.csv
  db/structure.sql
  db/test-dump.psql
  public/tpi/export_support/User guide TPI files.xlsx
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/factories/news_articles.rb
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_all_sectors_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_beta_5.0_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_company_latest_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_csv.json
  spec/fixtures/snapshots/tpi_single_sector_user_download_cp_assessments_regional_csv.json
  spec/models/cp/assessment_spec.rb
  spec/models/news_article_spec.rb
  spec/support/fixtures/files/company_cp_assessments.csv
Due: bundle exec rubocop

refactoring: Updating TPI files guide
  public/tpi/export_support/User guide TPI files.xlsx
Due: none

chore: update nokogiri
  Gemfile.lock
Due: none

feat: Adding visibility status to ASCOR countries
  app/admin/ascor/countries.rb
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/assessment_result.rb
  app/models/ascor/country.rb
  app/services/api/ascor/bubble_chart.rb
  app/services/api/ascor/emissions_chart.rb
  app/services/csv_export/ascor/assessments.rb
  app/services/csv_export/ascor/benchmarks.rb
  app/services/csv_export/ascor/countries.rb
  app/services/csv_export/ascor/pathways.rb
  app/services/csv_import/ascor_countries.rb
  app/views/tpi/ascor/_emissions_chart.html.erb
  db/migrate/20240206094238_add_visibility_status_to_ascor_countries.rb
  db/seeds/tpi/ascor_countries.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/factories/ascor_countries.rb
  spec/services/api/ascor/benchmarks_chart_spec.rb
  spec/services/api/ascor/bubble_chart_spec.rb
  spec/services/api/ascor/emissions_chart_spec.rb
  spec/services/api/ascor/recent_emissions_spec.rb
  spec/support/fixtures/files/ascor_countries.csv
Due: bundle exec rubocop

feat: Adding visibility status attribute to ASCOR countries admin csv
  app/admin/ascor/countries.rb
Due: bundle exec rubocop

refactoring: Removing inclusion validation on region for ASCOR country
  app/admin/ascor/countries.rb
  app/models/ascor/country.rb
  spec/models/ascor/countries_spec.rb
Due: bundle exec rubocop

test: changing id of draft ascor countries
  spec/services/api/ascor/benchmarks_chart_spec.rb
  spec/services/api/ascor/bubble_chart_spec.rb
  spec/services/api/ascor/emissions_chart_spec.rb
  spec/services/api/ascor/recent_emissions_spec.rb
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
