Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

moar improvement for laws dropdown, typing state
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/javascript/components/LawsDropdown.js
  app/javascript/shared/hooks/use-debounce.js
Due: eslint --ext .js --ext .jsx

revise full text search options for models
  app/models/legislation.rb
  app/models/target.rb
  spec/factories/tags.rb
  spec/models/legislation_spec.rb
  spec/models/litigation_spec.rb
  spec/models/target_spec.rb
Due: bundle exec rubocop

tweak country fuzzy searching
  spec/models/geography_spec.rb
Due: bundle exec rubocop

increase search debounce
  app/javascript/components/LawsDropdown.js
Due: eslint --ext .js --ext .jsx

create a single tooltip for the Bubble Chart
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/BubbleChart.js
  app/javascript/components/SingleBubbleChart.js
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

code fix
  app/javascript/components/BubbleChart.js
Due: eslint --ext .js --ext .jsx

fix rubocop
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

code fix
  app/controllers/cclow/litigation_cases_controller.rb
Due: bundle exec rubocop

move cp performance all sectors chart to use only highcharts react
  app/assets/stylesheets/tpi/charts/cp-all-sectors.scss
  app/javascript/components/charts/cp-performance-all-sectors/CPPerformanceAllSectors.js
  app/javascript/components/charts/cp-performance-all-sectors/options.js
  app/javascript/components/charts/default-options.js
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx

add specs for testing the order
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/factories/events.rb
Due: bundle exec rubocop

fix specs
  spec/controllers/cclow/climate_targets_controller_spec.rb
Due: bundle exec rubocop

initial version of labeling area on the cp sector chart
  app/javascript/components/charts/cp-performance/helpers.js
  app/javascript/components/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

nested dropdown initial
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/NestedDropdown.js
  app/models/cp/assessment.rb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

more changes to nested dropdown
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/NestedDropdown.js
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/NestedDropdown.js
Due: eslint --ext .js --ext .jsx

renaming chart file names
  app/javascript/components/charts/cp-performance-all-sectors/Chart.js
  app/javascript/components/charts/cp-performance-all-sectors/index.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/javascript/components/charts/cp-performance/index.js
Due: eslint --ext .js --ext .jsx

move portal out of nested dropdown
  app/javascript/components/NestedDropdown.js
  app/javascript/components/charts/cp-performance/Chart.js
Due: eslint --ext .js --ext .jsx

add nested dropdown label and close on select
  app/assets/stylesheets/tpi/pages/sector.scss
  app/javascript/components/NestedDropdown.js
  app/javascript/components/charts/cp-performance/Chart.js
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx

filtering top 10 by selected show by
  app/javascript/components/charts/cp-performance/Chart.js
  app/services/api/charts/sector.rb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

populate nested dropdown from the options we have from the backend
  app/javascript/components/charts/cp-performance/Chart.js
  app/models/cp/assessment.rb
  app/services/api/charts/sector.rb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

make the benchmark labels not overlap each other
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/helpers.js
Due: eslint --ext .js --ext .jsx

standardize number of decimal places
  app/helpers/chart_helper.rb
  app/javascript/components/charts/cp-performance/Tooltip.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

open nested list on left when no place on the right
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/javascript/components/NestedDropdown.js
Due: eslint --ext .js --ext .jsx

chart tooltip sort by value
  app/javascript/components/charts/cp-performance/Tooltip.js
Due: eslint --ext .js --ext .jsx

fix sorting by last emission
  app/javascript/components/charts/cp-performance/Chart.js
Due: eslint --ext .js --ext .jsx

fix showing up targeted values
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

fix rendering chart on company page
  app/javascript/components/charts/cp-performance/Chart.js
Due: eslint --ext .js --ext .jsx

show only market cap groups that we have data for
  app/javascript/components/charts/cp-performance/Chart.js
Due: eslint --ext .js --ext .jsx

add filter by sector for litigation
  app/controllers/cclow/litigation_cases_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/models/laws_sector.rb
  app/services/queries/cclow/litigation_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

position area labels in better way
  app/javascript/components/charts/cp-performance/helpers.js
Due: eslint --ext .js --ext .jsx

add filter by sector for legislation
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/concerns/cclow/filter_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/services/queries/cclow/legislation_query.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

replaces includes with joins as we dont need eager loading
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
Due: bundle exec rubocop

Dynamic year
  app/views/layouts/tpi/_footer.html.erb
Due: none

fix ambiguous id error
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
Due: bundle exec rubocop

remove rails warning about dangerous sql
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
Due: bundle exec rubocop

add more tests for litigations query
  spec/factories/events.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Due: bundle exec rubocop

add more tests, fixing order by last event
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Due: bundle exec rubocop

add eventable concern, more tets
  app/models/concerns/eventable.rb
  app/models/geography.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Due: bundle exec rubocop

some success with changing the queries to use distinct
  app/models/concerns/taggable.rb
  app/services/queries/cclow/litigation_query.rb
  spec/services/queries/cclow/litigation_query_spec.rb
Due: bundle exec rubocop

more tests, refactor query objects
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/services/queries/cclow/common_filters.rb
  app/services/queries/cclow/legislation_query.rb
  app/services/queries/cclow/litigation_query.rb
  app/services/queries/cclow/target_query.rb
  spec/factories/companies.rb
  spec/factories/geographies.rb
  spec/factories/laws_sectors.rb
  spec/factories/legislations.rb
  spec/factories/litigation_sides.rb
  spec/factories/litigations.rb
  spec/factories/tags.rb
  spec/factories/tpi_sectors.rb
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
Due: bundle exec rubocop

fixing travis
  .travis.yml
Due: none
