Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

change routes for climate targets
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/javascript/components/pages/cclow/ClimateTargets.js
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
  app/javascript/components/pages/cclow/LitigationCases.js
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/layouts/cclow/geography.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add is active field to company
  app/admin/companies.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/views/tpi/search/index.html.erb
  db/migrate/20191221151801_add_is_active_to_company.rb
  db/schema.rb
Due: bundle exec rubocop

Upgrade octokit to remove warning from Faraday on server startup
  Gemfile
  Gemfile.lock
Due: none

use cp assessment publication date to select benchmark instead of assessment date
  app/models/company.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  spec/models/company_spec.rb
Due: bundle exec rubocop

Move geography specific methods to geography model
  app/assets/stylesheets/cclow/_geography-page.scss
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/models/geography.rb
  app/views/cclow/geography/climate_targets/index.html.erb
Due: bundle exec rubocop

Fix typo and add correct breadcrumbs to climate targets sectors
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/models/geography.rb
Due: bundle exec rubocop

Underline only the links of sectors with targets
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geography/climate_targets/index.html.erb
Due: none

Fix NDC targets - query the EUR iso instead of counting targets per each eu country as these targets are duplicated
  app/controllers/cclow/geography/climate_targets_controller.rb
  app/models/geography.rb
Due: bundle exec rubocop

quick fix to duplicate laws
  app/views/cclow/geography/legislations/index.html.erb
Due: none

Sector should exist, but adding a failsafe because some data is not clean
  app/models/geography.rb
Due: bundle exec rubocop

Small design fixes
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geography/legislations/_climate_targets.html.erb
  app/views/cclow/geography/legislations/show.html.erb
Due: none

Fix after rebase
  app/assets/stylesheets/cclow/_geography-page.scss
Due: none

update tagline
  app/views/cclow/home/_hero.html.erb
Due: none

Adds links on title for laws and litigation cases. not sure if the icon should link too
  app/assets/stylesheets/cclow/_hero.scss
  app/views/cclow/home/_hero.html.erb
Due: none

Standardize the titles
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Adjusts litigation cases results to include last development event
  app/decorators/cclow/litigation_decorator.rb
  app/javascript/components/pages/cclow/LitigationCases.js
  app/models/litigation.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Show last change event for laws and policies with date
  app/decorators/cclow/legislation_decorator.rb
  app/decorators/cclow/litigation_decorator.rb
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Change section title based on params scope
  app/views/cclow/geography/legislations/index.html.erb
Due: none

Adds missing heading
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: none

Show responses on sidebar. Remove topline for litigations show page
  app/controllers/cclow/geography/legislations_controller.rb
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/_details_card.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: bundle exec rubocop

Move NDC block to under the map
  app/views/cclow/geographies/show.html.erb
Due: none

Fix check for events to show timeline
  app/views/cclow/geographies/show.html.erb
Due: none

Updates footer links
  app/views/layouts/cclow/_footer.html.erb
Due: none

Update geography's legislation index page displays
  app/controllers/cclow/geography/legislations_controller.rb
  app/decorators/cclow/legislation_decorator.rb
  app/models/legislation.rb
  app/views/cclow/geography/legislations/_list_item.html.erb
  app/views/cclow/geography/legislations/index.html.erb
Due: bundle exec rubocop

Updates display for geography's litigations index
  app/controllers/cclow/geography/litigation_cases_controller.rb
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
Due: bundle exec rubocop

Wrap item in span for css to apply to it
  app/views/cclow/geography/litigation_cases/_list_item.html.erb
Due: none

Disable infinite feature of the carousel
  app/assets/stylesheets/cclow/_latest-additions-slider.scss
  app/javascript/shared/controllers/slider_controller.js
Due: eslint --ext .js --ext .jsx

renames all_events
  app/models/geography.rb
  app/views/cclow/geographies/show.html.erb
Due: bundle exec rubocop

Add dotted timeline to a single point event
  app/assets/stylesheets/cclow/_events_timeline.scss
  app/javascript/components/EventsTimeline.js
Due: eslint --ext .js --ext .jsx

fix exporting litigations
  app/admin/litigations.rb
Due: bundle exec rubocop

Remove the margin-left of timeline for better alignment
  app/assets/stylesheets/cclow/_events_timeline.scss
Due: none

Improve display of timeline where there are multiple events
  app/assets/stylesheets/cclow/_events_timeline.scss
Due: none

Use & with modifier classes and nesting
  app/assets/stylesheets/cclow/_events_timeline.scss
Due: none

fix(tpi): fix active navbar highlight
  app/javascript/components/Navbar.js
  app/views/layouts/_header.html.erb
Due: eslint --ext .js --ext .jsx

add some missing proptypes and keys and other fixes for js troubles
  app/javascript/components/BaseTooltip.js
  app/javascript/components/BubbleChart.js
  app/javascript/components/DropdownSelector.js
  app/javascript/components/SingleBubbleChart.js
Due: eslint --ext .js --ext .jsx

reworked how to highlight the given menu item
  app/javascript/components/Navbar.js
  app/views/layouts/tpi.html.erb
  app/views/layouts/tpi/_banner.html.erb
  app/views/layouts/tpi/_footer.html.erb
  app/views/layouts/tpi/_header.html.erb
  app/views/layouts/tpi/_subscribe.html.erb
Due: eslint --ext .js --ext .jsx

Reworked the whole thing to highlight properly using a rails helper
  app/helpers/application_helper.rb
  app/javascript/components/Navbar.js
  app/views/layouts/tpi/_header.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Nest css
  app/assets/stylesheets/cclow/_events_timeline.scss
Due: none

Remove duplicate class
  app/assets/stylesheets/cclow/_events_timeline.scss
Due: none

Fix litigation-sides importer - overriding records issue
  app/services/csv_import/litigation_sides.rb
Due: bundle exec rubocop
