Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

fix bank header for mobile devices
  app/assets/stylesheets/tpi/pages/bank.scss
Due: none

remove not used tooltips
  app/assets/stylesheets/tpi/pages/bank.scss
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/views/tpi/banks/_indicators.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  config/locales/en.yml
Due: eslint --ext .js --ext .jsx

remove semicolon
  app/views/tpi/banks/index.html.erb
Due: none

Banking tool user data download
  app/controllers/tpi/banks_controller.rb
  app/models/bank_assessment_result.rb
  app/services/csv_export/user/bank_assessment_indicators.rb
  app/services/csv_export/user/bank_assessments.rb
  spec/controllers/tpi/banks_controller_spec.rb
  spec/factories/bank_assessment_result.rb
  spec/factories/banks.rb
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_bank_assessments_csv.json
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_indicators_csv.json
Due: bundle exec rubocop

add couple missing specs, restrict answers for bank assessment results
  app/models/bank_assessment_result.rb
  spec/factories/bank_assessment_result.rb
  spec/factories/bank_assessment_results.rb
  spec/factories/bank_assessments.rb
  spec/models/bank_assessment_indicator_spec.rb
  spec/models/bank_assessment_result_spec.rb
Due: bundle exec rubocop

change legend placement a little bit
  app/assets/stylesheets/tpi/banking-question-legend.scss
Due: none

average bank score bar label show insignificant zeros
  app/javascript/components/tpi/charts/average-bank-score/options.js
Due: eslint --ext .js --ext .jsx

fix order of banks in dropdown
  app/controllers/tpi/banks_controller.rb
Due: bundle exec rubocop

addressing more feedback
  app/controllers/tpi/banks_controller.rb
  app/services/csv_export/user/bank_assessments.rb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  spec/controllers/tpi/banks_controller_spec.rb
Due: bundle exec rubocop

fix legend placement
  app/assets/stylesheets/tpi/banking-question-legend.scss
Due: none

update banks page description
  app/views/tpi/banks/index.html.erb
Due: none

tpi home: changing header
  app/assets/images/partners/partner_01/Bitmap-1.png
  app/assets/images/partners/partner_02/Bitmap-2.png
  app/assets/images/partners/partner_03/Bitmap-3.png
  app/assets/images/partners/partner_04/Bitmap-4.png
  app/assets/images/tpi/partners/ftse-russell.png
  app/assets/images/tpi/partners/grantham.png
  app/assets/images/tpi/partners/lse.png
  app/assets/images/tpi/partners/pri.png
  app/assets/stylesheets/tpi/_banner.scss
  app/views/layouts/tpi/_banner.html.erb
Due: none

tpi home: hero
  app/assets/images/homepage/bitmap@3x.jpg
  app/assets/images/homepage/homepage-bg.jpg
  app/assets/images/homepage/homepage-bg@2x.jpg
  app/assets/images/homepage/homepage-bg@3x.jpg
  app/assets/images/homepage/homepage-dot-pattern.png
  app/assets/images/homepage/homepage_pattern.svg
  app/assets/images/tpi/home/hero-background.png
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/views/tpi/home/index.html.erb
Due: none

tpi home: check out centre online tool
  app/assets/images/tpi/home/bank.svg
  app/assets/images/tpi/home/bond.svg
  app/assets/images/tpi/home/countries.svg
  app/assets/images/tpi/home/office-building.svg
  app/assets/images/tpi/icons/plus-darker.svg
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

tpi home: stats and news
  app/assets/images/tpi/home/companies.svg
  app/assets/images/tpi/home/construction.svg
  app/assets/images/tpi/home/electric-factory.svg
  app/assets/images/tpi/home/events.svg
  app/assets/images/tpi/home/location.svg
  app/assets/images/tpi/home/market-cap.svg
  app/assets/images/tpi/home/money-bag.svg
  app/assets/images/tpi/home/news.svg
  app/assets/images/tpi/home/sectors.svg
  app/assets/images/tpi/home/support.svg
  app/assets/images/tpi/home/transportation.svg
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

tpi home: more sections
  app/assets/images/hero_background.svg
  app/assets/images/hero_background_dark.svg
  app/assets/images/homepage/bitmap.jpg
  app/assets/images/homepage/bitmap@2x.jpg
  app/assets/images/quote.svg
  app/assets/images/tpi/funders/ciff.png
  app/assets/images/tpi/funders/ftse-russell.png
  app/assets/images/tpi/funders/lseg.png
  app/assets/images/tpi/funders/tpi.png
  app/assets/images/tpi/home/temp-research-author.png
  app/assets/images/tpi/home/temp-research-image.png
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_helpers.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/javascript/components/tpi/Testimonials.js
  app/views/layouts/tpi/_footer.html.erb
  app/views/tpi/home/_testimonials.html.erb
  app/views/tpi/home/index.html.erb
Due: eslint --ext .js --ext .jsx

first version of case studies slider
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/controllers/tpi/home_controller.rb
  app/javascript/packs/tpi.js
  app/views/tpi/home/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

home page: add links, style list
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

tpi home: mobile css
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

tpi home: remove partners
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/_partners.html.erb
Due: bundle exec rubocop

tpi home: add couple dynamic values
  app/controllers/tpi/home_controller.rb
  app/models/tpi_sector_cluster.rb
  app/views/tpi/home/_sector_cluster_stat.html.erb
  app/views/tpi/home/index.html.erb
Due: bundle exec rubocop

add code to page contents, improve home page
  app/admin/page.rb
  app/controllers/tpi/home_controller.rb
  app/models/content.rb
  app/models/page.rb
  app/models/tpi_page.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/tpi/home/index.html.erb
  config/routes.rb
  db/migrate/20220822094300_add_code_to_contents.rb
  db/structure.sql
  lib/tasks/onetime.rake
  spec/factories/contents.rb
  spec/models/content_spec.rb
Due: bundle exec rubocop

add case studies, and remove testimonials
  app/admin/case_studies.rb
  app/admin/testimonials.rb
  app/assets/stylesheets/admin/models/testimonials.scss
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_testimonials.scss
  app/controllers/tpi/home_controller.rb
  app/decorators/case_study_decorator.rb
  app/decorators/testimonial_decorator.rb
  app/models/ability.rb
  app/models/case_study.rb
  app/models/testimonial.rb
  app/views/tpi/home/index.html.erb
  db/migrate/20220822102328_create_case_studies.rb
  db/migrate/20220822103454_drop_testimonials.rb
  db/structure.sql
  spec/controllers/admin/case_studies_controller_spec.rb
  spec/controllers/admin/testimonials_controller_spec.rb
  spec/factories/case_studies.rb
  spec/factories/testimonials.rb
  spec/models/case_study_spec.rb
  spec/models/testimonial_spec.rb
Due: bundle exec rubocop

example case studies, apply new styles for case studies
  app/admin/case_studies.rb
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/decorators/case_study_decorator.rb
  app/models/case_study.rb
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
  lib/tasks/support/brunel.png
  lib/tasks/support/church_of_england.png
  lib/tasks/support/robeco.png
Due: bundle exec rubocop

nested dropdown, changes in menu
  app/assets/images/icons/white-chevron-down.svg
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
  app/views/layouts/tpi/_header.html.erb
  lib/tasks/onetime.rake
Due: eslint --ext .js --ext .jsx

fix specs
  app/admin/page.rb
  app/controllers/tpi/home_controller.rb
  app/models/page.rb
  app/models/tpi_page.rb
  app/views/tpi/home/_sector_cluster_stat.html.erb
  db/test-dump.psql
  spec/controllers/tpi/home_controller_spec.rb
  spec/factories/case_studies.rb
  spec/support/fixtures/files/test.png
  spec/support/test_files.rb
  spec/system/public/tpi/home_spec.rb
Due: bundle exec rubocop

fix news publication filters to use query params
  app/javascript/components/tpi/Filters.js
  app/javascript/shared/hooks/index.js
  app/javascript/shared/hooks/use-query-param.js
Due: eslint --ext .js --ext .jsx

more improvements to publications page
  app/javascript/components/tpi/Filters.js
Due: eslint --ext .js --ext .jsx

small fixes to navbar item heights
  app/assets/stylesheets/tpi/_navbar.scss
Due: none

update footer styles
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/layouts/tpi/_footer.html.erb
Due: none

move faq to top menu
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
  app/views/layouts/tpi/_header.html.erb
  lib/tasks/onetime.rake
Due: eslint --ext .js --ext .jsx

more fixes to navbar
  app/assets/stylesheets/tpi/_navbar.scss
  app/javascript/components/tpi/Navbar.js
Due: eslint --ext .js --ext .jsx

move hero scss to home scss
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_hero.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Due: none

fix problem with bulma sizes
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_footer.scss
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/_newsletter.scss
  app/assets/stylesheets/tpi/_pages.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/_sizes.scss
  app/assets/stylesheets/tpi/_typography.scss
  app/assets/stylesheets/tpi/pages/sector.scss
Due: none

moar css changes for the home page mobile design
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

tpi home slider
  app/assets/stylesheets/tpi/pages/home.scss
  app/javascript/shared/controllers/tpi_home_slider_controller.js
  app/views/tpi/home/index.html.erb
Due: eslint --ext .js --ext .jsx

hover states
  app/assets/images/tpi/icons/plus-white.svg
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

more css changes
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

make case study link not required
  app/admin/case_studies.rb
  app/assets/stylesheets/tpi/pages/home.scss
  app/decorators/case_study_decorator.rb
  app/models/case_study.rb
  app/views/tpi/home/index.html.erb
  db/migrate/20220822102328_create_case_studies.rb
  db/structure.sql
Due: bundle exec rubocop

use tags from query even if those do not exist or have no results
  app/javascript/components/tpi/Filters.js
Due: eslint --ext .js --ext .jsx

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
