Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

Hide mq downlaod button
  app/controllers/tpi/sectors_controller.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: bundle exec rubocop

Revert "Hide mq downlaod button"
  app/controllers/tpi/sectors_controller.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: bundle exec rubocop

Update guide link
  app/controllers/concerns/tpi/user_download.rb
  public/tpi/export_support/User guide - TPI Management Quality.xlsx
Due: bundle exec rubocop

Fix MQ graph for v5
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/api/presenters/company.rb
Due: bundle exec rubocop

Industry vizz changes
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/controllers/tpi/industries_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DropdownSelector.js
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/industries/show.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Changes in industry visualization
  app/admin/companies.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/industries_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/models/company.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_cp_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/views/admin/data_uploads/instruction/_companies.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/industries/show.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
  spec/models/company_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add MQ notes
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/_mq_assessment.html.erb
Due: none

ASCOR changes and Banking changes
  app/admin/ascor/assessment_indicators.rb
  app/admin/ascor/assessments.rb
  app/assets/stylesheets/tpi/_ascor-benchmarks.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/controllers/tpi/home_controller.rb
  app/helpers/ascor_helper.rb
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
  app/models/ascor/assessment_indicator.rb
  app/models/bank.rb
  app/services/api/ascor/bubble_chart.rb
  app/services/csv_export/ascor/assessment_indicators.rb
  app/services/csv_export/ascor/assessments.rb
  app/services/csv_import/ascor_assessment_indicators.rb
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_notes.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/ascor/show_assessment.js.erb
  db/migrate/20260129093719_add_assessment_date_to_ascor_assessment_indicators.rb
  db/structure.sql
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Show state of always first: banking
  app/controllers/tpi/banks_controller.rb
Due: bundle exec rubocop

Dynamic assessment dates
  app/models/ascor/assessment_indicator.rb
  app/services/api/ascor/bubble_chart.rb
Due: bundle exec rubocop

ASCOR change
  app/javascript/components/tpi/charts/ascor-benchmarks/Chart.js
Due: eslint --ext .js --ext .jsx

Fix label
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Q1 MQ download changes
  app/admin/companies.rb
  app/assets/stylesheets/tpi/charts/mq-sector-pie-chart.scss
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/industries_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/javascript/components/tpi/charts/mq-sector-pie/Chart.js
  app/mailers/mq_download_mailer.rb
  app/models/mq/assessment.rb
  app/services/csv_import/companies.rb
  app/views/admin/data_uploads/instruction/_companies.html.erb
  app/views/mq_download_mailer/authorisation_required_email.html.erb
  app/views/mq_download_mailer/exempted_use_email.html.erb
  app/views/mq_download_mailer/info_email.html.erb
  app/views/mq_download_mailer/lseg_notification_email.html.erb
  app/views/mq_download_mailer/permitted_use_email.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/industries/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  config/locales/en.yml
  config/routes.rb
  db/migrate/20260209120000_add_mq_focus_company_to_companies.rb
  db/migrate/20260209120001_set_mq_focus_company_for_dec_2025_uploads.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Update upload of companies
  app/admin/companies.rb
  app/services/csv_import/companies.rb
  app/views/admin/data_uploads/instruction/_companies.html.erb
  db/migrate/20260209130000_add_permid_to_companies.rb
Due: bundle exec rubocop

Fix migrations
  db/migrate/20260209120000_add_mq_focus_company_to_companies.rb
  db/migrate/20260209120001_set_mq_focus_company_for_dec_2025_uploads.rb
Due: bundle exec rubocop

Fix file names
  app/controllers/tpi/sectors_controller.rb
  app/mailers/mq_download_mailer.rb
Due: bundle exec rubocop

Fixes to MQ changes
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/controllers/concerns/tpi/user_download.rb
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Batch upload companies support
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/javascript/components/tpi/BaseTooltip.js
  app/services/csv_import/companies.rb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Handle empty group assessment
  app/models/mq/assessment.rb
Due: bundle exec rubocop

Use 2030 short term button
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Fix cp graph
  app/models/company.rb
Due: bundle exec rubocop

MQ changes regarding emails
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/industries_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/mailers/mq_download_mailer.rb
  app/views/mq_download_mailer/asset_owner_use_email.html.erb
  db/migrate/20260211120000_add_composite_index_to_mq_assessments.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Another fix
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
Due: eslint --ext .js --ext .jsx

Fix migration
  db/migrate/20260211120000_add_composite_index_to_mq_assessments.rb
Due: bundle exec rubocop

Improve read query
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

Fix short term button
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
Due: eslint --ext .js --ext .jsx

Fix user download
  app/controllers/concerns/tpi/user_download.rb
Due: bundle exec rubocop

Some other fixes
  app/controllers/concerns/tpi/user_download.rb
  app/javascript/components/tpi/charts/cp-performance-all-sectors/options.js
  app/services/api/charts/sector.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Fix download
  app/models/mq/assessment.rb
  app/services/csv_export/user/mq_assessments.rb
Due: bundle exec rubocop

Fix eager loading
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

Make short term dynamic depending on data available
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/services/api/charts/cp_performance.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Improve performance of multi year graph
  app/admin/ascor/assessments.rb
  app/services/api/ascor/bubble_chart.rb
  app/services/api/charts/cp_performance.rb
  app/services/csv_export/ascor/assessments.rb
  app/views/tpi/ascor/_assessment.html.erb
Due: bundle exec rubocop

Update text under Explore: MQ
  app/views/tpi/sectors/index.html.erb
Due: none

Fix download clickable link
  app/views/tpi/sectors/index.html.erb
Due: none

Update forms and user paths
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/mailers/mq_download_mailer.rb
  app/views/mq_download_mailer/asset_owner_use_email.html.erb
  app/views/mq_download_mailer/exempted_use_email.html.erb
  app/views/mq_download_mailer/non_professional_email_notice.html.erb
  app/views/mq_download_mailer/other_review_email.html.erb
  app/views/mq_download_mailer/permitted_use_email.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

MQ download updates
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/views/mq_download_mailer/asset_owner_use_email.html.erb
  app/views/mq_download_mailer/permitted_use_email.html.erb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

ASCOR: dynamic short term year
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/services/api/charts/cp_performance.rb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

ASCOR: update company cp view
  app/javascript/components/tpi/charts/cp-performance-all-sectors/Chart.js
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_performance.rb
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

ASCOR: show 2030 in admin panel
  app/admin/companies.rb
Due: bundle exec rubocop

Support 2030 upload
  app/services/csv_import/company_cp_assessments.rb
Due: bundle exec rubocop
