Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

CP Changes v3: quick fix
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
Due: bundle exec rubocop

CP Changes: fix missing data message
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/views/tpi/companies/_cp_assessment.html.erb
Due: eslint --ext .js --ext .jsx

CP Changes: fix global graph steel sector
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

CP Changes: more
  app/javascript/components/tpi/charts/cp-performance/Chart.js
Due: eslint --ext .js --ext .jsx

CP ChangeS
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

CP Changes again
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
Due: eslint --ext .js --ext .jsx

CP Changes again
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

CP Changes
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

CP Changes: revert cp style for coal
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/show.html.erb
Due: none

CP Changes 3 review: Invert styles steel vs global
  app/assets/stylesheets/tpi/pages/company.scss
Due: none

CP Changes 3 review: fix rendering of cp graph
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx

Remove climate arc
  app/views/tpi/home/index.html.erb
Due: none

CP Changes: review for steel and coal
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/services/api/charts/cp_assessment.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

CP Changes 3 review: fix sector filtering cp graph
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

CP Update: fixes
  app/controllers/tpi/companies_controller.rb
  app/views/tpi/companies/_assessment_date_dropdown.html.erb
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

Fix chemicals and coal subsector error
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

Fix paper sector graphs
  app/javascript/components/tpi/charts/cp-performance/options.js
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/cp_benchmark_colors.rb
  app/services/api/charts/sector.rb
  spec/services/api/charts/cp_assessment_spec.rb
  spec/services/api/charts/cp_benchmark_colors_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Again color stuff
  app/services/api/charts/cp_benchmark_colors.rb
  spec/services/api/charts/cp_assessment_spec.rb
  spec/services/api/charts/cp_benchmark_colors_spec.rb
Due: bundle exec rubocop

Blue hue for graph
  app/javascript/components/tpi/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx
