Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

link storage dir
  config/deploy.rb
Due: bundle exec rubocop

upgrade rails
  Gemfile.lock
Due: none

rename user guid file
  app/controllers/concerns/tpi/user_download.rb
  public/tpi/export_support/User guide TPI files.xlsx
  spec/controllers/tpi/sectors_controller_spec.rb
Due: bundle exec rubocop

add data guide for tpi downloads
  app/controllers/concerns/tpi/user_download.rb
  public/tpi/export_support/Data_Guide_NH.xlsx
  spec/controllers/tpi/sectors_controller_spec.rb
Due: bundle exec rubocop

update rails dependencies
  Gemfile.lock
Due: none

update frontend and build packages
  babel.config.js
  yarn.lock
Due: eslint --ext .js --ext .jsx

fix linters
  .rubocop.yml
  app/validators/content_type_validator.rb
  lib/tasks/flags.rake
Due: bundle exec rubocop

add banks and bank assessments
  app/models/bank.rb
  app/models/bank_assessment.rb
  db/migrate/20220704085154_create_banks.rb
  db/migrate/20220704092137_create_bank_assessments.rb
  db/structure.sql
Due: bundle exec rubocop

add bank assessment indicators and results
  app/models/bank_assessment.rb
  app/models/bank_assessment_indicator.rb
  app/models/bank_assessment_result.rb
  db/migrate/20220704094334_create_bank_assessment_indicators.rb
  db/migrate/20220704094826_create_bank_assessment_results.rb
  db/structure.sql
Due: bundle exec rubocop

simplify relations
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_result.rb
  db/migrate/20220704085154_create_banks.rb
  db/structure.sql
  spec/factories/bank_assessments.rb
  spec/factories/banks.rb
  spec/models/bank_assessment_spec.rb
  spec/models/bank_spec.rb
Due: bundle exec rubocop

import banks, add admin panel for banks
  app/admin/banks.rb
  app/services/csv_import/banks.rb
  app/services/seed/tpi_data.rb
  db/seeds/tpi/bank_assessments.csv
  db/seeds/tpi/banks.csv
Due: bundle exec rubocop

update db dump for system specs
  db/test-dump.psql
Due: none

fix tests workflow
  .github/workflows/tests.yml
Due: none

import bank assessment indicators
  app/models/bank_assessment_indicator.rb
  app/services/csv_import/bank_assessment_indicators.rb
  app/services/seed/cclow_data.rb
  app/services/seed/tpi_data.rb
  db/seeds/tpi/bank_assessment_indicators.csv
Due: bundle exec rubocop

add bank assessment results importer
  Gemfile
  Gemfile.lock
  app/models/bank_assessment_indicator.rb
  app/models/bank_assessment_result.rb
  app/services/csv_import/bank_assessments.rb
  app/services/seed/tpi_data.rb
  db/seeds/tpi/bank_assessments.csv
Due: bundle exec rubocop

add bank assessments to admin panel
  app/admin/bank_assessments.rb
  app/admin/banks.rb
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/admin/cp_benchmarks.rb
  app/admin/mq_assessments.rb
  app/admin/news_article.rb
  app/admin/page.rb
  app/admin/publication.rb
  app/admin/testimonials.rb
  app/admin/tpi_sector_clusters.rb
  app/admin/tpi_sectors.rb
  app/decorators/bank_assessment_decorator.rb
  app/decorators/bank_decorator.rb
  app/models/bank_assessment_indicator.rb
Due: bundle exec rubocop

add almost empty banking tool index page
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/BankDropdown.js
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

first version of bank show page
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/pages/bank.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/assets/stylesheets/tpi/shared/_property.scss
  app/controllers/tpi/banks_controller.rb
  app/models/bank_assessment.rb
  app/views/tpi/banks/_indicators.html.erb
  app/views/tpi/banks/show.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/shared/_property.html.erb
Due: bundle exec rubocop

add missing indicators
  db/seeds/tpi/bank_assessment_indicators.csv
Due: none

add bank assessment indicators to admin panel
  app/admin/bank_assessment_indicators.rb
Due: bundle exec rubocop

first version of bank average score on banking tool index page
  app/assets/stylesheets/tpi/_charts.scss
  app/assets/stylesheets/tpi/charts/bank-average-score.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/average-bank-score/Chart.js
  app/javascript/components/tpi/charts/average-bank-score/index.js
  app/javascript/components/tpi/charts/average-bank-score/options.js
  app/models/bank_assessment_result.rb
  app/services/api/charts/average_bank_score.rb
  app/views/tpi/banks/index.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

refactor see more/less buttons
  app/assets/stylesheets/tpi/_navbar.scss
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/show.html.erb
Due: none

fix double lines
  app/assets/stylesheets/tpi/pages/bank.scss
Due: none

fix bank assessment for mobile and tablet
  app/assets/stylesheets/tpi/pages/bank.scss
Due: none

add area value progress bar
  app/assets/stylesheets/tpi/pages/bank.scss
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/show.html.erb
Due: bundle exec rubocop

add simple tooltip for average and max value
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_assessment.html.erb
Due: none

fix bank assessment indicators order
  app/assets/stylesheets/tpi/pages/bank.scss
  app/models/bank_assessment.rb
Due: bundle exec rubocop

update packages
  Gemfile.lock
Due: none

fix brakeman warning
  app/views/tpi/banks/show.html.erb
Due: none

remove multipart limit
  config/initializers/multipart_part_limit.rb
Due: bundle exec rubocop

more changes to bank assessment page
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/pages/bank.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/RemoteDropdown.js
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_result.rb
  app/presenters/tpi/bank_assessment_presenter.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_indicators.html.erb
  app/views/tpi/banks/assessment.js.erb
  app/views/tpi/banks/show.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

remove border radius from all buttons
  app/assets/stylesheets/tpi/buttons.scss
Due: none

add banks bubble chart
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/bank-bubble/SingleCell.js
  app/javascript/components/tpi/charts/bank-bubble/index.js
  app/views/tpi/banks/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix specs
  spec/system/public/tpi/company_spec.rb
Due: bundle exec rubocop

fix nested blue dropdown, add All banks option
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/buttons.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/BankDropdown.js
  app/javascript/components/tpi/RemoteDropdown.js
  app/models/bank.rb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

simplify layout
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/show.html.erb
Due: none

quick temp solution to display percentage without gauge
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_indicators.html.erb
Due: none

more polishing
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/average-bank-score/options.js
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/Chart.js
  app/models/bank_assessment_indicator.rb
  app/services/api/charts/average_bank_score.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

polishing tpi banking tools index page
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/views/tpi/banks/_index_assessment.js.erb
  app/views/tpi/banks/_index_charts.html.erb
  app/views/tpi/banks/index.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

do not show banking tool if there are no assessments, add more example data
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/services/csv_import/bank_assessments.rb
  app/views/layouts/tpi/_header.html.erb
  db/seeds/tpi/bank_assessment_indicators.csv
  db/seeds/tpi/bank_assessments.csv
  db/seeds/tpi/banks.csv
  spec/models/bank_assessment_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop
