Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

add data upload instruction stimulus controller
  app/admin/data_uploads.rb
  app/javascript/admin/controllers/upload_instructions_controller.js
  app/views/admin/data_uploads/instruction.html.erb
  app/views/admin/data_uploads/instruction/_geographies.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

better data upload select options
  app/models/data_upload.rb
Due: bundle exec rubocop

enable partial updates for all importers
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/csv_import/events.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/helpers/emissions.rb
  app/services/csv_import/litigation_sides.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/mq_assessments.rb
  app/services/csv_import/targets.rb
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_benchmarks.rb
Due: bundle exec rubocop

update brakeman warnings file
  config/brakeman.ignore
Due: none

draft version of CSV upload instructions
  app/admin/tags.rb
  app/admin/targets.rb
  app/assets/stylesheets/admin/models/data_uploads.scss
  app/javascript/admin/controllers/upload_instructions_controller.js
  app/views/admin/data_uploads/instruction.html.erb
  app/views/admin/data_uploads/instruction/_column_id.html.erb
  app/views/admin/data_uploads/instruction/_column_visibility_status.html.erb
  app/views/admin/data_uploads/instruction/_companies.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  app/views/admin/data_uploads/instruction/_events.html.erb
  app/views/admin/data_uploads/instruction/_external_legislations.html.erb
  app/views/admin/data_uploads/instruction/_legislations.html.erb
  app/views/admin/data_uploads/instruction/_litigation_sides.html.erb
  app/views/admin/data_uploads/instruction/_litigations.html.erb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/data_uploads/instruction/_targets.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix admin event controller specs
  spec/controllers/admin/events_controller_spec.rb
Due: bundle exec rubocop

add extra columns for litigation sides export
  app/admin/litigation_sides.rb
  app/views/admin/data_uploads/instruction/_litigation_sides.html.erb
  spec/controllers/admin/litigation_sides_controller_spec.rb
Due: bundle exec rubocop

change sector -> sectors when multiple ids allowed, remove connected_ from csv header names, change eventable -> eventable_id, add eventable_name helper column
  app/admin/events.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
  app/decorators/event_decorator.rb
  app/services/csv_import/events.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
  app/views/admin/data_uploads/instruction/_events.html.erb
  app/views/admin/data_uploads/instruction/_legislations.html.erb
  app/views/admin/data_uploads/instruction/_targets.html.erb
  db/seeds/cclow/events.csv
  db/seeds/cclow/legislations.csv
  db/seeds/cclow/litigations.csv
  db/seeds/cclow/targets.csv
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
Due: bundle exec rubocop

add required headers logic and specs, fix partial updates specs
  app/services/csv_import/base_importer.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/csv_import/events.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigation_sides.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/mq_assessments.rb
  app/services/csv_import/row.rb
  app/services/csv_import/targets.rb
  spec/commands/csv_data_upload_spec.rb
  spec/rails_helper.rb
Due: bundle exec rubocop

moar CSV upload instruction
  app/admin/data_uploads.rb
  app/assets/images/admin/csv_instruction/bulk_edit_image1.png
  app/assets/images/admin/csv_instruction/bulk_edit_image2.png
  app/assets/stylesheets/admin/models/data_uploads.scss
  app/javascript/admin/controllers/upload_instructions_controller.js
  app/views/admin/data_uploads/instruction.html.erb
  app/views/admin/data_uploads/instruction/_column_descriptions_notes.html.erb
  app/views/admin/data_uploads/instruction/_column_visibility_status.html.erb
  app/views/admin/data_uploads/instruction/_companies.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  app/views/admin/data_uploads/instruction/_events.html.erb
  app/views/admin/data_uploads/instruction/_external_legislations.html.erb
  app/views/admin/data_uploads/instruction/_geographies.html.erb
  app/views/admin/data_uploads/instruction/_legislations.html.erb
  app/views/admin/data_uploads/instruction/_litigation_sides.html.erb
  app/views/admin/data_uploads/instruction/_litigations.html.erb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/data_uploads/instruction/_targets.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

couple grammar changes
  app/views/admin/data_uploads/instruction.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  app/views/admin/data_uploads/instruction/_geographies.html.erb
  app/views/admin/data_uploads/instruction/_legislations.html.erb
  app/views/admin/data_uploads/instruction/_litigations.html.erb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/data_uploads/instruction/_targets.html.erb
Due: none

more cleanup
  app/admin/cp_assessments.rb
  app/admin/events.rb
  app/admin/geographies.rb
  app/admin/legislations.rb
  app/admin/litigation_sides.rb
  app/admin/litigations.rb
  app/models/concerns/taggable.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/csv_import/events.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/geographies.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigation_sides.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/mq_assessments.rb
  app/services/csv_import/targets.rb
  app/views/admin/data_uploads/instruction/_geographies.html.erb
  config/application.rb
  db/seeds/geographies.csv
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/geographies.csv
Due: bundle exec rubocop

finish changing inner cell separator
  spec/controllers/admin/events_controller_spec.rb
  spec/support/fixtures/files/geographies.csv
  spec/support/fixtures/files/legislations.csv
  spec/support/fixtures/files/targets.csv
Due: bundle exec rubocop

add dirty associations module
  app/models/concerns/dirty_associations.rb
  app/models/concerns/taggable.rb
  app/models/external_legislation.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

prefer to save nil not empty strings
  app/services/csv_import/companies.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/events.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/legislations.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/mq_assessments.rb
  app/services/csv_import/targets.rb
Due: bundle exec rubocop

change separator in seeds csv
  db/seeds/cclow/legislations.csv
  db/seeds/cclow/litigations.csv
  db/seeds/cclow/targets.csv
  db/seeds/geographies.csv
Due: none

fix flaky tests
  app/services/csv_export/user/helpers.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
Due: bundle exec rubocop

bundle update
  Gemfile.lock
Due: none

fix rubocop
  .rubocop.yml
Due: none

better errors for instrument and governances fails when uploading
  app/services/csv_import/legislations.rb
Due: bundle exec rubocop

update bundle
  Gemfile.lock
Due: none

more aggresive tpi cache
  app/controllers/tpi/sectors_controller.rb
  app/models/concerns/tpi_cache.rb
Due: bundle exec rubocop

fix latest information component, small design fixes
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/tpi/LatestInformation.js
Due: eslint --ext .js --ext .jsx

remove travis
  .travis.yml
Due: none

remove todo file
  todo.md
Due: none

add cp alignment year algorithm
  app/models/company.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

update export headers
  app/services/csv_export/user/company_latest_assessments.rb
Due: bundle exec rubocop

add cp alignment year override
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/decorators/cp/assessment_decorator.rb
  app/models/cp/assessment.rb
  app/services/csv_import/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  db/migrate/20210514085536_add_cp_alignment_year_override_to_cp_assessments.rb
  db/structure.sql
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Due: bundle exec rubocop

specs for cp alignment year
  app/models/cp/assessment.rb
  spec/models/cp/assessment_spec.rb
Due: bundle exec rubocop

hide cp alignment year from frontend
  app/models/cp/assessment.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

fix tests
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

update npm dep vol1
  yarn.lock
Due: none

npm update vol2
  yarn.lock
Due: none

npm update vol3
  yarn.lock
Due: none

rollback active material for now
  Gemfile
  Gemfile.lock
Due: none

fix active material
  Gemfile
  Gemfile.lock
  app/assets/javascripts/active_admin.js
Due: eslint --ext .js --ext .jsx

add sorting to instrument types, fix data upload to strip name and type
  app/admin/instrument.rb
  app/admin/instrument_types.rb
  app/assets/stylesheets/tpi/_footer.scss
  app/services/csv_import/legislations.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

fix date formatting
  app/javascript/components/cclow/EventsTimeline.js
Due: eslint --ext .js --ext .jsx

change algorithm that returns alignment year
  app/models/cp/assessment.rb
  spec/models/cp/assessment_spec.rb
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
