Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

refactoring: ASCOR pathways model
  app/admin/ascor/assessments.rb
  app/admin/ascor/benchmarks.rb
  app/admin/ascor/countries.rb
  app/admin/ascor/pathways.rb
  app/models/ascor/emissions_boundary.rb
  app/models/ascor/emissions_metric.rb
  app/models/ascor/land_use.rb
  app/models/ascor/pathway.rb
  app/services/csv_import/ascor_pathways.rb
  app/services/csv_import/helpers/emissions.rb
  db/migrate/20230920083300_refactor_ascor_models.rb
  db/seeds/tpi/ascor_pathways.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/ascor_assessment_result.rb
  spec/factories/ascor_pathways.rb
  spec/models/ascor/pathways_spec.rb
  spec/support/fixtures/files/ascor_pathways.csv
Due: bundle exec rubocop

feat: Export ASCOR indicators
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/assessment.rb
  app/models/ascor/assessment_indicator.rb
  app/models/ascor/assessment_result.rb
  app/models/ascor/benchmark.rb
  app/models/ascor/country.rb
  app/models/ascor/pathway.rb
  app/models/bank_assessment_indicator.rb
  app/models/publication.rb
  app/services/csv_export/ascor/assessment_indicators.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/factories/ascor_assessment_indicators.rb
  spec/factories/ascor_benchmarks.rb
  spec/factories/ascor_countries.rb
  spec/factories/ascor_pathways.rb
  spec/factories/bank_assessment_indicators.rb
  spec/factories/publications.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_indicators_csv.json
  spec/models/ascor/assessment_indicator_spec.rb
  spec/models/ascor/assessment_result_spec.rb
  spec/models/ascor/assessment_spec.rb
  spec/models/bank_assessment_indicator_spec.rb
  spec/models/publication_spec.rb
Due: bundle exec rubocop

feat: Export ASCOR assessments
  app/controllers/tpi/ascor_controller.rb
  app/services/csv_export/ascor/assessments.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_assessment_indicators_csv.json
  spec/rails_helper.rb
Due: bundle exec rubocop

feat: Export ASCOR countries
  app/controllers/tpi/ascor_controller.rb
  app/services/csv_export/ascor/countries.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_countries_csv.json
Due: bundle exec rubocop

feat: Export ASCOR benchmarks
  app/controllers/tpi/ascor_controller.rb
  app/services/csv_export/ascor/benchmarks.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/factories/ascor_assessment.rb
  spec/factories/ascor_benchmarks.rb
  spec/factories/ascor_pathways.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_assessment_indicators_csv.json
  spec/fixtures/snapshots/tpi_ascor_download_zip_benchmarks_csv.json
Due: bundle exec rubocop

feat: Export ASCOR pathways
  app/controllers/tpi/ascor_controller.rb
  app/services/csv_export/ascor/pathways.rb
  app/services/csv_import/ascor_pathways.rb
  app/services/csv_import/helpers/emissions.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/tpi/ascor_controller_spec.rb
  spec/fixtures/snapshots/tpi_ascor_download_zip_pathways_csv.json
  spec/support/fixtures/files/ascor_pathways.csv
Due: bundle exec rubocop

feat: Allow to hide bank assessment results at bubble and accordion charts
  app/admin/bank_assessment_indicators.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
  app/views/tpi/banks/_index_charts.html.erb
  app/views/tpi/banks/index.html.erb
  db/migrate/20230926075145_add_disable_bubbles_at_graph_to_bank_assessment_indicator.rb
  db/structure.sql
  db/test-dump.psql
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix: structure.sql
  db/structure.sql
Due: none

feat: Mark indicator as placeholder
  app/admin/bank_assessment_indicators.rb
  app/javascript/components/tpi/charts/average-bank-score/Chart.js
  app/javascript/components/tpi/charts/average-bank-score/options.js
  app/services/csv_export/user/bank_assessments.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_index_charts.html.erb
  app/views/tpi/banks/_indicators.html.erb
  db/migrate/20230927112905_rename_disable_bubbles_at_chart_to_is_placeholder.rb
  db/structure.sql
  db/test-dump.psql
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

feat: ASCOR layer
  app/assets/images/tpi/ascor/circles_1.svg
  app/assets/images/tpi/ascor/circles_2.svg
  app/assets/images/tpi/ascor/logo.png
  app/assets/stylesheets/tpi/_nested-dropdown.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/RemoteDropdown.js
  app/views/layouts/tpi/_banner.html.erb
  app/views/layouts/tpi/_hosted_by.html.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Due: eslint --ext .js --ext .jsx

feat: ASCOR bubble chart data
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/assessment_result.rb
  app/services/api/ascor/bubble_chart.rb
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/_index_assessment.js.erb
  app/views/tpi/ascor/index.html.erb
  config/routes.rb
  spec/services/api/ascor/bubble_chart_spec.rb
Due: bundle exec rubocop

test: use match_array instead of eq
  spec/services/api/ascor/bubble_chart_spec.rb
Due: bundle exec rubocop

feat: ASCOR emissions chart data
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/models/ascor/country.rb
  app/services/api/ascor/emissions_chart.rb
  app/views/tpi/ascor/_emissions_chart.html.erb
  app/views/tpi/ascor/_index_emissions_assessment.js.erb
  app/views/tpi/ascor/index.html.erb
  config/routes.rb
  spec/services/api/ascor/emissions_chart_spec.rb
Due: bundle exec rubocop

Create countries bubble chart
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/country-bubble/Chart.js
  app/javascript/components/tpi/charts/country-bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/country-bubble/SingleCell.js
  app/javascript/components/tpi/charts/country-bubble/constants.js
  app/javascript/components/tpi/charts/country-bubble/index.js
  app/views/tpi/ascor/_bubble_chart.html.erb
Due: eslint --ext .js --ext .jsx

feat: ASCOR assessments results per country
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_colors.scss
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_index_assessment.js.erb
  app/views/tpi/ascor/_show_assessment.js.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  config/routes.rb
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/ascor_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

refactoring: removing TODOs and renaming ascor bubble chart folder
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/ascor-bubble/SingleCell.js
  app/javascript/components/tpi/charts/ascor-bubble/constants.js
  app/javascript/components/tpi/charts/ascor-bubble/index.js
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/index.html.erb
  spec/system/public/tpi/ascor_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Review fixes
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/ascor-bubble/index.js
Due: eslint --ext .js --ext .jsx

feat: Rest of the styles
  app/assets/images/tpi/ascor/circles_1.svg
  app/assets/images/tpi/ascor/circles_2.svg
  app/assets/images/tpi/ascor/excempt.svg
  app/assets/images/tpi/ascor/logo.png
  app/assets/images/tpi/ascor/no.svg
  app/assets/images/tpi/ascor/no_data.svg
  app/assets/images/tpi/ascor/no_disclosure.svg
  app/assets/images/tpi/ascor/not_applicable.svg
  app/assets/images/tpi/ascor/oval.svg
  app/assets/images/tpi/ascor/partial.svg
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/helpers/ascor_helper.rb
  app/javascript/components/tpi/AscorQuestionLegend.js
  app/services/api/ascor/emissions_chart.rb
  app/views/tpi/ascor/_assessment.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix of descriptions
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/index.html.erb
Due: none

feat: Calculate ASCOR recent emissions
  app/admin/ascor/assessments.rb
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/AscorRecentEmissions.js
  app/services/api/ascor/recent_emissions.rb
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_metrics_ep1a.html.erb
  spec/services/api/ascor/recent_emissions_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

feat: Adding modals with info to ASCOR All countries page
  app/javascript/components/tpi/InfoModal.js
  app/views/tpi/ascor/_bubble_chart.html.erb
  app/views/tpi/ascor/_emissions_chart.html.erb
  app/views/tpi/ascor/index.html.erb
Due: eslint --ext .js --ext .jsx

refactoring: ASCOR cap groups are quantiles
  app/services/api/ascor/bubble_chart.rb
  spec/services/api/ascor/bubble_chart_spec.rb
Due: bundle exec rubocop

Add filters
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/assets/stylesheets/tpi/_selector.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/javascript/components/tpi/charts/emissions/Chart.js
  app/javascript/components/tpi/charts/emissions/CountrySelector.js
  app/javascript/components/tpi/charts/emissions/Emissions.js
  app/javascript/components/tpi/charts/emissions/Filters.js
  app/javascript/components/tpi/charts/emissions/Select.js
  app/javascript/components/tpi/charts/emissions/index.js
  app/javascript/components/tpi/charts/emissions/mockedData.js
  app/javascript/components/tpi/charts/emissions/options.js
  app/javascript/components/tpi/charts/hooks.js
  app/views/tpi/ascor/_emissions_chart.html.erb
Due: eslint --ext .js --ext .jsx

Update countries bubble chart colors and toootip
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/SingleCell.js
  app/javascript/components/tpi/charts/ascor-bubble/constants.js
Due: eslint --ext .js --ext .jsx

refactoring: Updating ASCOR icons and making assessments responsive
  app/assets/images/tpi/ascor/no.svg
  app/assets/images/tpi/ascor/oval.svg
  app/assets/images/tpi/ascor/partial.svg
  app/assets/images/tpi/ascor/yes.svg
  app/assets/stylesheets/tpi/country-question-legend.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/home/index.html.erb
Due: none

feat: React component to generate metrics_ep1a filters
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorRecentEmissions.js
  app/javascript/components/tpi/Select.js
  app/javascript/components/tpi/charts/emissions/Filters.js
  app/views/tpi/ascor/_assessment.html.erb
Due: eslint --ext .js --ext .jsx

test: which verifies that EP.1.a.i metric is rendered
  app/admin/ascor/assessments.rb
  app/models/ascor/emissions_boundary.rb
  app/views/tpi/ascor/_assessment.html.erb
  spec/system/public/tpi/ascor_spec.rb
Due: bundle exec rubocop

Add chart responsivity, update country selector
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/javascript/components/tpi/charts/emissions/Chart.js
  app/javascript/components/tpi/charts/emissions/CountrySelector.js
  app/javascript/components/tpi/charts/emissions/Emissions.js
  app/javascript/components/tpi/charts/emissions/options.js
Due: eslint --ext .js --ext .jsx

fix: ASCOR emissions chart API url
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/charts/ascor-emissions/Chart.js
  app/javascript/components/tpi/charts/ascor-emissions/CountrySelector.js
  app/javascript/components/tpi/charts/ascor-emissions/Emissions.js
  app/javascript/components/tpi/charts/ascor-emissions/Filters.js
  app/javascript/components/tpi/charts/ascor-emissions/Select.js
  app/javascript/components/tpi/charts/ascor-emissions/index.js
  app/javascript/components/tpi/charts/ascor-emissions/mockedData.js
  app/javascript/components/tpi/charts/ascor-emissions/options.js
  app/services/api/ascor/emissions_chart.rb
  app/views/tpi/ascor/_emissions_chart.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Update app/javascript/components/tpi/AscorRecentEmissions.js
  app/javascript/components/tpi/AscorRecentEmissions.js
Due: eslint --ext .js --ext .jsx

Update app/assets/stylesheets/tpi/pages/ascor.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
Due: none

fix: ASCOR BubbleChart service
  app/services/api/ascor/bubble_chart.rb
Due: bundle exec rubocop

feat: React component for ASCOR country selector
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/controllers/tpi/ascor_controller.rb
  app/javascript/components/tpi/AscorDropdown.js
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

refactoring: Updating styles of ASCOR pages based on feedback
  app/assets/images/tpi/ascor/circles_3.svg
  app/assets/stylesheets/tpi/_emissions-chart.scss
  app/assets/stylesheets/tpi/_publications.scss
  app/assets/stylesheets/tpi/_variables.scss
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/javascript/components/tpi/AscorRecentEmissions.js
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_contact.html.erb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
Due: eslint --ext .js --ext .jsx

fix: Styles of ASCOR assessment - position of Source
  app/javascript/components/tpi/AscorRecentEmissions.js
Due: eslint --ext .js --ext .jsx

refactoring: renaming TPI Centre to LSE-TPI Centre
  app/views/tpi/home/index.html.erb
Due: none

feat: Add possibility to define number of supporters without logo
  app/controllers/tpi/home_controller.rb
  app/models/content.rb
Due: bundle exec rubocop

feat: LinkedIn widget for homepage
  app/assets/stylesheets/tpi/pages/home.scss
  app/views/tpi/home/index.html.erb
Due: none

Add mobile version of the countries emissions bubble chart
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_bubble-chart-countries.scss
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/ascor-bubble/Chart.js
  app/javascript/components/tpi/charts/ascor-bubble/SingleCell.js
  app/javascript/components/tpi/charts/ascor-bubble/chart-mobile/ChartMobile.js
  app/javascript/components/tpi/charts/ascor-bubble/chart-mobile/index.js
  app/javascript/components/tpi/charts/ascor-bubble/constants.js
Due: eslint --ext .js --ext .jsx

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
