Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

enable external laws upload, little refactoring
  app/admin/external_legislations.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/targets.rb
  app/decorators/external_legislation_decorator.rb
  app/models/data_upload.rb
  app/services/csv_import/external_legislations.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/litigations.rb
  app/services/csv_import/targets.rb
  config/application.rb
Due: bundle exec rubocop

updating bundle and fixing offenses
  Gemfile.lock
  app/decorators/document_decorator.rb
  app/decorators/event_decorator.rb
  app/decorators/geography_decorator.rb
  app/decorators/legislation_decorator.rb
  app/decorators/litigation_decorator.rb
  app/models/application_record.rb
  app/services/queries/cclow/litigation_query.rb
  lib/tasks/static_pages.rake
Due: bundle exec rubocop

update model annotations
  app/models/content.rb
  app/models/legislation.rb
  app/models/litigation.rb
  app/models/target.rb
  spec/factories/contents.rb
  spec/factories/legislations.rb
  spec/factories/litigations.rb
  spec/factories/targets.rb
  spec/models/content_spec.rb
  spec/models/legislation_spec.rb
  spec/models/litigation_spec.rb
  spec/models/target_spec.rb
Due: bundle exec rubocop

add orderable feature
  Gemfile
  Gemfile.lock
  app/admin/content.rb
  app/admin/page.rb
  app/assets/stylesheets/admin/base.scss
  app/javascript/admin/utils/index.js
  app/javascript/admin/utils/orderable.js
  app/models/content.rb
  app/models/page.rb
  config/initializers/active_admin.rb
  db/migrate/20210305132256_add_position_to_content.rb
  db/structure.sql
  lib/extensions/active_admin/active_admin_orderable.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

update test-dump
  db/test-dump.psql
Due: none

move rake specific when there is a need for this - rspec
  spec/rails_helper.rb
Due: bundle exec rubocop

making specs faster
  app/models/tpi_sector.rb
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/cp_assessments_controller_spec.rb
  spec/controllers/admin/geographies_controller_spec.rb
  spec/controllers/admin/instrument_controller_spec.rb
  spec/controllers/admin/legislations_controller_spec.rb
  spec/controllers/admin/litigations_controller_spec.rb
  spec/controllers/admin/mq_assessments_controller_spec.rb
  spec/controllers/admin/news_articles_controller_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/factories/companies.rb
  spec/factories/cp_assessment.rb
  spec/factories/geographies.rb
  spec/factories/legislations.rb
  spec/factories/litigations.rb
  spec/factories/mq_assessments.rb
  spec/factories/news_articles.rb
  spec/factories/targets.rb
  spec/models/company_spec.rb
  spec/models/cp/assessment_spec.rb
  spec/models/mq/assessment_spec.rb
  spec/rails_helper.rb
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Due: bundle exec rubocop

more reliable tests
  Gemfile
  Gemfile.lock
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/fixtures/snapshots/cclow_climate_targets_controller_csv.json
  spec/fixtures/snapshots/cclow_legislation_and_policies_controller_csv.json
  spec/fixtures/snapshots/cclow_litigation_cases_controller_csv.json
  spec/rails_helper.rb
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
  spec/snapshots/cclow_climate_targets_controller_csv.snap
  spec/snapshots/cclow_legislation_and_policies_controller_csv.snap
  spec/snapshots/cclow_litigation_cases_controller_csv.snap
Due: bundle exec rubocop

fix flaky tests, before_all and let_it_be does not work with async queue adapters
  config/environments/test.rb
  spec/rails_helper.rb
  spec/services/queries/cclow/legislation_query_spec.rb
  spec/services/queries/cclow/litigation_query_spec.rb
  spec/services/queries/cclow/target_query_spec.rb
  spec/services/queries/tpi/news_publications_query_spec.rb
  spec/spec_helper.rb
Due: bundle exec rubocop

fix user export flaky tests
  app/services/csv_export/user/helpers.rb
Due: bundle exec rubocop

undo order
  app/services/csv_export/user/helpers.rb
Due: bundle exec rubocop

npm cache seems like not working
  .github/workflows/linters.yml
  .github/workflows/tests.yml
Due: none

missing factories and specs
  app/admin/page.rb
  app/helpers/resource_attributes.rb
  app/models/content.rb
  app/models/page.rb
  spec/controllers/admin/cclow_pages_controller_spec.rb
  spec/controllers/admin/tpi_pages_controller_spec.rb
  spec/factories/contents.rb
  spec/factories/images.rb
  spec/models/content_spec.rb
Due: bundle exec rubocop

retry just in case
  Gemfile
  Gemfile.lock
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/spec_helper.rb
Due: bundle exec rubocop

orderable css changes
  app/assets/stylesheets/active_admin.scss
  app/assets/stylesheets/admin/base.scss
  app/assets/stylesheets/admin/orderable.scss
Due: none

add created at filters
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/services/csv_import/legislations.rb
Due: bundle exec rubocop

changes for cp alignment
  app/javascript/components/charts/cp-performance-all-sectors/options.js
  app/models/cp/alignment.rb
  app/services/csv_import/cp_assessments.rb
  spec/commands/csv_data_upload_spec.rb
  spec/support/fixtures/files/cp_assessments.csv
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

remove UK from the EU on the map
  app/javascript/components/world-map/constants.js
Due: eslint --ext .js --ext .jsx

add external litigations count
  app/admin/geographies.rb
  app/views/admin/geographies/_form.html.erb
  db/migrate/20210316164558_add_external_litigations_count_to_geographies.rb
  db/structure.sql
Due: bundle exec rubocop

changes for external litigation cases count
  app/admin/geographies.rb
  app/assets/stylesheets/cclow/_geography-page.scss
  app/decorators/cclow/geography_overview_decorator.rb
  app/javascript/components/pages/cclow/List.js
  app/views/cclow/home/_hero.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

apply external litigations count on the map
  app/models/cclow_map_content_data.rb
Due: bundle exec rubocop

update db dump
  db/test-dump.psql
  spec/system/public/tpi/company_spec.rb
Due: bundle exec rubocop

fix jurisdiction nil bug
  app/controllers/concerns/cclow/filter_controller.rb
Due: bundle exec rubocop

add support for UTF-8 BOM for excel
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_export/user/legislations.rb
  app/services/csv_export/user/litigations.rb
  app/services/csv_export/user/mq_assessments.rb
  app/services/csv_export/user/targets.rb
  app/services/csv_import/base_importer.rb
  config/initializers/active_admin.rb
Due: bundle exec rubocop

add BOM tests
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

better link to Sabin Center database
  app/javascript/components/pages/cclow/List.js
Due: eslint --ext .js --ext .jsx

fix tests
  spec/controllers/admin/documents_controller_spec.rb
  spec/controllers/admin/events_controller_spec.rb
  spec/controllers/admin/litigation_sides_controller_spec.rb
  spec/controllers/admin/targets_controller_spec.rb
  spec/controllers/cclow/climate_targets_controller_spec.rb
  spec/controllers/cclow/legislation_and_policies_controller_spec.rb
  spec/controllers/cclow/litigation_cases_controller_spec.rb
  spec/rails_helper.rb
  spec/support/controller_helpers.rb
Due: bundle exec rubocop

Add missing legislation export columns: parent_id, connected_litigation_ids, instruments, link
  app/admin/instrument_types.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/decorators/instrument_type_decorator.rb
  app/decorators/legislation_decorator.rb
  app/services/csv_import/legislations.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

add import/export legislation governances
  app/admin/legislations.rb
  app/decorators/legislation_decorator.rb
  app/services/csv_import/legislations.rb
  spec/commands/csv_data_upload_spec.rb
Due: bundle exec rubocop

enable partial updates for legislation csv upload
  app/services/csv_import/legislations.rb
  spec/commands/csv_data_upload_spec.rb
  spec/spec_helper.rb
Due: bundle exec rubocop

speed up csv export
  app/admin/companies.rb
  app/admin/legislations.rb
Due: bundle exec rubocop

update rails dependencies
  Gemfile.lock
Due: none

update npm dependencies
  yarn.lock
Due: none

remove jquery from cclow frontend, use tinyslider instead slick
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_latest-additions-slider.scss
  app/javascript/packs/cclow.js
  app/javascript/shared/controllers/cookies_consent_controller.js
  app/javascript/shared/controllers/slider_controller.js
  app/views/cclow/home/_latest_additions.html.erb
  app/views/layouts/cclow/_cookies_tooltip.html.erb
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

remove jQuery from tpi pack
  app/javascript/packs/tpi.js
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/mq_assessment.js.erb
Due: eslint --ext .js --ext .jsx

fix rendering cclow list pages
  app/controllers/cclow/climate_targets_controller.rb
  app/controllers/cclow/legislation_and_policies_controller.rb
  app/controllers/cclow/litigation_cases_controller.rb
Due: bundle exec rubocop

ignore brakeman warning
  config/brakeman.ignore
Due: none
