Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

remove GBR from EU
  app/models/geography.rb
Due: bundle exec rubocop

add distinct to backend filtering
  app/admin/legislations.rb
  app/admin/litigations.rb
Due: bundle exec rubocop

WIP: Managing homepage content
  app/controllers/tpi/home_controller.rb
  app/models/tpi_page.rb
Due: bundle exec rubocop

Fetches home content from TPI Page. Adds task to generate current page content
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/index.html.erb
  lib/tasks/static_pages.rake
Due: bundle exec rubocop

Fix indeces on external_legislations_litigations table
  db/migrate/20200622151708_fix_unique_indeces_for_external_legislations_and_litigations.rb
  db/schema.rb
Due: bundle exec rubocop

adjust identation
  lib/tasks/static_pages.rake
Due: none

Handle showing data with a single point
  app/services/api/charts/cp_assessment.rb
Due: bundle exec rubocop

fix legislative process parsing
  app/decorators/cclow/geography_overview_decorator.rb
  app/views/cclow/geographies/show.html.erb
Due: bundle exec rubocop

update document types display
  app/views/cclow/geography/legislations/show.html.erb
Due: none

use contains to enable case insensitive search
  app/admin/geographies.rb
Due: bundle exec rubocop

show fields in order
  app/controllers/tpi/home_controller.rb
  app/views/admin/pages/_content.html.erb
Due: bundle exec rubocop

No need to fetch each time
  app/controllers/tpi/home_controller.rb
Due: bundle exec rubocop

add more attributes to target endpoint
  app/models/target.rb
Due: bundle exec rubocop

bundle update
  Gemfile.lock
Due: none

fix tests
  docker-compose.yml
  spec/system/public/cclow/geographies_spec.rb
Due: bundle exec rubocop

Make sure embeding youtube videos works even if there are multiple editors on
  app/javascript/admin/controllers/embed_trix_controller.js
Due: eslint --ext .js --ext .jsx

Collaborators partners logos
  app/assets/images/collaborators/collaborator_logo_01.png
  app/assets/images/collaborators/collaborator_logo_01@2x.png
  app/assets/images/collaborators/collaborator_logo_02.png
  app/assets/images/collaborators/collaborator_logo_02@2x.png
  app/assets/images/collaborators/collaborator_logo_03.png
  app/assets/images/collaborators/collaborator_logo_03@2x.png
  app/assets/images/collaborators/collaborator_logo_04.png
  app/assets/images/collaborators/collaborator_logo_04@2x.png
  app/assets/stylesheets/cclow.scss
  app/assets/stylesheets/cclow/_collaborators.scss
  app/assets/stylesheets/cclow/layout.scss
  app/views/cclow/home/index.html.erb
  app/views/layouts/cclow/_footer.html.erb
Due: none

use srcset for logos
  app/views/cclow/home/index.html.erb
Due: none

adds font-family to body tag on tpi
  app/assets/stylesheets/tpi.scss
Due: none

Updates layout of text_description based on new designs
  app/assets/stylesheets/tpi/_pages.scss
  app/views/tpi/pages/show.html.erb
Due: none

fix collaborators assets
  app/views/cclow/home/index.html.erb
Due: none

Move rendering tpi pages to partials, adds styles for new layout
  app/assets/stylesheets/tpi/_pages.scss
  app/models/content.rb
  app/views/admin/pages/_image_fields.html.erb
  app/views/tpi/pages/_default.html.erb
  app/views/tpi/pages/_logo_description.html.erb
  app/views/tpi/pages/_text_description.html.erb
  app/views/tpi/pages/show.html.erb
Due: bundle exec rubocop

Laws shouldn't be in both categories
  app/controllers/cclow/api/targets_controller.rb
Due: bundle exec rubocop

renamed default to regular, and use that instead
  app/views/tpi/pages/_regular.html.erb
  app/views/tpi/pages/show.html.erb
Due: none

needed to update the json format response as well
  app/models/target.rb
Due: bundle exec rubocop

friday is not a great day for me sometimes. reverts this change from 11054dd276dacfc04f7fe003b518b0302949bfa1
  app/controllers/cclow/api/targets_controller.rb
Due: bundle exec rubocop

adds new targets endpoint to be used by climate watch
  .rubocop.yml
  app/controllers/cclow/api/targets_controller.rb
  config/routes.rb
Due: bundle exec rubocop

adds rack-cors to manage cors
  .rubocop.yml
  Gemfile
  Gemfile.lock
  config/application.rb
Due: bundle exec rubocop

RedundantFetchBlock style change
  lib/extensions/active_admin/active_admin_csv_download.rb
Due: bundle exec rubocop

Updates syntax to one that works
  config/application.rb
Due: bundle exec rubocop

Include iso codes in the response
  app/controllers/cclow/api/targets_controller.rb
Due: bundle exec rubocop

update styles of the map
  app/assets/stylesheets/cclow/_world-map.scss
Due: none

improve styles for news articles
  app/assets/stylesheets/tpi/_pages.scss
  app/views/tpi/publications/show.html.erb
Due: none

Hide EU selector on the show page. open link in same tab
  app/javascript/components/world-map/MapTooltip.js
  app/javascript/components/world-map/WorldMap.js
  app/javascript/components/world-map/centroids.js
Due: eslint --ext .js --ext .jsx

Updates scope filter
  app/controllers/cclow/api/targets_controller.rb
Due: bundle exec rubocop

don't crash if no sector present
  app/services/concerns/uploader_helpers.rb
Due: bundle exec rubocop

Updates headers from importing file
  app/services/csv_import/targets.rb
Due: bundle exec rubocop

temporary fix before data is updated
  app/controllers/cclow/api/targets_controller.rb
Due: bundle exec rubocop

Updates header on spec file
  spec/support/fixtures/files/targets.csv
Due: none

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
