Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

Revert "Copy text from bond issuers to cp & mq page"
  app/assets/stylesheets/tpi/pages/sectors-index.scss
  app/views/tpi/sectors/index.html.erb
Due: none

Download modal: increase limit and update tou link
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Lint
  app/javascript/components/tpi/DownloadFormModal.jsx
  package.json
Due: eslint --ext .js --ext .jsx

Revert more options in CP & MQ download
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Amend the download modal's error messages
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Data download disclaimers
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/mailers/data_download_mailer.rb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/sectors/index.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add acceptance tick in CP & MQ download
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Add options to pop-up download, CP & MQ
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Move checkbox in download to disclaimer text
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Increase default minLength in DownloadModal
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Add download pop-up to detail bank/company (ascor)
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/banks/show.html.erb
Due: none

Add test email for banking download
  app/controllers/tpi/banks_controller.rb
Due: bundle exec rubocop

Send download based on the source of the Download modal
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx

Fix typo in sectors DownloadModal
  app/views/tpi/sectors/index.html.erb
Due: none

Add missing routes for Download and revert test email
  app/controllers/tpi/banks_controller.rb
  config/routes.rb
Due: bundle exec rubocop

Add year to cp-matrix for bank + line val for null
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix-table.jsx
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
Due: eslint --ext .js --ext .jsx

Run linting
  app/admin/banks.rb
  app/admin/cp_assessments.rb
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
  app/models/bank.rb
  app/models/cp/matrix.rb
  app/services/api/charts/cp_matrix.rb
  app/services/csv_export/user/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_assessments2030.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20250825064207_add2030_alignments_to_cp_assessments.rb
  db/migrate/20250825064811_add2030_alignment_to_cp_matrices.rb
  spec/factories/cp_assessment.rb
  spec/factories/cp_matrices.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add bank indicator's rake tasks
  DEPLOYMENT_GUIDE.md
  db/backups/README.md
  db/migrate/20250825065000_add_version_to_bank_assessment_indicators.rb
  db/seeds/tpi/bank_assessment_indicators_new.csv
  lib/tasks/backup_bank_assessment_data.rake
  lib/tasks/update_bank_assessment_indicators.rake
  spec/factories/bank_assessment_indicators.rb
Due: bundle exec rubocop

Add new indicators for bank assessments
  .gitignore
  DEPLOYMENT_GUIDE.md
  app/admin/bank_assessment_indicators.rb
  app/admin/bank_assessments.rb
  app/admin/banks.rb
  app/controllers/tpi/banks_controller.rb
  app/decorators/bank_assessment_decorator.rb
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_indicator.rb
  app/models/bank_assessment_result.rb
  app/models/cp/assessment.rb
  app/models/cp/portfolio.rb
  app/presenters/tpi/bank_assessment_presenter.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_indicators.html.erb
  db/migrate/20250825065000_add_version_to_bank_assessment_indicators.rb
  db/migrate/20250825093802_fix_bank_assessment_indicators_uniqueness_constraint.rb
  lib/tasks/backup_bank_assessment_data.rake
  lib/tasks/update_bank_assessment_indicators.rake
Due: bundle exec rubocop

Show inactive bank assessments in admin
  app/admin/bank_assessments.rb
  app/services/csv_import/bank_assessment_indicators.rb
  app/services/csv_import/base_importer.rb
Due: bundle exec rubocop

Update views to address errors on non-test data, bank assessment
  .gitignore
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_indicators.html.erb
Due: none

Make local migration for index idempotent
  bank_of_china_assessment.csv
  db/migrate/20250825093802_fix_bank_assessment_indicators_uniqueness_constraint.rb
  sample_bank_assessment_results.csv
Due: bundle exec rubocop

Make local migration for index idempotent
  bank_of_china_assessment.csv
  sample_bank_assessment_results.csv
Due: none

Add support for subsector for banking assessments
  app/admin/cp_assessments.rb
  app/models/cp/assessment.rb
  app/models/subsector.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_matrix.rb
  app/services/csv_export/user/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_assessments.rb
  db/migrate/20250825120001_create_subsectors.rb
  db/migrate/20250825120002_add_subsector_id_to_cp_assessments.rb
  db/migrate/20250825120003_create_coal_mining_subsectors.rb
Due: bundle exec rubocop

Fix link of subsector-sector
  app/models/subsector.rb
  app/models/tpi_sector.rb
Due: bundle exec rubocop

Add subsector selector to CPA creation page, admin
  app/admin/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
Due: bundle exec rubocop

Run rubocop a
  app/assets/stylesheets/tpi/pages/bank.scss
  app/controllers/tpi/banks_controller.rb
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_cp_matrix.html.erb
  app/views/tpi/banks/show.html.erb
  lib/tasks/backup_bank_assessment_data.rake
  lib/tasks/update_bank_assessment_indicators.rake
Due: bundle exec rubocop

Revert unnecessary change
  app/services/api/charts/cp_matrix.rb
Due: bundle exec rubocop

Fix creation of CP assessment for banks
  app/admin/cp_assessments.rb
  app/services/api/charts/cp_matrix.rb
  app/views/tpi/banks/_cp_matrix.html.erb
Due: bundle exec rubocop

Fix aligment selector CP assessment banking
  app/javascript/components/tpi/charts/cp-matrix/cp-matrix.jsx
  app/views/tpi/banks/_cp_matrix.html.erb
Due: eslint --ext .js --ext .jsx

Update bank indicators
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_indicators.html.erb
  db/migrate/20250828000000_wipe_2025_bank_assessment_indicators_and_results.rb
  db/seeds/tpi/bank_assessment_indicators_new.csv
Due: bundle exec rubocop

Add Bank Assessment 2030 upload option
  app/admin/cp_assessments.rb
  app/models/data_upload.rb
  app/views/tpi/banks/_assessment.html.erb
Due: bundle exec rubocop

Fix bubble graph bank and indicators rake task
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
  app/services/api/charts/cp_matrix.rb
  lib/tasks/update_bank_assessment_indicators.rake
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
