Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

format number for average bank score chart
  app/javascript/components/tpi/charts/average-bank-score/options.js
Due: eslint --ext .js --ext .jsx

fix vulnerabilities
  Gemfile
  Gemfile.lock
Due: none

update bubble chart tooltip styles and bank assessment percentage bar
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/assets/stylesheets/tpi/pages/bank.scss
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bubble/Chart.js
Due: eslint --ext .js --ext .jsx

add new average, max score indicators styles
  app/assets/stylesheets/tpi/pages/bank.scss
  app/helpers/application_helper.rb
  app/views/tpi/banks/_assessment.html.erb
Due: bundle exec rubocop

add tooltip for indicator percentage
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_assessment.html.erb
  app/views/tpi/banks/_indicators.html.erb
Due: none

add example tooltip descriptions
  app/views/tpi/banks/_indicators.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  app/views/tpi/companies/show.html.erb
  config/locales/controllers.en.yml
  config/locales/en.yml
Due: none

add number with precision for max and average score on bank page
  app/views/tpi/banks/_assessment.html.erb
Due: none

tpi banking tool - update admin
  app/admin/bank_assessment_indicators.rb
  app/admin/bank_assessments.rb
  app/models/data_upload.rb
  lib/extensions/active_admin/active_admin_csv_download.rb
Due: bundle exec rubocop

fix tooltip for sectors bubble
  app/javascript/components/tpi/charts/bubble/Chart.js
Due: eslint --ext .js --ext .jsx

small feedback
  app/assets/images/icons/chevron-gray.svg
  app/assets/stylesheets/tpi/pages/bank.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/tpi/BankDropdown.js
  app/javascript/components/tpi/charts/average-bank-score/options.js
Due: eslint --ext .js --ext .jsx

add publications and news section for banks - not sure what to show there yet
  app/assets/stylesheets/tpi/_publications.scss
  app/controllers/tpi/banks_controller.rb
  app/controllers/tpi/publications_controller.rb
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/services/seed/tpi_data.rb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/publications/_promoted.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/search/index.html.erb
  app/views/tpi/sectors/show.html.erb
  db/test-dump.psql
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

simple system specs for banking tool
  app/services/api/charts/average_bank_score.rb
  spec/support/capybara_helpers.rb
  spec/system/public/tpi/banking_tool_spec.rb
  spec/system/public/tpi/company_spec.rb
Due: bundle exec rubocop

add quick question legend
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/banking-question-legend.scss
  app/javascript/components/tpi/BankingQuestionLegend.js
  app/javascript/components/tpi/Testimonials.js
  app/javascript/shared/hooks/index.js
  app/javascript/shared/hooks/use-interval.js
  app/views/tpi/banks/_assessment.html.erb
Due: eslint --ext .js --ext .jsx

annotate models
  app/models/bank.rb
  app/models/bank_assessment.rb
  app/models/bank_assessment_indicator.rb
  app/models/bank_assessment_result.rb
  app/models/theme.rb
  spec/factories/bank_assessments.rb
  spec/factories/banks.rb
  spec/factories/data_uploads.rb
  spec/factories/themes.rb
  spec/models/bank_assessment_spec.rb
  spec/models/bank_spec.rb
  spec/models/theme_spec.rb
Due: bundle exec rubocop

latest information box refactor
  app/javascript/components/tpi/LatestInformation.js
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx

change max value for average bank score
  app/javascript/components/tpi/charts/average-bank-score/options.js
Due: eslint --ext .js --ext .jsx

complete CompaniesAccordion for bank sector - v1
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bank-bubble/CompaniesAccordion.js
  app/javascript/components/tpi/charts/bank-bubble/constants.js
  app/views/tpi/banks/_index_charts.html.erb
Due: eslint --ext .js --ext .jsx

add latest information for banks
  app/admin/banks.rb
  app/assets/stylesheets/tpi.scss
  app/assets/stylesheets/tpi/_latest-information.scss
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/bank.rb
  app/services/csv_import/banks.rb
  app/views/tpi/banks/show.html.erb
  db/migrate/20220719121521_add_latest_information_to_banks.rb
  db/seeds/tpi/banks.csv
  db/structure.sql
  db/test-dump.psql
  spec/factories/banks.rb
  spec/models/bank_spec.rb
  spec/system/public/tpi/banking_tool_spec.rb
Due: bundle exec rubocop

update bank data indicators
  db/seeds/tpi/bank_assessment_indicators.csv
Due: none

fix bank assessment import
  app/services/csv_import/bank_assessments.rb
Due: bundle exec rubocop

update avg score description text
  app/views/tpi/banks/index.html.erb
Due: none

change column width for bank bubble chart, add more force to d3force
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/javascript/components/tpi/charts/bank-bubble/SingleCell.js
Due: eslint --ext .js --ext .jsx

change fontsize for average bank score chart
  app/javascript/components/tpi/charts/average-bank-score/Chart.js
  app/javascript/components/tpi/charts/average-bank-score/options.js
Due: eslint --ext .js --ext .jsx

more changes to bubble chart
  app/assets/stylesheets/tpi/_bubble-chart.scss
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
Due: eslint --ext .js --ext .jsx

fix specs - temp fix
  spec/rails_helper.rb
Due: bundle exec rubocop

add couple specs for banking tool importers
  db/seeds/tpi/bank_assessments.csv
  spec/commands/csv_data_upload_spec.rb
  spec/factories/bank_assessment_indicators.rb
  spec/support/fixtures/files/bank_assessment_indicators.csv
  spec/support/fixtures/files/bank_assessments.csv
  spec/support/fixtures/files/banks.csv
Due: bundle exec rubocop

add admin banks controller specs
  app/models/ability.rb
  app/models/bank.rb
  spec/controllers/admin/banks_controller_spec.rb
Due: bundle exec rubocop

add banking question legend for mobile devices
  app/assets/stylesheets/tpi/banking-question-legend.scss
Due: none

add bank assessment indicator's legend
  app/assets/stylesheets/tpi/pages/bank.scss
  app/views/tpi/banks/_assessment.html.erb
Due: none

fix publications
  app/controllers/tpi/publications_controller.rb
Due: bundle exec rubocop

add bank assessments csv download
  app/admin/bank_assessments.rb
  app/decorators/bank_assessment_decorator.rb
  app/decorators/bank_assessment_result_decorator.rb
Due: bundle exec rubocop

add show in tpi tool to sectors, fix some preview links
  app/admin/banks.rb
  app/admin/companies.rb
  app/admin/tpi_sectors.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/controllers/tpi/sitemaps_controller.rb
  app/decorators/bank_decorator.rb
  app/decorators/tpi_sector_decorator.rb
  app/models/tpi_sector.rb
  app/services/seed/tpi_data.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  app/views/admin/tpi_sectors/_form.html.erb
  db/migrate/20220722075902_add_show_in_tpi_tool_to_tpi_sectors.rb
  db/structure.sql
  db/test-dump.psql
  spec/factories/bank_assessment_indicators.rb
  spec/factories/tpi_sectors.rb
  spec/models/tpi_sector_spec.rb
Due: bundle exec rubocop

lock google cloud storage version
  Gemfile
  Gemfile.lock
Due: none

update packages
  Gemfile.lock
Due: none

publications and news for banking sector
  app/assets/stylesheets/tpi/_publications.scss
  app/controllers/tpi/banks_controller.rb
  app/views/tpi/banks/index.html.erb
Due: bundle exec rubocop

data migration to add bank sector
  db/migrate/20220722100953_add_banks_tpi_sector.rb
  db/structure.sql
  db/test-dump.psql
Due: bundle exec rubocop

minor design changes
  app/assets/stylesheets/tpi/pages/bank.scss
  app/javascript/components/tpi/BankDropdown.js
  app/javascript/components/tpi/charts/average-bank-score/options.js
  app/views/tpi/banks/_assessment.html.erb
Due: eslint --ext .js --ext .jsx

missing banks manage link
  app/controllers/tpi/banks_controller.rb
Due: bundle exec rubocop

update tpi sitemaps with banking data
  app/controllers/tpi/sitemaps_controller.rb
  app/views/tpi/sitemaps/index.xml.erb
  spec/controllers/tpi/sitemaps_controller_spec.rb
Due: bundle exec rubocop

add download banking data url to all banks
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  config/routes.rb
Due: bundle exec rubocop
