Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

makes sector optional for targets
  app/models/target.rb
Due: bundle exec rubocop

adds more explicit message to content type validator
  app/validators/content_type_validator.rb
Due: bundle exec rubocop

remove optional, it's not that optional
  app/models/target.rb
Due: bundle exec rubocop

fix cors
  config/application.rb
Due: bundle exec rubocop

Enables csv content type from excel
  app/models/data_upload.rb
Due: bundle exec rubocop

fix target import and showing zero
  app/services/csv_import/targets.rb
  app/views/cclow/geography/climate_targets/index.html.erb
  db/seeds/laws_migration/targets.csv
Due: bundle exec rubocop

non_ndc_targets for the rest
  app/models/geography.rb
  app/views/cclow/geography/climate_targets/index.html.erb
Due: bundle exec rubocop

actually targets without source too
  app/models/geography.rb
Due: bundle exec rubocop

fix missing data after importing targets
  app/services/csv_import/targets.rb
Due: bundle exec rubocop

short summary and description, fix document icon, fix active links, wrapping text
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/cclow/_related_laws_list.html.erb
  app/views/cclow/cclow/_related_litigations_list.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/layouts/cclow/geography.html.erb
Due: none

truncate breadcrumb title
  app/assets/stylesheets/cclow/layout.scss
  app/helpers/application_helper.rb
  app/models/site/breadcrumb.rb
Due: bundle exec rubocop

merge master - squashed forgotten changes
  app/views/layouts/cclow.html.erb
  app/views/layouts/tpi.html.erb
  public/cclow/android-chrome-192x192.png
  public/cclow/android-chrome-512x512.png
  public/cclow/apple-touch-icon.png
  public/cclow/browserconfig.xml
  public/cclow/favicon-16x16.png
  public/cclow/favicon-32x32.png
  public/cclow/favicon.ico
  public/cclow/mstile-144x144.png
  public/cclow/mstile-150x150.png
  public/cclow/mstile-310x150.png
  public/cclow/mstile-310x310.png
  public/cclow/mstile-70x70.png
  public/cclow/safari-pinned-tab.svg
  public/cclow/site.webmanifest
  public/images/cclow.png
  public/tpi/android-chrome-192x192.png
  public/tpi/android-chrome-512x512.png
  public/tpi/apple-touch-icon.png
  public/tpi/browserconfig.xml
  public/tpi/favicon-16x16.png
  public/tpi/favicon-32x32.png
  public/tpi/favicon.ico
  public/tpi/mstile-150x150.png
  public/tpi/safari-pinned-tab.svg
  public/tpi/site.webmanifest
Due: none

bundle update
  Gemfile.lock
Due: none

updating js dependencies
  package.json
  yarn.lock
Due: none

show all filters by default
  app/javascript/components/pages/cclow/List.js
Due: eslint --ext .js --ext .jsx

avoid n+1 in the form
  app/views/admin/legislations/_form.html.erb
Due: none

fix instruments filter
  app/javascript/components/pages/cclow/LegislationAndPolicies.js
Due: eslint --ext .js --ext .jsx

add instruments to legislation page
  app/controllers/cclow/geography/legislations_controller.rb
  app/views/cclow/geography/legislations/show.html.erb
Due: bundle exec rubocop

fix categories tag css
  app/assets/stylesheets/cclow/_geography-page.scss
Due: none

fix scroll anchor for load more button
  app/assets/stylesheets/cclow/_buttons.scss
  app/javascript/components/pages/cclow/List.js
Due: eslint --ext .js --ext .jsx

couple tweaks for admin panel
  app/admin/page.rb
  app/assets/stylesheets/admin/models/events.scss
  app/assets/stylesheets/admin/models/pages.scss
  app/assets/stylesheets/admin/models/targets.scss
  app/assets/stylesheets/admin/models/testimonials.scss
  app/assets/stylesheets/admin/utilities.scss
  app/decorators/content_decorator.rb
Due: bundle exec rubocop

instruments ordered_with_parent
  app/controllers/cclow/geography/legislations_controller.rb
  app/models/instrument.rb
Due: bundle exec rubocop

allow setting different branch to deploy to staging
  config/deploy/staging.rb
Due: bundle exec rubocop

update staging domains
  config/environments/staging.rb
Due: bundle exec rubocop

fix cp tooltip interactions on mobile
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/Tooltip.js
  app/javascript/components/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

use direct upload to fix preview whenever there is validation error
  app/helpers/file_helper.rb
  app/inputs/file_input.rb
  app/javascript/admin/index.js
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fix documents without language bug
  app/views/cclow/cclow/_documents_list.html.erb
Due: none

remove close button for cp performance tooltip
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/Tooltip.js
  app/javascript/components/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

changing title and description for cclow pages
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/climate_targets/index.html.erb
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/cclow/geography/legislations/index.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/index.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
  app/views/cclow/home/index.html.erb
  app/views/cclow/pages/show.html.erb
  app/views/layouts/cclow.html.erb
Due: none

change tpi pages titles and description, fix some of cclow as well
  app/views/cclow/geography/climate_targets/target_sector.html.erb
  app/views/layouts/tpi.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/home/disclaimer.html.erb
  app/views/tpi/home/index.html.erb
  app/views/tpi/home/newsletter.html.erb
  app/views/tpi/home/register.html.erb
  app/views/tpi/pages/show.html.erb
  app/views/tpi/publications/index.html.erb
  app/views/tpi/publications/show.html.erb
  app/views/tpi/search/index.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: none

updating dependencies
  Gemfile.lock
  config/webpacker.yml
  package.json
  yarn.lock
Due: none

fix html content list formatting for cclow
  app/assets/stylesheets/cclow/_geography-page.scss
  app/views/cclow/geographies/show.html.erb
  app/views/cclow/geography/legislations/show.html.erb
  app/views/cclow/geography/litigation_cases/show.html.erb
Due: none

more robust solution for wrong language
  app/views/cclow/cclow/_documents_list.html.erb
Due: none

bump node version
  config/deploy.rb
Due: bundle exec rubocop

bump node once again
  .nvmrc
  config/deploy.rb
Due: bundle exec rubocop

admin panel: add preview button for some resources
  app/admin/companies.rb
  app/admin/geographies.rb
  app/admin/legislations.rb
  app/admin/litigations.rb
  app/admin/news_article.rb
  app/admin/page.rb
  app/admin/tpi_sectors.rb
  app/decorators/legislation_decorator.rb
  app/decorators/page_decorator.rb
Due: bundle exec rubocop

fix cclow pages, slug_path -> path
  app/controllers/cclow/pages_controller.rb
  app/controllers/concerns/cclow/static_pages_controller.rb
Due: bundle exec rubocop

different domains for preview urls
  app/admin/companies.rb
  app/admin/geographies.rb
  app/admin/litigations.rb
  app/admin/news_article.rb
  app/admin/tpi_sectors.rb
  app/decorators/company_decorator.rb
  app/decorators/geography_decorator.rb
  app/decorators/legislation_decorator.rb
  app/decorators/litigation_decorator.rb
  app/decorators/news_article_decorator.rb
  app/decorators/page_decorator.rb
  app/decorators/tpi_sector_decorator.rb
  config/application.rb
  config/environments/production.rb
  config/environments/staging.rb
Due: bundle exec rubocop

admin: remove upload link for documents
  app/admin/documents.rb
  lib/extensions/active_admin/active_admin_csv_download.rb
Due: bundle exec rubocop

admin: do not break words in table cells
  app/assets/stylesheets/admin/base.scss
Due: none

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
