Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

Show not-applicable for EP 3 for <= 2024: ASCOR
  app/helpers/ascor_helper.rb
  app/views/tpi/ascor/_assessment.html.erb
Due: bundle exec rubocop

Fix assessment date selectors: ASCOR
  app/controllers/tpi/ascor_controller.rb
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/index_assessment.js.erb
  app/views/tpi/ascor/index_emissions_assessment.js.erb
Due: bundle exec rubocop

Move graph to EP 3 in country view for >2024: ASCOR
  app/views/tpi/ascor/_assessment.html.erb
  app/views/tpi/ascor/_assessment_indicators.html.erb
Due: none

Show empty areas if present: ASCOR
  app/helpers/ascor_helper.rb
  app/services/api/ascor/bubble_chart.rb
Due: bundle exec rubocop

Update terms of use URL: Download form
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Ordering locations, professional email check: Download form
  app/controllers/tpi/ascor_controller.rb
  app/controllers/tpi/banks_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/mailers/data_download_mailer.rb
  app/views/data_download_mailer/send_download_file_info_email.html.erb
  spec/mailers/data_download_mailer_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Separate CP from MQ download button: Download form
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Remove latest companies from download, add company id: Download form
  app/controllers/concerns/tpi/user_download.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/services/csv_export/user/mq_assessments.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add latest company assessment files for CP and MQ: Download
  app/controllers/concerns/tpi/user_download.rb
  app/services/csv_export/user/latest_cp_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
Due: bundle exec rubocop

Update spacing between company buttons: Download
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: eslint --ext .js --ext .jsx

Remove version toggles: Download
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: none

Support new fields in MQAssessment upload: Download
  app/admin/mq_assessments.rb
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/mq/assessment.rb
  app/services/csv_import/mq_assessments.rb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/mq_assessments/_form.html.erb
  app/views/tpi/companies/_mq_assessment_metadata.html.erb
  app/views/tpi/companies/mq_assessment.js.erb
  app/views/tpi/companies/show.html.erb
  db/migrate/20251204110115_add_fiscal_year_and_assessment_type_to_mq_assessments.rb
  db/structure.sql
Due: bundle exec rubocop

Add support for CP Methodology publication: Bank
  app/controllers/tpi/banks_controller.rb
  app/helpers/resource_attributes.rb
  app/models/content.rb
  app/views/admin/pages/_content_fields.html.erb
  app/views/tpi/banks/index.html.erb
  db/migrate/20251204154629_add_cp_methodology_publication_id_to_banks_content.rb
Due: bundle exec rubocop

Rename the migration :facepalm:: Bank
  db/migrate/20251204154629_add_cp_methodology_publication_id_to_banks_content.rb
Due: bundle exec rubocop

Run CP publication migration: Bank
  db/structure.sql
Due: none

Remove assessment_type: Download
  app/admin/mq_assessments.rb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/mq_assessments/_form.html.erb
  app/views/tpi/companies/_mq_assessment_metadata.html.erb
  db/structure.sql
Due: bundle exec rubocop

Add Downloadable field support: Download
  app/admin/mq_assessments.rb
  app/models/mq/assessment.rb
  app/services/csv_import/mq_assessments.rb
  app/views/admin/data_uploads/instruction/_mq_assessments.html.erb
  app/views/admin/mq_assessments/_form.html.erb
  db/migrate/20251208090415_add_downloadable_to_mq_assessments.rb
  db/structure.sql
Due: bundle exec rubocop

Unify font size: Download
  app/assets/stylesheets/tpi/_download-form-modal.scss
Due: none

Download buttons and icons' spacing: Download
  app/views/tpi/ascor/index.html.erb
  app/views/tpi/ascor/show.html.erb
  app/views/tpi/banks/index.html.erb
  app/views/tpi/banks/show.html.erb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/index.html.erb
  app/views/tpi/sectors/show.html.erb
Due: none

Update font-size in download form: Download
  app/assets/stylesheets/tpi/_download-form-modal.scss
  app/javascript/components/tpi/DownloadFormModal.jsx
Due: eslint --ext .js --ext .jsx

Fix banking placement buttons: Download
  app/assets/stylesheets/tpi/pages/ascor.scss
  app/assets/stylesheets/tpi/pages/banks-index.scss
  app/views/tpi/banks/index.html.erb
Due: none

Use company id on upload: Download|MQ
  app/services/csv_import/mq_assessments.rb
Due: bundle exec rubocop

Fix latest cp assessment download: MQ | Download
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
Due: bundle exec rubocop

Order first by publication_date: MQ | Download
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/api/presenters/company.rb
Due: bundle exec rubocop

Add timestamp to MQ download files: Download
  app/controllers/concerns/tpi/user_download.rb
Due: bundle exec rubocop

Add fiscal year to MQ data: Download
  app/services/csv_export/user/latest_mq_assessments.rb
Due: bundle exec rubocop

Use publication date instead of assessment date: MQ
  app/services/api/charts/mq_assessment.rb
  app/views/tpi/companies/_mq_assessment_metadata.html.erb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

Guide, email and fix of MQ graph: Download | MQ
  app/controllers/concerns/tpi/user_download.rb
  app/javascript/components/tpi/DownloadFormModal.jsx
  app/javascript/components/tpi/charts/bubble/Chart.js
  public/tpi/export_support/User guide - Management Quality.xlsx
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Add support for undefined, market cap group: MQ
  app/javascript/components/tpi/charts/bank-bubble/Chart.js
  app/models/bank.rb
  app/models/company.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

Fix pie chart v5 beta: MQ
  app/models/mq/assessment.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
Due: bundle exec rubocop

Another fix for MQ stuff: MQ
  app/models/mq/assessment.rb
Due: bundle exec rubocop

No skipping for beta assessments: MQ
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

Add fiscal year to files: MQ
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
Due: bundle exec rubocop

Fixes
  app/models/mq/assessment.rb
  app/services/api/charts/mq_assessment.rb
  app/services/api/charts/sector.rb
Due: bundle exec rubocop

Fixes
  app/models/mq/assessment.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
Due: bundle exec rubocop

Add CP user guide
  app/controllers/concerns/tpi/user_download.rb
  public/tpi/export_support/User guide - TPI Carbon Performance.xlsx
Due: bundle exec rubocop

Support industries from admin panel
  app/admin/industries.rb
  app/admin/tpi_sectors.rb
  app/controllers/tpi/sectors_controller.rb
  app/decorators/industry_decorator.rb
  app/decorators/tpi_sector_decorator.rb
  app/models/data_upload.rb
  app/models/industry.rb
  app/models/tpi_sector.rb
  app/services/csv_export/user/latest_mq_assessments.rb
  app/services/csv_export/user/mq_assessments.rb
  app/services/csv_import/helpers/cached_collections.rb
  app/services/csv_import/industries.rb
  app/views/admin/tpi_sectors/_form.html.erb
  db/migrate/20251212110612_create_join_table_industries_tpi_sectors.rb
  db/structure.sql
  industries_csv_quick_reference.txt
  industries_import_example.csv
  industries_import_with_ids_example.csv
Due: bundle exec rubocop

Allow timestamp format for uploads
  app/services/csv_import/mq_assessments.rb
Due: bundle exec rubocop

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
