Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

move groupAllAreaSeries to separate method
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/helpers.js
Due: eslint --ext .js --ext .jsx

fix tooltip borders, and remove overflow hidden from the chart
  app/assets/stylesheets/tpi/charts/cp-performance.scss
Due: none

refactor tooltip styles
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/Tooltip.js
  package.json
  yarn.lock
Due: eslint --ext .js --ext .jsx

remove react warnings, change style for xAxis crosshair
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/Tooltip.js
Due: eslint --ext .js --ext .jsx

add companies to the chart button
  app/assets/images/icons/plus.svg
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
Due: eslint --ext .js --ext .jsx

company chart selector
  app/assets/stylesheets/tpi/charts/chart-company-selector.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/ChartCompanySelector.js
Due: eslint --ext .js --ext .jsx

company chart selector works, styles are missing though
  app/javascript/components/CheckList.js
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/ChartCompanySelector.js
  app/javascript/components/charts/cp-performance/CompanySelector.js
Due: eslint --ext .js --ext .jsx

style chart selector component
  app/assets/stylesheets/tpi/buttons.scss
  app/assets/stylesheets/tpi/charts/chart-company-selector.scss
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
Due: eslint --ext .js --ext .jsx

sort litigation be event's date
  app/controllers/cclow/litigation_cases_controller.rb
Due: bundle exec rubocop

handle click outside
  app/javascript/components/charts/cp-performance/CPPerformance.js
Due: eslint --ext .js --ext .jsx

fix brakeman
  config/brakeman.ignore
Due: none

company tag
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/CompanyTag.js
  app/javascript/components/charts/cp-performance/LegendItem.js
Due: eslint --ext .js --ext .jsx

handle colors for legend items
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/CompanyTag.js
Due: eslint --ext .js --ext .jsx

dark x
  app/assets/images/icons/dark-x.svg
  app/assets/stylesheets/tpi/charts/cp-performance.scss
  app/javascript/components/charts/cp-performance/CompanyTag.js
Due: eslint --ext .js --ext .jsx

apply changes button
  app/assets/stylesheets/tpi/charts/chart-company-selector.scss
  app/javascript/components/CheckList.js
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/CompanySelector.js
Due: eslint --ext .js --ext .jsx

fix applying colors to legend items
  app/javascript/components/charts/cp-performance/CPPerformance.js
Due: eslint --ext .js --ext .jsx

bring back the unit
  app/javascript/components/charts/cp-performance/CPPerformance.js
Due: eslint --ext .js --ext .jsx

style for disabled state
  app/assets/stylesheets/tpi/charts/chart-company-selector.scss
  app/javascript/components/charts/cp-performance/CompanySelector.js
Due: eslint --ext .js --ext .jsx

hide company selector in cp assessment
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/views/tpi/companies/_cp_assessment.html.erb
Due: eslint --ext .js --ext .jsx

hide remove icon on company page
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/CompanyTag.js
Due: eslint --ext .js --ext .jsx

fix console error
  app/javascript/components/charts/cp-performance/CPPerformance.js
Due: eslint --ext .js --ext .jsx

remount react components when ajax loading cp assessment chart
  app/views/tpi/companies/cp_assessment.js.erb
Due: none

sort companies by name in company selector
  app/javascript/components/charts/cp-performance/CPPerformance.js
Due: eslint --ext .js --ext .jsx

set chart height to 500px
  app/javascript/components/charts/cp-performance/CPPerformance.js
Due: eslint --ext .js --ext .jsx

Enable climate risk score data
  map_data/germanwatch_global_climate_risk_index_1999--2018.csv
  map_data/germanwatch_global_climate_risk_index_1999--2018.yml
Due: none

Title updates
  map_data/germanwatch_global_climate_risk_index_1999--2018.yml
Due: none

Update text again
  map_data/germanwatch_global_climate_risk_index_1999--2018.yml
Due: none

Deactivate layers, change title
  map_data/cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.yml
  map_data/emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.yml
Due: none

Reordering layers
  app/models/cclow_map_context_data.rb
  map_data/1- emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.csv
  map_data/1- emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.jsonld
  map_data/1- emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.yml
  map_data/2- emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.csv
  map_data/2- emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.jsonld
  map_data/2- emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.yml
  map_data/3- germanwatch_global_climate_risk_index_1999--2018.csv
  map_data/3- germanwatch_global_climate_risk_index_1999--2018.jsonld
  map_data/3- germanwatch_global_climate_risk_index_1999--2018.yml
  map_data/4- cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.csv
  map_data/4- cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.jsonld
  map_data/4- cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/5- cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.csv
  map_data/5- cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.jsonld
  map_data/5- cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
Due: bundle exec rubocop

fix specs for charts
  laws_and_pathways.iml
  spec/models/company_spec.rb
  spec/services/api/charts/cp_assessment_spec.rb
  spec/services/api/charts/cp_performance_spec.rb
  spec/services/api/charts/mq_assessment_spec.rb
  spec/services/api/charts/sector_spec.rb
Due: bundle exec rubocop

remove exta file
  laws_and_pathways.iml
Due: none

Handle EU aggregation differently
  app/models/cclow_map_context_data.rb
  map_data/1- emissions_total_fossil_fuels_and_cement_including_LUCF_in_MtCO2e_2016.yml
  map_data/2- emissions_total_fossil_fuels_and_cement_including_LUCF_in_percent_2016.yml
  map_data/3- germanwatch_global_climate_risk_index_1999--2018.yml
  map_data/4- cumalitive_direct_economic_loss_disasters_in_current_us_dollars_2005--2018.yml
  map_data/5- cumalitive_direct_economic_loss_disasters_relative_to_gdp_percent_2005--2018.yml
Due: bundle exec rubocop

cp performance chart: move options to separate files
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/components/charts/cp-performance/options.js
Due: eslint --ext .js --ext .jsx

improve litigation pg search
  app/models/litigation.rb
  db/migrate/20200216155620_enable_unaccent.rb
  db/migrate/20200216161342_enable_trigram.rb
  db/schema.rb
  spec/models/litigation_spec.rb
Due: bundle exec rubocop

eager load geographies for latest events
  app/services/api/latest_additions.rb
Due: bundle exec rubocop

starting refactor of LawsDropdown
  app/javascript/components/LawsDropdown.js
  app/models/litigation.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

fuzzy search on geography, but do not on litigation
  app/models/geography.rb
  app/models/litigation.rb
  spec/models/litigation_spec.rb
Due: bundle exec rubocop

common hooks
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/javascript/components/LawsDropdown.js
  app/javascript/components/charts/cp-performance/CPPerformance.js
  app/javascript/shared/hooks/index.js
  app/javascript/shared/hooks/use-debounce.js
  app/javascript/shared/hooks/use-outside-click.js
Due: eslint --ext .js --ext .jsx

refresh results only when results changed
  app/javascript/components/LawsDropdown.js
Due: eslint --ext .js --ext .jsx

add simple searching state
  app/assets/stylesheets/cclow/_laws-dropdown.scss
  app/javascript/components/LawsDropdown.js
Due: eslint --ext .js --ext .jsx

Path conditions:
  eslint --ext .js --ext .jsx: any of: *.{js,jsx}
  bundle exec rubocop: any of: *.rb
