Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

CP changes: show new columns in admin
  app/admin/cp_benchmarks.rb
  app/views/admin/cp_benchmarks/_form.html.erb
Due: bundle exec rubocop

Fix video embedding
  app/javascript/admin/controllers/embed_trix_controller.js
Due: eslint --ext .js --ext .jsx

CP Changes v2
  app/assets/stylesheets/tpi/pages/company.scss
  app/controllers/concerns/tpi/user_download.rb
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/models/company.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
  spec/models/cp/benchmark_spec.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

CP Changes V2: first iter
  app/assets/stylesheets/tpi/pages/company.scss
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  app/services/api/presenters/company.rb
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

CP Changes V2: second iter
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/models/company_subsector.rb
  app/models/cp/assessment.rb
  app/models/tpi_sector.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

CP Changes V2: addendum
  app/models/cp/assessment.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/presenters/company.rb
  app/services/csv_export/user/cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/admin/data_uploads/instruction/_cp_assessments.html.erb
  app/views/admin/data_uploads/instruction/_cp_benchmarks.html.erb
  app/views/tpi/companies/show.html.erb
  spec/models/cp/assessment_spec.rb
  spec/models/tpi_sector_spec.rb
  spec/services/api/charts/cp_assessment_spec.rb
  spec/services/csv_export/user/chemicals_cp_benchmarks_spec.rb
  spec/services/csv_export/user/cp_benchmarks_spec.rb
Due: bundle exec rubocop

CP Changes 2: addendum 2
  app/assets/stylesheets/tpi/pages/company.scss
  app/services/api/charts/cp_assessment.rb
  app/views/tpi/companies/_cp_assessment.html.erb
  spec/services/api/charts/cp_assessment_spec.rb
Due: bundle exec rubocop

CP Changes v2: addendum 3
  app/assets/stylesheets/tpi/pages/company.scss
  app/services/api/charts/cp_assessment.rb
Due: bundle exec rubocop

CP Changes v2: addendum 4
  app/assets/stylesheets/tpi/pages/company.scss
  app/views/tpi/companies/_cp_assessment.html.erb
Due: none

CP changes: show steel subsector even if no data
  app/views/tpi/companies/show.html.erb
Due: none

CP Changes: first iteration
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/javascript/components/tpi/charts/cp-chemicals-bar/Chart.js
  app/javascript/components/tpi/charts/cp-chemicals-bar/index.js
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/models/cp/benchmark.rb
  app/services/api/charts/chemicals_sector.rb
  app/services/csv_export/user/chemicals_cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/tpi/companies/show.html.erb
  app/views/tpi/sectors/show.html.erb
  config/routes.rb
  db/migrate/20260428110000_add_benchmark_label_to_cp_benchmarks.rb
  db/migrate/20260428110001_create_steel_subsectors.rb
  db/migrate/20260428110002_add_steel_companies_subsector.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

CP changes: fix sector ref
  app/services/api/charts/chemicals_sector.rb
Due: bundle exec rubocop

CP changes: deactivate buttons when no data available
  app/controllers/tpi/companies_controller.rb
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Due: bundle exec rubocop

CP changes: fix date picker
  app/views/tpi/companies/cp_assessment.js.erb
  app/views/tpi/companies/show.html.erb
Due: none

CP changes: fix cp coal subsector graph
  app/views/tpi/companies/show.html.erb
Due: none

CP change: show message on missing data sector
  app/javascript/components/tpi/charts/cp-performance/Chart.js
Due: eslint --ext .js --ext .jsx

CP changes: notify when graph is empty
  app/views/tpi/companies/_cp_assessment.html.erb
Due: none

CP changes: change date picker
  app/views/tpi/companies/show.html.erb
Due: none

CP changes: fix sector ref 2
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

CP changes: fix sector ref 3
  app/controllers/tpi/sectors_controller.rb
Due: bundle exec rubocop

Rename migration
  db/migrate/20260428110000_add_benchmark_label_to_cp_benchmarks.rb
Due: bundle exec rubocop

CP changes: fix steel buttons
  app/views/tpi/companies/show.html.erb
Due: none

CP changes: fix cp banner for steel
  app/views/tpi/companies/show.html.erb
Due: none

CP Changes: Show Chemicals in homepage
  app/models/tpi_sector_cluster.rb
  app/views/tpi/home/_sector_cluster_stat.html.erb
Due: bundle exec rubocop

CP Changes: Show Chemicals as industry
  app/decorators/tpi/cp_performance_sector_decorator.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_performance.rb
Due: bundle exec rubocop

Remove climate arc
  app/views/tpi/home/index.html.erb
Due: none

CP Changes: review for steel and coal
  app/assets/stylesheets/tpi/pages/company.scss
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/services/api/charts/cp_assessment.rb
  app/services/csv_import/company_cp_assessments.rb
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

CP Changes 3 review: Invert styles steel vs global
  app/assets/stylesheets/tpi/pages/company.scss
Due: none

CP Changes 3 review: fix rendering of cp graph
  app/javascript/components/tpi/charts/cp-performance/chart-utils.js
  app/views/tpi/companies/_cp_assessment.html.erb
  app/views/tpi/companies/show.html.erb
Due: eslint --ext .js --ext .jsx

CP Changes 3 review: fix sector filtering cp graph
  app/services/api/charts/sector.rb
Due: bundle exec rubocop
