Repository Vizzuality/laws_and_pathways: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --ext .js --ext .jsx, bundle exec rubocop

.lintstagedrc:

{
  "*.{js,jsx}": ["eslint --ext .js --ext .jsx"],
  "*.rb": ["bundle exec rubocop"]
}

filter out sectors without companies
  app/controllers/tpi/sectors_controller.rb
  app/models/tpi_sector.rb
Due: bundle exec rubocop

remove not needed tooltips
  app/views/tpi/companies/show.html.erb
Due: none

hide go to cp performance link if there are none
  app/views/tpi/companies/show.html.erb
Due: none

more changes for stat box styles
  app/assets/stylesheets/tpi/pages/home.scss
  app/controllers/tpi/home_controller.rb
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Due: bundle exec rubocop

two new about menu entries
  app/assets/stylesheets/tpi/_navbar.scss
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/javascript/components/tpi/Navbar.js
  app/models/tpi_page.rb
  app/views/admin/pages/_form.html.erb
  app/views/layouts/tpi/_header.html.erb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

add position column to pages
  app/admin/page.rb
  app/controllers/concerns/tpi/static_pages_controller.rb
  app/models/cclow_page.rb
  app/models/page.rb
  app/models/tpi_page.rb
  app/views/admin/pages/_form.html.erb
  db/migrate/20220908080811_add_position_to_pages.rb
  db/structure.sql
  db/test-dump.psql
  spec/factories/pages.rb
  spec/models/cclow_page_spec.rb
  spec/models/tpi_page_spec.rb
Due: bundle exec rubocop

simple corporate bond issuers page
  app/assets/stylesheets/tpi/pages/corporate-bonds.scss
  app/controllers/tpi/home_controller.rb
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/corporate_bond_issuers.html.erb
  app/views/tpi/home/index.html.erb
  config/routes.rb
  public/tpi/static/Summary - top 30 OG and Electricity bond issuers.xlsx
Due: bundle exec rubocop

more small changes
  app/assets/stylesheets/tpi/_base-tooltip.scss
  app/controllers/tpi/sectors_controller.rb
  app/views/tpi/companies/show.html.erb
  config/locales/en.yml
Due: bundle exec rubocop

small change
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Due: none

corporate page padding
  app/assets/stylesheets/tpi/pages/corporate-bonds.scss
Due: none

use of the data
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Due: none

more changes
  app/views/layouts/tpi/_header.html.erb
  app/views/tpi/home/index.html.erb
  lib/tasks/onetime.rake
Due: none

forot abut that
  app/views/tpi/home/index.html.erb
Due: none

fix regional cp assessments
  app/models/company.rb
  app/models/cp/assessment.rb
Due: bundle exec rubocop

fix target years tooltip
  app/javascript/components/tpi/charts/cp-performance/Chart.js
  app/javascript/components/tpi/charts/cp-performance/options.js
  app/services/api/charts/cp_assessment.rb
Due: eslint --ext .js --ext .jsx, bundle exec rubocop

use semicolons for isin, sedol in csv export
  app/services/csv_export/user/bank_assessments.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_export/user/cp_assessments.rb
  app/services/csv_export/user/cp_assessments_regional.rb
  app/services/csv_export/user/mq_assessments.rb
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_bank_assessments_csv.json
Due: bundle exec rubocop

bigger partners logos
  app/assets/stylesheets/tpi/_banner.scss
  app/assets/stylesheets/tpi/_navbar.scss
Due: none

fix bug with regional view
  app/controllers/tpi/companies_controller.rb
Due: bundle exec rubocop

fix variant image resize
  app/models/publication.rb
Due: bundle exec rubocop

fix saving emission if is 0
  app/javascript/admin/controllers/with_emission_table_form_controller.js
Due: eslint --ext .js --ext .jsx

cpr banner
  app/assets/stylesheets/cclow.scss
  app/views/cclow/home/_hero.html.erb
  app/views/layouts/cclow.html.erb
  app/views/layouts/cclow/_header.html.erb
Due: none

refactoring: CP Assessments table is polymorphic
  Gemfile
  Gemfile.lock
  app/admin/cp_assessments.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/company.rb
  app/models/cp/assessment.rb
  app/services/csv_export/user/company_latest_assessments.rb
  app/services/csv_import/cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20190703130037_create_cp_benchmarks.rb
  db/migrate/20190703153230_create_mq_assessments.rb
  db/migrate/20190715092238_create_cp_assessments.rb
  db/migrate/20190916123835_add_cp_unit_to_sectors.rb
  db/migrate/20190916134155_cp_benchmarks_flatten.rb
  db/migrate/20190919175639_add_discarded_at_to_cp_assessments.rb
  db/migrate/20190919175646_add_discarded_at_to_mq_assessments.rb
  db/migrate/20191006152145_add_last_reported_year_to_cp_assessments.rb
  db/migrate/20220722075902_add_show_in_tpi_tool_to_tpi_sectors.rb
  db/migrate/20230612083439_make_cp_assessment_polymorphic.rb
  db/seeds.rb
  db/structure.sql
  db/test-dump.psql
  lib/extensions/active_admin/active_admin_csv_download.rb
  spec/controllers/admin/companies_controller_spec.rb
  spec/controllers/admin/cp_assessments_controller_spec.rb
  spec/factories/companies.rb
  spec/factories/cp_assessment.rb
  spec/models/cp/assessment_spec.rb
Due: bundle exec rubocop

refactoring: CP Benchmarks to store also Bank data
  app/admin/cp_benchmarks.rb
  app/controllers/concerns/tpi/user_download.rb
  app/models/cp/benchmark.rb
  app/services/csv_import/cp_benchmarks.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  db/migrate/20230613090106_add_source_to_cp_benchmark.rb
  db/structure.sql
  db/test-dump.psql
  spec/factories/cp_benchmarks.rb
  spec/models/cp/benchmark_spec.rb
Due: bundle exec rubocop

feat: Adding new importers for Bank CP data
  app/admin/banks.rb
  app/admin/cp_assessments.rb
  app/admin/cp_benchmarks.rb
  app/decorators/cp/assessment_decorator.rb
  app/models/bank.rb
  app/models/cp/assessment.rb
  app/models/data_upload.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_benchmarks.rb
  app/services/csv_import/company_cp_assessments.rb
  app/services/csv_import/company_cp_benchmarks.rb
  app/services/csv_import/cp_assessments.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/seed/tpi_data.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20230613101102_add2027_to_cp_assessment.rb
  db/seeds/tpi/bank-cp-assessments.csv
  db/seeds/tpi/bank-cp-benchmarks.csv
  db/seeds/tpi/company-cp-assessments.csv
  db/seeds/tpi/company-cp-benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/cp_assessments_controller_spec.rb
  spec/factories/cp_assessment.rb
  spec/support/fixtures/files/bank_cp_assessments.csv
  spec/support/fixtures/files/bank_cp_benchmarks.csv
  spec/support/fixtures/files/company_cp_assessments.csv
  spec/support/fixtures/files/company_cp_benchmarks.csv
Due: bundle exec rubocop

fix: structure.sql schema
  db/structure.sql
Due: none

fix: Distinguish between benchmarks from different source at Graphs
  app/models/cp/assessment.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  spec/models/tpi_sector_spec.rb
Due: bundle exec rubocop

refactoring: Removing source from Benchmark table
  app/admin/cp_benchmarks.rb
  app/controllers/concerns/tpi/user_download.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/models/data_upload.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  app/services/csv_import/bank_cp_benchmarks.rb
  app/services/csv_import/company_cp_benchmarks.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/seed/tpi_data.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  db/migrate/20230613090106_add_source_to_cp_benchmark.rb
  db/seeds/tpi/bank-cp-benchmarks.csv
  db/seeds/tpi/cp-benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_benchmarks.rb
  spec/models/cp/benchmark_spec.rb
  spec/models/tpi_sector_spec.rb
  spec/support/fixtures/files/bank_cp_benchmarks.csv
  spec/support/fixtures/files/cp_benchmarks.csv
Due: bundle exec rubocop

refactoring: TPI sector can be Company or Bank specific (or both).
  app/admin/companies.rb
  app/admin/cp_assessments.rb
  app/admin/mq_assessments.rb
  app/admin/tpi_sectors.rb
  app/controllers/tpi/companies_controller.rb
  app/controllers/tpi/search_controller.rb
  app/controllers/tpi/sectors_controller.rb
  app/models/tpi_sector.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/companies.rb
  app/services/csv_import/helpers.rb
  app/services/csv_import/news_articles.rb
  app/services/seed/tpi_data.rb
  app/validators/array_inclusion_validator.rb
  app/views/admin/tpi_sectors/_form.html.erb
  db/migrate/20230620080704_add_categories_to_sector.rb
  db/structure.sql
  db/test-dump.psql
  spec/factories/tpi_sectors.rb
  spec/models/tpi_sector_spec.rb
Due: bundle exec rubocop

refactoring: Adding category to CP Benchmark
  app/admin/cp_benchmarks.rb
  app/admin/tpi_sectors.rb
  app/controllers/concerns/tpi/user_download.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/models/data_upload.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  app/services/api/charts/sector.rb
  app/services/csv_import/bank_cp_benchmarks.rb
  app/services/csv_import/company_cp_benchmarks.rb
  app/services/csv_import/cp_benchmarks.rb
  app/services/seed/tpi_data.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  db/migrate/20230622073030_add_category_to_benchmarks.rb
  db/seeds/tpi/bank-cp-benchmarks.csv
  db/seeds/tpi/company-cp-benchmarks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_benchmarks.rb
  spec/models/cp/benchmark_spec.rb
  spec/models/tpi_sector_spec.rb
  spec/support/fixtures/files/bank_cp_benchmarks.csv
  spec/support/fixtures/files/company_cp_benchmarks.csv
Due: bundle exec rubocop

refactoring: Removing 2027 CP alignment
  app/admin/banks.rb
  app/admin/cp_assessments.rb
  app/models/bank.rb
  app/models/cp/assessment.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20230613101102_add2027_to_cp_assessment.rb
  db/migrate/20230613101102_add_sector_to_cp_assessment.rb
  db/seeds/tpi/bank-cp-assessments.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/factories/cp_assessment.rb
  spec/support/fixtures/files/bank_cp_assessments.csv
Due: bundle exec rubocop

feat: Store Matrix data
  app/admin/cp_assessments.rb
  app/admin/cp_benchmarks.rb
  app/admin/tpi_sector_clusters.rb
  app/admin/tpi_sectors.rb
  app/models/cp/assessment.rb
  app/models/cp/matrix.rb
  app/models/cp/portfolio.rb
  app/models/data_upload.rb
  app/models/tpi_sector.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/bank_cp_assessments2025.rb
  app/services/csv_import/bank_cp_assessments2035.rb
  app/services/csv_import/bank_cp_assessments2050.rb
  app/services/csv_import/cp_matrix.rb
  app/services/seed/tpi_data.rb
  app/views/admin/cp_assessments/_form.html.erb
  db/migrate/20230613101102_add_sector_to_cp_assessment.rb
  db/migrate/20230613101102_add_sector_to_cp_assessments.rb
  db/migrate/20230622093001_create_cp_matrices.rb
  db/seeds/tpi/bank-cp-assessments-2025.csv
  db/seeds/tpi/bank-cp-assessments.csv
  db/seeds/tpi/banks.csv
  db/structure.sql
  db/test-dump.psql
  spec/commands/csv_data_upload_spec.rb
  spec/controllers/admin/cp_assessments_controller_spec.rb
  spec/controllers/admin/tpi_sectors_controller_spec.rb
  spec/factories/cp_matrices.rb
  spec/models/cp/matrix_spec.rb
  spec/support/fixtures/files/bank_cp_assessments.csv
Due: bundle exec rubocop

feat: Show CP Matrix as part of Admin Bank detail
  app/admin/banks.rb
  app/models/cp/assessment.rb
  app/services/csv_import/bank_cp_assessments.rb
  app/services/csv_import/cp_matrix.rb
  app/views/admin/cp_benchmarks/_form.html.erb
  spec/controllers/admin/banks_controller_spec.rb
Due: bundle exec rubocop

feat: Annotating new models
  app/admin/cp_assessments.rb
  app/admin/tpi_sectors.rb
  app/models/cp/assessment.rb
  app/models/cp/benchmark.rb
  app/models/cp/matrix.rb
  app/models/tpi_sector.rb
  spec/factories/cp_benchmarks.rb
  spec/factories/cp_matrices.rb
  spec/factories/tpi_sectors.rb
  spec/models/cp/assessment_spec.rb
  spec/models/cp/benchmark_spec.rb
  spec/models/cp/matrix_spec.rb
  spec/models/tpi_sector_spec.rb
Due: bundle exec rubocop

chore: update of appsignal
  Gemfile.lock
Due: none

feat: emissions_chart_data for Banks
  app/controllers/tpi/banks_controller.rb
  app/models/bank.rb
  app/models/tpi_sector.rb
  app/services/api/charts/cp_assessment.rb
  config/routes.rb
  spec/services/api/charts/cp_assessment_spec.rb
Due: bundle exec rubocop

feat: matrix_data API for Banks
  app/controllers/tpi/banks_controller.rb
  app/models/cp/assessment.rb
  app/services/api/charts/cp_matrix.rb
  app/services/queries/tpi/latest_cp_assessments_query.rb
  config/routes.rb
  spec/services/api/charts/cp_matrix_spec.rb
  spec/services/queries/tpi/latest_cp_assessments_query_spec.rb
Due: bundle exec rubocop

feat: dummy components showing CP Bank data
  app/views/tpi/banks/_cp_assessments.html.erb
  app/views/tpi/banks/_cp_matrix.html.erb
  app/views/tpi/banks/show.html.erb
Due: none

feat: Export also Bank CP assessments
  app/controllers/concerns/tpi/user_download.rb
  app/controllers/tpi/banks_controller.rb
  app/services/csv_export/user/bank_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments.rb
  app/services/csv_export/user/company_cp_assessments_regional.rb
  app/views/tpi/banks/show.html.erb
  spec/controllers/tpi/banks_controller_spec.rb
  spec/controllers/tpi/sectors_controller_spec.rb
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_bank_assessments_csv.json
  spec/fixtures/snapshots/tpi_banking_tool_user_download_zip_bank_cp_assessments_csv.json
Due: bundle exec rubocop

refactoring: hide bank cp_assessments
  app/views/tpi/banks/show.html.erb
Due: none

refactoring: Bank sectors
  app/services/seed/tpi_data.rb
  db/seeds/tpi/bank-cp-assessments-2025.csv
  db/seeds/tpi/bank-cp-benchmarks.csv
  spec/support/fixtures/files/bank_cp_assessments.csv
Due: bundle exec rubocop
